<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "verificacin-cuenta" | i18n }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="full" *ngIf="user.verified">
    <ion-icon name="checkmark-circle" slot="start" color="secondary"></ion-icon>
    <ion-label>
      <h2>{{ "estado" | i18n }}:</h2>
      <h1 *ngIf="user?.verified">{{ "cuenta-verificada" | i18n }}</h1>
      <h1 *ngIf="!user?.verified">{{ "cuenta-no-verificada" | i18n }}</h1>
    </ion-label>
  </ion-item>
  <p class="ion-padding">{{ "tu-seguridad-es-muy-importante" | i18n }}</p>
  <ion-list>
    <ion-item>
      <ion-icon name="id-card" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <strong>{{ "identificacin-oficial" | i18n }}</strong>
        {{ "manera-ms-fiable-verificar-tu" | i18n }}
        <a href="mailto:hola@frikiradar.com">hola&#64;frikiradar.com</a>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="infinite" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <strong>{{ "realizar-un-pago" | i18n }}</strong>
        {{ "realizar-un-pago-para-suscribirte" | i18n }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
