:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

app-chat-list {
  width: 100%;
  max-width: 350px;
  height: 94vh;

  ::ng-deep {
    ion-list,
    ion-item,
    ion-content {
      --background: var(--ion-color-medium-dark) !important;
      background: #181818 !important;
    }
  }
}

app-chat-modal {
  width: 100%;
}

@media (max-width: 991px) {
  app-chat-list {
    display: none;
  }

  app-chat-modal {
    height: 100%;
  }
}
