ion-item.unread {
  --background: var(--ion-color-dark-shade) !important;
}

ion-label p {
  white-space: initial;
  color: #acacac;
}

ion-label h2 {
  white-space: initial;
}

.notifications-pane {
  display: none;
}
