<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "notificaciones" | i18n }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="readNotifications()"
        *ngIf="unreadNotifications?.notifications > 0"
      >
        <ion-icon slot="icon-only" name="mail-open-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="removeNotifications()" *ngIf="notifications?.length">
        <ion-icon
          slot="icon-only"
          src="/assets/icon/delete_sweep_white_24dp.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="!notifications">
    <ion-item *ngFor="let i of [].constructor(15)">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="notifications?.length || !notifications; else noNotifications">
    <ion-list>
      <ion-item
        button
        *ngFor="let notification of notifications"
        (click)="showNotification(notification)"
        [ngClass]="!notification?.time_read ? 'unread' : ''"
      >
        <ion-avatar slot="start">
          <img
            [src]="notification.fromuser.thumbnail"
            default="/assets/img/users/default.png"
          />
        </ion-avatar>
        <ion-label>
          <h2>{{ notification.title }}</h2>
          <p>{{notification.body}}</p>
          <ion-note>{{notification.date | niceDate}}</ion-note>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="showOptions($event, notification)">
            <ion-icon
              slot="icon-only"
              color="primary"
              name="ellipsis-vertical"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #noNotifications>
    <div class="full-center ion-padding">
      <ion-icon name="notifications-off"></ion-icon>
      <h2>{{ "sin-notificaciones" | i18n }}</h2>
      <p>{{ "no-tienes-ninguna-notificacin" | i18n }}</p>
    </div>
  </ng-template>
</ion-content>
