<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "recluta-gana" | i18n }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>{{ "recluta-tus-amigos-consigue-recompensas" | i18n }}</p>
  <p>{{"cuando-tu-amigo-se-registre" | i18n}}</p>
  <ion-list>
    <ion-item>
      <ion-icon name="infinite" slot="start" color="primary"></ion-icon>
      <ion-label>
        <p>
          <strong>{{ "frikiradar-unlimited" | i18n }}</strong>
          {{"si-tu-amigo-compra-tiempo" | i18n}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <p>{{"para-poder-disfrutar-del-programa" | i18n}}</p>
  <ul>
    <li>{{ "tu-amigo-debe-ser-un" | i18n }}</li>
    <li>
      {{ "al-registrarse-debe-indicar-que" | i18n }}
      <b>{{ "travs-un-amigo" | i18n }}</b> {{ "e-indicar-tu-nombre-usuario" |
      i18n }}
      <b>{{user?.username}}</b>
    </li>
    <li>{{ "momento-que-tu-amigo-aada" | i18n }}</li>
    <li>{{ "no-hay-lmite-amigos-para" | i18n }}</li>
  </ul>
</ion-content>
