<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Salas de chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <div *ngIf="!rooms" id="rooms">
    <ion-item *ngFor="let i of [].constructor(12)">
      <ion-thumbnail>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h2 class="room-name">
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p class="room-description">
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </div>
  <div *ngIf="rooms" id="rooms">
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="reorderRooms($event)"
    >
      <ion-item
        button
        lines="none"
        (click)="showRoom(room.slug)"
        *ngFor="let room of rooms"
        lazy-load-images
      >
        <ion-thumbnail>
          <img
            [attr.data-src]="room.image"
            default="/assets/img/pages/default-games-page.jpg"
            [alt]="room.name"
          />
          <ion-badge color="primary" *ngIf="room?.unread">&nbsp;</ion-badge>
        </ion-thumbnail>
        <ion-label>
          <h2 class="room-name" [ngClass]="room?.unread ? 'unread' : ''">
            {{ room?.name }}
          </h2>
          <p class="room-description">{{room?.description}}</p>
        </ion-label>
        <ion-reorder slot="end" (click)="vibration.vibrate(5)">
          <ion-icon color="light" name="reorder-two"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </div>
</ion-content>
