#rooms {
    ion-thumbnail {
        --border-radius: 8px;
        margin-right: 10px;
    }

    .room-name.unread {
        font-weight: bolder;
    }

    .room-description {
        white-space: initial;
        color: rgb(172, 172, 172);
    }

    ion-badge {
        position: absolute;
        left: 45px;
        border-radius: 15px;
        z-index: 1;
        width: 20px;
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
      }
}