ion-grid {
  padding: 0;
}

.info {
  background: #222222;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.register {
  width: 50%;
  max-width: 500px;

  form {
    ion-slide {
      display: block;
      text-align: inherit;
      height: 85vh;
    }

    ion-item {
      --border-color: white;
    }

    ion-label {
      --color: #9c2c51 !important;
      white-space: inherit;

      p {
        color: white !important;
      }
    }
  }
}

form {
  .sc-ion-buttons-md-h {
    margin-bottom: -14px;
    margin-right: -12px;
    color: #e91e63;
  }

  .sc-ion-buttons-ios-h {
    position: relative;
    top: 20px;
    left: 20px;

    ion-icon {
      color: #e91e63 !important;
    }
  }
}