<div class="ion-padding">
  <form (submit)="submitRegister()" [formGroup]="registerForm">
    <h2>{{ "cmo-an-no-tienes-una" | i18n }}</h2>
    <p>
      {{ "pasa-ya-te-queda-muy" | i18n }}
    </p>

    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input
        label="{{ 'username' | i18n }}"
        labelPlacement="floating"
        required
        type="text"
        autocapitalize="words"
        formControlName="username"
        debounce="500"
        name="username"
      >
      </ion-input>
    </ion-item>
    <div class="error-message" *ngIf="usernameSuggestion">
      <ion-icon name="information-circle-outline"></ion-icon>
      {{ "oops-username-not-available" | i18n }} {{ usernameSuggestion }}
    </div>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('username').invalid &&
        registerForm.get('username').value &&
        !usernameSuggestion
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon
      >{{ "mnimo-3-caracteres-mximo-15" | i18n }}
    </div>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('username').invalid &&
        registerForm.get('username').value &&
        !usernameSuggestion
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon
      >{{ "letras-nmeros-guiones-puntos" | i18n }}
    </div>
    <ion-item *ngIf="!credential">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input
        label="{{ 'email' | i18n }}"
        labelPlacement="floating"
        required
        type="email"
        autocomplete="email"
        formControlName="email"
        debounce="500"
        name="email"
      >
      </ion-input>
    </ion-item>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('email').invalid && registerForm.get('email').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon
      >{{ "introduce-una-direccin-correo-electrnico" | i18n }}
    </div>
    <ion-item *ngIf="!credential">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input
        label="{{ 'password' | i18n }}"
        labelPlacement="floating"
        required
        [type]="clearPassword ? 'text' : 'password'"
        formControlName="password"
        debounce="500"
        name="password"
      ></ion-input>
      <ion-buttons slot="end" *ngIf="!registerForm.get('password').pristine">
        <ion-button (click)="clearPassword = !clearPassword">
          <ion-icon
            slot="icon-only"
            [name]="clearPassword ? 'eye' : 'eye-off'"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('password').invalid &&
        registerForm.get('password').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon
      >{{ "introduce-un-mnimo-8-caracteres" | i18n }}
    </div>
    <ion-item button id="open-calendar">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap"
        >{{ "fecha-nacimiento" | i18n }}
        <ion-text color="primary">{{
          registerForm.get("birthday").value | niceDate
        }}</ion-text></ion-label
      >
    </ion-item>
    <ion-modal trigger="open-calendar" cssClass="date-modal">
      <ng-template>
        <ion-datetime
          formControlName="birthday"
          presentation="date"
          [locale]="language"
          [first-day-of-week]="language == 'es' ? 1 : 0"
          min="1900-01-01"
          max="{{ (today | date : 'y') - 18 }}-{{ today | date : 'MM' }}-{{
            today | date : 'dd'
          }}"
        >
        </ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-item>
      <ion-icon name="body-outline" slot="start"></ion-icon>
      <ion-select
        labelPlacement="floating"
        label="{{ 'gender' | i18n }}"
        interface="action-sheet"
        cancelText="{{ 'cancelar' | i18n }}"
        placeholder="{{ 'selecciona-uno' | i18n }}"
        formControlName="gender"
      >
        <ion-select-option
          *ngFor="let gender of userSvc.getGenders()"
          [value]="gender"
          >{{ gender | i18n }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('password').invalid &&
        registerForm.get('password').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon
      >{{ "debes-seleccionar-una-opcin" | i18n }}
    </div>
    <ion-item>
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-select
        label="{{ 'looking-for' | i18n }}"
        labelPlacement="floating"
        cancelText="{{ 'cancelar' | i18n }}"
        placeholder="Selecciona"
        formControlName="lovegender"
        multiple
      >
        <ion-select-option
          *ngFor="let likegender of userSvc.getGenders()"
          [value]="likegender"
          >{{ likegender | i18n }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-select
        label="{{ 'how-did-you-find-us' | i18n }}"
        labelPlacement="floating"
        interface="action-sheet"
        cancelText="{{ 'cancelar' | i18n }}"
        placeholder="{{ 'selecciona-uno' | i18n }}"
        formControlName="meet"
      >
        <ion-select-option value="friend">{{
          "travs-un-amigo" | i18n
        }}</ion-select-option>
        <ion-select-option value="youtube">{{
          "por-un-youtuber" | i18n
        }}</ion-select-option>
        <ion-select-option value="blog">{{
          "un-blog-web-noticias" | i18n
        }}</ion-select-option>
        <ion-select-option value="social">{{
          "una-red-social" | i18n
        }}</ion-select-option>
        <ion-select-option value="store">{{
          "un-buscador-tienda-aplicaciones" | i18n
        }}</ion-select-option>
        <ion-select-option value="event">{{
          "un-eventoconvencin" | i18n
        }}</ion-select-option>
        <ion-select-option value="contest">{{
          "participando-un-sorteo-concurso" | i18n
        }}</ion-select-option>
        <ion-select-option [value]="false">{{
          "otro-no-se-no-quiero" | i18n
        }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="registerForm.get('meet').value">
      <ion-label position="floating">
        {{
          registerForm.get("meet").value === "friend"
            ? ("nombre-o-email-amigo" | i18n)
            : ""
        }}
        {{
          registerForm.get("meet").value === "youtube"
            ? ("nombre-youtuber" | i18n)
            : ""
        }}
        {{
          registerForm.get("meet").value === "blog"
            ? ("nombre-blog" | i18n)
            : ""
        }}
        {{
          registerForm.get("meet").value === "social"
            ? ("nombre-red-social" | i18n)
            : ""
        }}
        {{
          registerForm.get("meet").value === "event"
            ? ("nombre-evento" | i18n)
            : ""
        }}
        {{
          registerForm.get("meet").value === "contest"
            ? ("nombre-organizador" | i18n)
            : ""
        }}
        {{
          registerForm.get("meet").value === "store"
            ? ("nombre-tienda" | i18n)
            : ""
        }}
      </ion-label>
      <ion-input
        aria-label="Nombre de usuario"
        type="text"
        autocapitalize="words"
        formControlName="referral"
        debounce="500"
        name="referral"
      >
      </ion-input>
    </ion-item>
    <div class="error-message" *ngIf="referralFailed">
      <ion-icon name="information-circle-outline"></ion-icon>
      {{ "no-encontramos-usuario-est-bien" | i18n }}
    </div>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('password').invalid &&
        registerForm.get('password').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon
      >{{ "debes-seleccionar-una-opcin" | i18n }}
    </div>
    <ion-item lines="none">
      <ion-label
        ><p>
          {{ "acepto" | i18n }}
          <a (click)="urlSvc.openUrl('https://frikiradar.com/tos')">{{
            "aviso-legal" | i18n
          }}</a>
          {{ "" | i18n }}
          <a
            (click)="
              urlSvc.openUrl('https://frikiradar.com/politica-de-privacidad/')
            "
            >{{ "poltica-privacidad" | i18n }}</a
          >
          {{ "frikiradar" | i18n }}
        </p></ion-label
      >
      <ion-checkbox
        aria-label
        slot="start"
        formControlName="acceptos"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none">
      <ion-label
        ><p>{{ "fecha-nacimiento-indicada-es-correcta" | i18n }}</p></ion-label
      >
      <ion-checkbox
        aria-label
        slot="start"
        formControlName="age"
      ></ion-checkbox>
    </ion-item>
    <ion-button color="primary" type="submit" expand="block" shape="round">{{
      "registrarme" | i18n
    }}</ion-button>
  </form>
</div>
