<div class="ion-padding">
  <form (submit)="submitRegister()" [formGroup]="registerForm">
    <h2>¿Cómo? ¿Aún no tienes una cuenta?</h2>
    <p>
      Pasa, ¡ya te queda muy muy poco para comenzar a conocer frikis en tu zona!
    </p>

    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input
        label="Nombre de usuario"
        labelPlacement="floating"
        required
        type="text"
        autocapitalize="words"
        formControlName="username"
        debounce="500"
        name="username"
      >
      </ion-input>
    </ion-item>
    <div class="error-message" *ngIf="usernameSuggestion">
      <ion-icon name="information-circle-outline"></ion-icon>Ups! Nombre de
      usuario no disponible. Sugerencia {{ usernameSuggestion }}
    </div>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('username').invalid &&
        registerForm.get('username').value &&
        !usernameSuggestion
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon>Mínimo de 3
      caracteres y máximo de 15.
    </div>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('username').invalid &&
        registerForm.get('username').value &&
        !usernameSuggestion
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon>Letras, números,
      guiones (-_) y puntos(.).
    </div>
    <ion-item *ngIf="!credential">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input
        label="Correo electrónico"
        labelPlacement="floating"
        required
        type="email"
        autocomplete="email"
        formControlName="email"
        debounce="500"
        name="email"
      >
      </ion-input>
    </ion-item>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('email').invalid && registerForm.get('email').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon>Introduce una
      dirección de correo electrónico válida.
    </div>
    <ion-item *ngIf="!credential">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input
        label="Contraseña"
        labelPlacement="floating"
        required
        [type]="clearPassword ? 'text' : 'password'"
        formControlName="password"
        debounce="500"
        name="password"
      ></ion-input>
      <ion-buttons slot="end" *ngIf="!registerForm.get('password').pristine">
        <ion-button (click)="clearPassword = !clearPassword">
          <ion-icon
            slot="icon-only"
            [name]="clearPassword ? 'eye' : 'eye-off'"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('password').invalid &&
        registerForm.get('password').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon>Introduce un mínimo
      de 8 caracteres.
    </div>
    <ion-item button id="open-calendar" lines="full">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap"
        >Fecha de nacimiento
        <ion-text color="primary">{{
          registerForm.get("birthday").value | niceDate
        }}</ion-text></ion-label
      >
    </ion-item>
    <ion-modal trigger="open-calendar" cssClass="date-modal">
      <ng-template>
        <ion-datetime
          formControlName="birthday"
          presentation="date"
          locale="es-ES"
          first-day-of-week="1"
          min="1900-01-01"
          max="{{ (today | date : 'y') - 18 }}-{{ today | date : 'MM' }}-{{
            today | date : 'dd'
          }}"
        >
        </ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-item>
      <ion-select
        labelPlacement="floating"
        label="Mi identidad de género (opcional)"
        interface="action-sheet"
        cancel-text="Cancelar"
        placeholder="Selecciona uno"
        formControlName="gender"
      >
        <ion-select-option
          *ngFor="let gender of userSvc.getGenders()"
          [value]="gender"
          >{{ gender }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('password').invalid &&
        registerForm.get('password').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon>Debes seleccionar
      una opción
    </div>
    <ion-item>
      <ion-select
        label="Estoy buscando (opcional)"
        labelPlacement="floating"
        cancel-text="Cancelar"
        placeholder="Selecciona"
        formControlName="lovegender"
        multiple
      >
        <ion-select-option
          *ngFor="let likegender of userSvc.getGenders()"
          [value]="likegender"
          >{{ likegender }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        label="¿Cómo nos has conocido?"
        labelPlacement="floating"
        interface="action-sheet"
        cancel-text="Cancelar"
        placeholder="Selecciona uno"
        formControlName="meet"
      >
        <ion-select-option value="friend"
          >A través de un amigo</ion-select-option
        >
        <ion-select-option value="youtube">Por un youtuber</ion-select-option>
        <ion-select-option value="blog"
          >En un blog o web de noticias</ion-select-option
        >
        <ion-select-option value="social">En una red social</ion-select-option>
        <ion-select-option value="store"
          >En un buscador o tienda de aplicaciones</ion-select-option
        >
        <ion-select-option value="event"
          >En un evento/convención</ion-select-option
        >
        <ion-select-option value="contest"
          >Participando en un sorteo o concurso</ion-select-option
        >
        <ion-select-option [value]="false"
          >Otro, no se o no quiero decirlo</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item *ngIf="registerForm.get('meet').value">
      <ion-label position="floating">
        {{
          registerForm.get("meet").value === "friend"
            ? "Nombre de usuario o email de tu amigo"
            : ""
        }}
        {{
          registerForm.get("meet").value === "youtube"
            ? "¿Cuál es el nombre del youtuber?"
            : ""
        }}
        {{
          registerForm.get("meet").value === "blog"
            ? "¿Cómo se llama el blog o la web?"
            : ""
        }}
        {{
          registerForm.get("meet").value === "social"
            ? "¿En cuál red social, página o perfil?"
            : ""
        }}
        {{
          registerForm.get("meet").value === "event"
            ? "Nombre del evento o convención"
            : ""
        }}
        {{
          registerForm.get("meet").value === "contest"
            ? "Nombre del organizador"
            : ""
        }}
        {{
          registerForm.get("meet").value === "store"
            ? "Nombre del buscador o tienda"
            : ""
        }}
      </ion-label>
      <ion-input
        aria-label="Nombre de usuario"
        type="text"
        autocapitalize="words"
        formControlName="referral"
        debounce="500"
        name="referral"
      >
      </ion-input>
    </ion-item>
    <div class="error-message" *ngIf="referralFailed">
      <ion-icon name="information-circle-outline"></ion-icon>No encontramos el
      usuario. ¿Está bien escrito?
    </div>
    <div
      class="error-message"
      *ngIf="
        registerForm.get('password').invalid &&
        registerForm.get('password').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon>Debes seleccionar
      una opción
    </div>
    <ion-item lines="none">
      <ion-label
        ><p>
          Acepto el
          <a (click)="urlSvc.openUrl('https://frikiradar.com/tos')"
            >Aviso legal</a
          >
          y la
          <a
            (click)="
              urlSvc.openUrl('https://frikiradar.com/politica-de-privacidad/')
            "
            >Política de privacidad</a
          >
          de frikiradar.
        </p></ion-label
      >
      <ion-checkbox
        aria-label
        slot="start"
        formControlName="acceptos"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none">
      <ion-label><p>La fecha de nacimiento indicada es correcta.</p></ion-label>
      <ion-checkbox
        aria-label
        slot="start"
        formControlName="age"
      ></ion-checkbox>
    </ion-item>
    <ion-button color="primary" type="submit" expand="block" shape="round"
      >Registrarme</ion-button
    >
  </form>
</div>
