@media (min-width: 768px) {
  ion-content {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    display: flex; /* Activa Flexbox */
  }

  .main-content {
    max-width: 768px; /* Limita el ancho del contenido */
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh; /* Asegura que el contenedor tenga al menos el alto de la pantalla */
    flex-direction: column; /* Organiza los elementos en columna */
  }
}

#posts {
  margin-top: 20px;
}

.subtitle {
  font-size: 10pt;
  color: rgb(172, 172, 172);
}

ion-thumbnail {
  --border-radius: 8px;
  margin-right: 10px;
}

.section-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

#search {
  ion-icon {
    font-size: 24px;
  }
}

ion-fab-button ion-icon {
  color: white;
}

#post-filters ion-button {
  padding: 5px;
}
