.subtitle {
  font-size: 10pt;
  color: rgb(172, 172, 172);
}

ion-thumbnail {
  --border-radius: 8px;
  margin-right: 10px;
}

.section-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

#pages {
  background: var(--ion-color-medium-dark);
  margin: 20px;
  border-radius: 25px;

  ion-card {
    border-radius: 8px;
  }

  ion-card-header {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000085;

    ion-card-title, ion-card-subtitle {
      color: white;
      text-shadow: 0px 0px 2px black;
    }
  }

  ion-label {
    font-size: 12px;
    color: var(--ion-color-light);
    margin-left: auto;
    margin-right: auto;
  }
}
