ion-list {
  padding-bottom: 80px;
}

ion-item {
  p {
    color: #dddddd;
  }

  ion-badge {
    position: relative;
    left: 30px;
    border-radius: 15px;
    z-index: 1;
    width: 20px;
    height: 20px;
    bottom: 15px;
    border: 2px solid var(--ion-color-dark);
    font-size: 11px;
  }

  ion-note {
    color: white;
  }

  &.selected {
    --background: var(--ion-color-primary-shade) !important;
  }
}
