:host {
  display: flex;
  flex-direction: column;
}

#chat-wrapper {
  display: flex;
}

ion-item {
  p {
    color: #dddddd;
  }

  .user-online {
    position: relative;
    left: 30px;
    border-radius: 15px;
    z-index: 1;
    width: 15px;
    height: 15px;
    bottom: 13px;
    border: 2px solid var(--ion-color-dark);
    font-size: 11px;
  }

  .chat-count {
    display: block;

    ion-badge {
      margin-top: 5px;
      border-radius: 15px;
      width: 25px;
      height: 25px;
      border: 2px solid var(--ion-color-dark);
      font-size: 14px;
    }
  }

  ion-note {
    color: white;
  }

  &.selected {
    --background: var(--ion-color-primary-shade) !important;
  }
}
