<ion-content>
  <div class="full-center ion-padding" *ngIf="view === 'request'">
    <ion-icon name="location-sharp"></ion-icon>
    <h2>{{ "permisos-ubicacin" | i18n }}</h2>
    <p>{{"para-que-frikiradar-pueda-sugerirte" | i18n}}</p>
    <ion-button shape="round" fill="outline" (click)="close(true)"
      >{{ "permitir" | i18n }}</ion-button
    >
  </div>

  <div class="full-center ion-padding" *ngIf="view === 'force'">
    <ion-icon name="location-sharp"></ion-icon>
    <h2>{{ "ups" | i18n }}</h2>
    <p>{{ "para-que-frikiradar-pueda-encontrar" | i18n}}</p>
    <div *ngIf="isPlatform('capacitor'); else noCapacitor">
      <p>{{ "verifica-permisos-ubicacin-ajustes-aplicacin" | i18n }}</p>
      <ion-button shape="round" fill="outline" (click)="changeSettings()"
        >{{ "cambiar-ajustes" | i18n }}</ion-button
      >
    </div>
    <ng-template #noCapacitor>
      <p>{{ "verifica-permisos-ubicacin-ajustes-del" | i18n }}</p>
      <ion-button
        shape="round"
        fill="outline"
        href="https://support.google.com/chrome/answer/142065?co=GENIE.Platform%3DDesktop&hl=es&oco=1"
        target="_blank"
        >{{ "ms-informacin" | i18n }}</ion-button
      >
    </ng-template>
    <ion-item lines="none" button (click)="showManualGeolocation()">
      <ion-text color="secondary"
        >{{ "introducir-manualmente" | i18n }}</ion-text
      >
    </ion-item>
  </div>
</ion-content>

<!-- modals -->

<ion-modal
  [initialBreakpoint]="0.4"
  [breakpoints]="[0, 0.4, 0.6]"
  [isOpen]="manualGeolocationModal"
  cssClass="sheet-modal"
  (didDismiss)="savePreferences()"
>
  <ng-template>
    <ion-content class="ion-padding">
      <ion-item lines="full">
        <ion-label class="ion-text-center"
          >{{ "introducir-manualmente" | i18n }}</ion-label
        >
      </ion-item>
      <ion-list>
        <ion-item color="dark">
          <ion-icon name="earth" slot="start"></ion-icon>
          <ion-select
            label="Tu país"
            labelPlacement="floating"
            interface="action-sheet"
            cancelText="{{ 'cancelar' | i18n }}"
            placeholder="{{ 'selecciona-uno' | i18n }}"
            [value]="user?.country"
            debounce="2000"
            (ionChange)="changePreferences('country', $event.detail.value)"
          >
            <ion-select-option
              *ngFor="let country of countries"
              [value]="country"
              >{{ country }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="dark">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-input
            label="Municipio o C.P."
            labelPlacement="floating"
            clearOnEdit="true"
            (ionInput)="changePreferences('city', $event.detail.value)"
            [value]="user?.city"
          ></ion-input>
        </ion-item>
        <ion-button
          expand="block"
          shape="round"
          fill="outline"
          (click)="savePreferences()"
          >{{ "guardar-cambios" | i18n }}</ion-button
        >
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
