<ion-content>
  <div class="full-center ion-padding" *ngIf="view === 'request'">
    <ion-icon name="location-sharp"></ion-icon>
    <h2>Permisos de ubicación</h2>
    <p>
      Para que el FrikiRadar pueda sugerirte a personas que están cerca de ti es
      necesario que aceptes el permiso para ver tu ubicación.
    </p>
    <ion-button shape="round" fill="outline" (click)="close(true)"
      >PERMITIR</ion-button
    >
  </div>

  <div class="full-center ion-padding" *ngIf="view === 'force'">
    <ion-icon name="location-sharp"></ion-icon>
    <h2>Ups!</h2>
    <p>
      Para que el FrikiRadar pueda encontrar personas que están cerca de ti es
      necesario que aceptes el permiso para ver tu ubicación.
    </p>
    <div *ngIf="isPlatform('capacitor'); else noCapacitor">
      <p>Verifica los permisos de ubicación en los ajustes de la aplicación.</p>
      <ion-button shape="round" fill="outline" (click)="changeSettings()"
        >CAMBIAR AJUSTES</ion-button
      >
    </div>
    <ng-template #noCapacitor>
      <p>Verifica los permisos de ubicación en los ajustes del navegador.</p>
      <ion-button
        shape="round"
        fill="outline"
        href="https://support.google.com/chrome/answer/142065?co=GENIE.Platform%3DDesktop&hl=es&oco=1"
        target="_blank"
        >MÁS INFORMACIÓN</ion-button
      >
    </ng-template>
    <ion-item lines="none" button (click)="showManualGeolocation()">
      <ion-label>
        <ion-text color="secondary">Introducir manualmente</ion-text>
      </ion-label>
    </ion-item>
  </div>
</ion-content>

<!-- modals -->

<ion-modal
  [initialBreakpoint]="0.3"
  [breakpoints]="[0, 0.3]"
  [isOpen]="manualGeolocationModal"
  cssClass="sheet-modal"
  (didDismiss)="savePreferences()"
>
  <ng-template>
    <ion-content class="ion-padding">
      <ion-item lines="full">
        <ion-label class="ion-text-center">Introducir manualmente</ion-label>
      </ion-item>
      <ion-list>
        <ion-item color="dark">
          <ion-icon name="earth" slot="start"></ion-icon>
          <ion-select
            label="Tu país"
            labelPlacement="floating"
            interface="action-sheet"
            cancel-text="Cancelar"
            placeholder="Selecciona uno"
            [value]="user?.country"
            debounce="2000"
            (ionChange)="changePreferences('country', $event.detail.value)"
          >
            <ion-select-option
              *ngFor="let country of countries"
              [value]="country"
              >{{ country }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="dark">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-input
            label="Municipio o C.P."
            labelPlacement="floating"
            clearOnEdit="true"
            (ionInput)="changePreferences('city', $event.detail.value)"
            [value]="user?.city"
          ></ion-input>
        </ion-item>
        <ion-button
          expand="block"
          shape="round"
          fill="outline"
          (click)="savePreferences()"
          >GUARDAR CAMBIOS</ion-button
        >
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
