ion-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  ion-toolbar {
    padding-top: var(--status-bar-height);
  }
}

ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --background: black;
}

swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

swiper-slide {
  width: 100%;
}

img {
  object-fit: cover !important;
  height: 100%;
  width: 100%;
}

ion-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

ion-footer p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  text-align: justify;
  margin-bottom: 15px;
}

ion-toolbar {
  --background: #00000055;
}

ion-header,
ion-footer {
  background: transparent;
}

h2,
p,
ion-icon {
  color: white !important;
}
