.toggle {
    height: 30px;
    margin: 0;
    margin-left: -25px;
    ion-icon {
        font-size: 30px;
    }
}

ion-range {
    width: 180px;
}

ion-note {
    position: absolute;
    top: 23px;
    left: 36px;
    color: white;
}