.toggle {
  height: 30px;
  margin: 0;
  margin-left: -25px;
  ion-icon {
    font-size: 30px;
  }
}

ion-range {
  width: 180px;
}

ion-note {
  color: white;
  margin-right: 0;

  &.ios {
    font-size: 10px;
    top: 42px;
  }
}
