<ion-card button>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-chip (click)="close()">
          <ion-label>
            <ng-container *ngIf="!adViewed; else closeLabel"
              >Recompensa en {{ counter }}</ng-container
            >
            <ng-template #closeLabel>{{ "cerrar" | i18n }}</ng-template>
          </ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="background-image" (click)="openUrl()">
    <img [src]="ad.image_url" />
  </div>
  <ion-card-content *ngIf="ad.title || ad.description" (click)="openUrl()">
    <ion-card-title>{{ ad.title }}</ion-card-title>
    <p>{{ ad.description }}</p>
  </ion-card-content>
</ion-card>
