ion-title,
p {
  font-family: "Press Start 2P", cursive !important;
}

ion-title {
  font-size: 12pt;
  padding: 0;
  text-align: center;
}

p {
  margin-top: 10px;
  font-size: 8pt;
  line-height: 1.5;
}

ion-button {
  margin: 10px;
}
