ion-title,
p,
h3 {
  font-family: "Press Start 2P", serif !important;
}

ion-title {
  font-size: 12pt;
  padding: 0;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 10pt;
  margin-top: 0;
  margin-bottom: 40px;
}

.options {
  ion-item {
    margin-bottom: 40px;
  }
}

p {
  font-size: 8pt !important;
  line-height: 1.5;
  color: white;
  margin-top: 20px;
}

img {
  height: 100px;
}
