<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="deny()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "normas-comunidad" | i18n }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p class="ion-text-center">
    {{ "incumplimiento-estas-reglas-conllevarn-expulsin" | i18n }}
    <ion-list>
      <ion-item>
        <ion-icon name="hand-right" slot="start" color="danger"></ion-icon>
        <ion-label>
          <p>
            <strong>{{ "no-spam" | i18n }}</strong> {{
            "frikiradar-est-diseado-para-conocer" | i18n }}
            <strong>{{ "links-redes-sociales-estn-permitidos" | i18n }}</strong>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="fish" slot="start" color="tertiary"></ion-icon>
        <ion-label>
          <p>
            <strong>{{ "desnudos-imgenes-explcitas" | i18n }}</strong>
            {{ "desnudos-1" | i18n }}
            <strong>{{ "desnudos-2" | i18n }}</strong>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="body" slot="start" color="primary"></ion-icon>
        <ion-label>
          <p>
            <strong>{{ "respeto" | i18n }}</strong> {{ "esta-aplicacin" | i18n
            }}
            <strong>{{ "respetamos-todas-personas" | i18n }}</strong>
            {{ "independientemente-su-nacionalidad-color-etnia" | i18n }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </p>

  <p class="ion-text-center">{{ "caso-dudas-con-alguna-norma" | i18n }}</p>
  <div *ngIf="!accepted">
    <ion-button (click)="accept()" shape="round" expand="block" class="primary"
      >{{ "he-ledo-acepto-normas" | i18n }}
    </ion-button>
    <p class="ion-text-center" id="forgot-password">
      <a (click)="deny()">{{ "no-estoy-acuerdo" | i18n }}</a>
    </p>
  </div>
</ion-content>
