<ion-list
  id="usernames"
  *ngIf="usernames?.length && message?.value?.length > 3"
>
  <ion-item
    lines="none"
    button
    *ngFor="let u of usernames"
    (click)="setMention(u.username)"
  >
    <ion-avatar>
      <img [src]="u.thumbnail" default="/assets/img/users/default.png" />
    </ion-avatar>
    <ion-label>{{ u.username }}</ion-label>
  </ion-item>
</ion-list>
<div id="image-preview" *ngIf="image && imagePreview">
  <ion-icon
    name="close-circle"
    slot="icon-only"
    (click)="image = ''; imagePreview = ''"
  ></ion-icon>
  <ion-thumbnail>
    <img [src]="imagePreview" />
  </ion-thumbnail>
</div>
<ion-item
  lines="none"
  id="audio-preview"
  [style]="recorded ? '' : 'display: none;'"
>
  <audio
    #player
    controlsList="nodownload"
    [src]="audioPreview"
    controls="true"
  ></audio>
  <ion-buttons slot="end">
    <ion-button (click)="removeRecorded()">
      <ion-icon slot="icon-only" name="close-outline" color="danger"></ion-icon>
    </ion-button>
    <ion-button (click)="sendMessage()">
      <ion-icon
        slot="icon-only"
        name="checkmark-outline"
        color="secondary"
      ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item id="reply-to" lines="none" *ngIf="replying">
  <ion-icon name="arrow-undo-outline" slot="start"></ion-icon>
  <ion-thumbnail *ngIf="selectedMessage.image">
    <img [src]="selectedMessage?.image" />
  </ion-thumbnail>
  <ion-label>
    <p class="reply-to-name">{{ selectedMessage?.fromuser.name }}</p>
    <p class="reply-to-text">{{ selectedMessage?.text }}</p>
  </ion-label>
  <ion-icon button (click)="closeReplying()" name="close" slot="end"></ion-icon>
</ion-item>
<ion-item id="edit" lines="none" *ngIf="editing">
  <ion-icon name="pencil-sharp" slot="start"></ion-icon>
  <ion-thumbnail *ngIf="selectedMessage.image">
    <img [src]="selectedMessage?.image" />
  </ion-thumbnail>
  <ion-label>
    <p class="reply-to-name">Editar mensaje</p>
    <p class="reply-to-text">{{ selectedMessage?.text }}</p>
  </ion-label>
  <ion-icon button (click)="closeEdit()" name="close" slot="end"></ion-icon>
</ion-item>
<ion-toolbar id="text-input" *ngIf="!recorded">
  <form [formGroup]="chatForm" autocomplete="off" *ngIf="!recording">
    <ion-item lines="none">
      <ion-buttons ion-activatable slot="start">
        <ion-button (click)="openEmojis()">
          <ion-icon
            slot="icon-only"
            color="dark"
            [name]="emojis ? 'close-outline' : 'happy-outline'"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-textarea
        placeholder="Escribe un mensaje..."
        autocapitalize="on"
        (keydown.enter)="keydownEnter($event)"
        formControlName="message"
        #textarea
        autoGrow
        rows="1"
        (ionFocus)="emojis = false"
        (ionInput)="setWriting($event.detail.value)"
        (paste)="onPaste($event)"
      >
      </ion-textarea>
      <ion-buttons slot="end">
        <ion-button
          *ngIf="!message.value && !image && events"
          (click)="createEvent()"
        >
          <ion-icon slot="icon-only" name="calendar" color="dark"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!replying" id="open-picture-sheet" slot="end">
          <ion-icon slot="icon-only" name="camera" color="dark"></ion-icon>
        </ion-button>
        <input
          type="file"
          accept="image/*"
          #imageInput
          style="display: none"
          name="default"
          (change)="addPicture($event.target.files[0])"
          (click)="imageInput.value = null"
        />
      </ion-buttons>
    </ion-item>
  </form>
  <ion-item *ngIf="recording" lines="none">
    <ion-text class="ion-text-center" color="medium">
      Grabando audio... {{ countRecordingString }}</ion-text
    >
  </ion-item>
  <ion-buttons ion-activatable slot="end">
    <ion-button
      *ngIf="!microphone || message.value || image"
      [disabled]="!message.value && !image"
      (click)="sendMessage()"
    >
      <ion-icon slot="icon-only" color="primary" name="send"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="!message.value && !image && microphone && !recording"
      (click)="openMic()"
    >
      <ion-icon slot="icon-only" name="mic" color="light"></ion-icon>
    </ion-button>
    <ion-button *ngIf="microphone && recording" (click)="stopMic()">
      <ion-icon slot="icon-only" name="mic-off" color="danger"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<emoji-mart
  *ngIf="emojis"
  isNative="true"
  emoji="point_up"
  darkMode="true"
  showPreview="false"
  [style]="{ width: '100%' }"
  (emojiSelect)="addEmoji($event)"
  title="Elige un emoji"
  [i18n]="{
    search: 'Busca el emoji perfecto',
    emojilist: 'Listado de emojis',
    found: 'Emoji no encontrado',
    clear: 'Borrar',
    categories: {
      search: 'Resultados',
      recent: 'Más usados',
      people: 'Caras y personas',
      nature: 'Animales y naturaleza',
      foods: 'Comida y bebida',
      activity: 'Actividad',
      places: 'Viajes y lugares',
      objects: 'Objetos',
      symbols: 'Símbolos',
      flags: 'Banderas',
      custom: 'FrikiRadar'
    }
  }"
></emoji-mart>

<!-- modals -->

<ion-modal
  [breakpoints]="[0, 0.3]"
  [initialBreakpoint]="0.3"
  trigger="open-picture-sheet"
  cssClass="sheet-modal"
>
  <ng-template>
    <ion-content class="ion-padding">
      <p>
        Enviar contenido explícito sin el consentimiento del receptor puede ser
        motivo de expulsión.
      </p>
      <ion-list>
        <ion-item
          button
          detail="false"
          (click)="selectPictureFromCamera()"
          lines="none"
        >
          <ion-icon slot="start" name="camera" color="light"></ion-icon>
          <ion-label>Desde la cámara</ion-label>
        </ion-item>
        <ion-item
          lines="none"
          button
          detail="false"
          (click)="selectPictureFromGallery()"
        >
          <ion-icon slot="start" name="images" color="light"></ion-icon>
          <ion-label>Desde la galería</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
