<ion-list
  id="usernames"
  *ngIf="usernames?.length && message?.value?.length > 3"
>
  <ion-item
    lines="none"
    button
    *ngFor="let u of usernames"
    (click)="setMention(u.username)"
  >
    <ion-avatar>
      <img [src]="u.thumbnail" />
    </ion-avatar>
    <ion-label>{{ u.username }}</ion-label>
  </ion-item>
</ion-list>
<div id="image-preview" *ngIf="image && imagePreview">
  <ion-icon
    name="close-circle"
    slot="icon-only"
    (click)="image = ''; imagePreview = ''"
  ></ion-icon>
  <ion-thumbnail>
    <img [src]="imagePreview" />
  </ion-thumbnail>
</div>
<ion-item id="reply-to" lines="none" *ngIf="replying">
  <ion-icon name="arrow-undo-outline" slot="start"></ion-icon>
  <ion-thumbnail *ngIf="selectedMessage.image">
    <img [src]="selectedMessage?.image" />
  </ion-thumbnail>
  <ion-label>
    <p class="reply-to-name">{{ selectedMessage?.fromuser.name }}</p>
    <p class="reply-to-text">{{ selectedMessage?.text }}</p>
  </ion-label>
  <ion-icon button (click)="closeReplying()" name="close" slot="end"></ion-icon>
</ion-item>
<ion-item id="edit" lines="none" *ngIf="editing">
  <ion-icon name="pencil-sharp" slot="start"></ion-icon>
  <ion-thumbnail *ngIf="selectedMessage.image">
    <img [src]="selectedMessage?.image" />
  </ion-thumbnail>
  <ion-label>
    <p class="reply-to-name">Editar mensaje</p>
    <p class="reply-to-text">{{ selectedMessage?.text }}</p>
  </ion-label>
  <ion-icon button (click)="closeEdit()" name="close" slot="end"></ion-icon>
</ion-item>
<ion-toolbar id="text-input">
  <ion-buttons ion-activatable slot="start">
    <ion-button (click)="openEmojis()">
      <ion-icon
        slot="icon-only"
        [name]="emojis ? 'close-outline' : 'happy-outline'"
      ></ion-icon>
    </ion-button>
    <ion-button *ngIf="!replying" (click)="openPictureSheet()">
      <ion-icon slot="icon-only" name="camera"></ion-icon>
    </ion-button>
    <input
      type="file"
      accept="image/*"
      #imageInput
      style="display: none;"
      name="default"
      (change)="addPicture($event.target.files[0])"
    />
  </ion-buttons>
  <form [formGroup]="chatForm" autocomplete="off">
    <ion-item lines="none">
      <ion-textarea
        placeholder="Escribe tu mensaje aquí"
        autocapitalize="on"
        (keydown.enter)="sendMessage($event)"
        formControlName="message"
        #textarea
        autoGrow
        rows="1"
        (ionFocus)="emojis = false"
        (ionChange)="setWriting($event.detail.value)"
        (paste)="onPaste($event)"
      >
      </ion-textarea>
    </ion-item>
  </form>
  <ion-buttons ion-activatable slot="end">
    <ion-button
      color="primary"
      [disabled]="!message.value && !image"
      (click)="sendMessage()"
    >
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<emoji-mart
  *ngIf="emojis"
  isNative="true"
  emoji="point_up"
  darkMode="true"
  showPreview="false"
  [style]="{ width: '100%' }"
  (emojiSelect)="addEmoji($event)"
  title="Elige un emoji"
  [i18n]="{
    search: 'Busca el emoji perfecto',
    emojilist: 'Listado de emojis',
    found: 'Emoji no encontrado',
    clear: 'Borrar',
    categories: {
      search: 'Resultados',
      recent: 'Más usados',
      people: 'Caras y personas',
      nature: 'Animales y naturaleza',
      foods: 'Comida y bebida',
      activity: 'Actividad',
      places: 'Viajes y lugares',
      objects: 'Objetos',
      symbols: 'Símbolos',
      flags: 'Banderas',
      custom: 'FrikiRadar'
    }
  }"
></emoji-mart>
