<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!user && page?.category !== 'games'"
      >{{editing ? 'Editando evento ' + event.title : 'Crea un nuevo
      evento'}}</ion-title
    >
    <ion-title *ngIf="user">
      Configurando una cita con {{user?.name}}
    </ion-title>
    <ion-title *ngIf="page?.category === 'games'">
      Partida a {{page?.name}}</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p *ngIf="!editing && !user && !page">
    Indica el tema del evento, la fecha y donde se realizará (por internet o en
    persona).
  </p>
  <ion-list>
    <form [formGroup]="eventForm" (submit)="submitEvent()" autocomplete="off">
      <ion-item>
        <ion-input
          formControlName="title"
          placeholder="Título del evento"
          [readonly]="!!user"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          [placeholder]="user ? 'Escribe todos los detalles de la cita, para que no se te olvide nada.' : 'Escribe aquí la descripción del evento, en que consiste y toda la información que necesiten las personas interesadas en apuntarse'"
          rows="3"
          formControlName="description"
        ></ion-textarea>
      </ion-item>
      <ion-item lines="none" class="show-more" *ngIf="!user">
        <ion-label>{{ "fecha-hora-inicio" | i18n }}</ion-label>
      </ion-item>
      <ion-item button lines="none" id="open-date">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap"
          >{{ "fechahora-inicio" | i18n }}
          <ion-text color="primary"
            >{{eventForm.get("date").value | date:'E d MMM y, HH:mm'}}</ion-text
          ></ion-label
        >
        <ion-modal trigger="open-date" cssClass="date-modal">
          <ng-template>
            <ion-datetime
              presentation="date-time"
              formControlName="date"
              locale="es-ES"
              first-day-of-week="1"
              max="2030-12-31"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item-group *ngIf="!user">
        <ion-item
          button
          (click)="endDate = !endDate"
          lines="none"
          class="show-more"
        >
          <ion-label>{{ "-fecha-hora-finalizacin" | i18n }}</ion-label>
          <ion-icon
            [name]="endDate ? 'chevron-up' : 'chevron-down'"
            color="light"
            size="small"
          ></ion-icon>
        </ion-item>
        <ion-item button *ngIf="endDate" lines="none" id="open-end-date">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap"
            >{{ "fechahora-fin" | i18n }}
            <ion-text color="primary"
              >{{eventForm.get("endDate").value | date:'E d MMM y,
              HH:mm'}}</ion-text
            ></ion-label
          >
          <ion-modal trigger="open-end-date" cssClass="date-modal">
            <ng-template>
              <ion-datetime
                presentation="date-time"
                formControlName="endDate"
                locale="es-ES"
                first-day-of-week="1"
                [min]="eventForm.get('date').value"
                max="2030-12-31"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-item-group>
      <ion-segment
        mode="ios"
        [value]="type"
        (ionChange)="changeType($event.detail.value)"
      >
        <ion-segment-button value="online">
          <ion-label color="light">{{ "lnea" | i18n }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="offline">
          <ion-label color="light">{{ "persona" | i18n }}</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-item>
        <ion-input
          formControlName="url"
          [placeholder]="user ? 'URL de la cita' : 'URL del evento'"
          inputmode="url"
        ></ion-input>
      </ion-item>
      <div *ngIf="type === 'offline'">
        <ion-item>
          <ion-select
            label="País"
            interface="action-sheet"
            cancelText="{{ 'cancelar' | i18n }}"
            placeholder="{{ 'selecciona-uno' | i18n }}"
            formControlName="country"
            [value]="country"
            debounce="2000"
            (ionChange)="changeLocation()"
          >
            <ion-select-option
              *ngFor="let country of utils.getCountries()"
              [value]="country"
              >{{ country }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input
            debounce="2000"
            (ionChange)="changeLocation()"
            formControlName="city"
            placeholder="Ciudad / localidad / municipio"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            debounce="2000"
            (ionChange)="changeLocation()"
            formControlName="address"
            placeholder="Dirección / nombre del lugar"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            debounce="2000"
            (ionChange)="changeLocation()"
            formControlName="postal_code"
            placeholder="Código postal"
          ></ion-input>
        </ion-item>
        <iframe
          *ngIf="mapSrc"
          width="100%"
          height="300"
          style="border: 0"
          loading="lazy"
          allowfullscreen
          [src]="mapSrc"
        ></iframe>
      </div>
      <ion-item-group *ngIf="!user">
        <ion-item
          button
          (click)="showMore = !showMore"
          lines="none"
          class="show-more"
        >
          <ion-label>{{ "-configuracin-extra" | i18n }}</ion-label>
          <ion-icon
            [name]="showMore ? 'chevron-up' : 'chevron-down'"
            color="light"
            size="small"
          ></ion-icon>
        </ion-item>
        <div *ngIf="showMore">
          <ion-item lines="none">
            <ion-input
              label="Edad mínima"
              formControlName="minage"
              slot="start"
              type="number"
              value="0"
              min="0"
              max="99"
              maxlength="2"
              placeholder="0"
              inputmode="numeric"
            ></ion-input>
            <ion-label>{{ "aos" | i18n }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-input
              label="Precio"
              formControlName="price"
              placeholder="Precio"
              value="0"
              type="number"
              inputmode="decimal"
              step="0.01"
              min="0"
            ></ion-input>
          </ion-item>
          <div *ngIf="type === 'offline'">
            <ion-item>
              <ion-input
                formControlName="contact_phone"
                placeholder="Teléfono de contacto"
                inputmode="tel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="contact_email"
                placeholder="Email de contacto"
                inputmode="email"
              ></ion-input>
            </ion-item>
          </div>
        </div>
      </ion-item-group>
      <ion-item *ngIf="!user">
        <ion-thumbnail slot="start" *ngIf="src || event?.image">
          <img [src]="src ? src : event?.image" />
        </ion-thumbnail>
        <ion-button
          (click)="selectPicture()"
          color="primary"
          shape="round"
          expand="full"
        >
          {{ "seleccionar-imagen" | i18n }}
        </ion-button>
      </ion-item>
      <ion-item lines="none" *ngIf="auth.isAdmin() && !user && !event?.id">
        <ion-label>{{ "evento-oficial" | i18n }}</ion-label>
        <ion-checkbox slot="start" formControlName="official"></ion-checkbox>
      </ion-item>
      <ion-button
        color="primary"
        type="submit"
        shape="round"
        expand="block"
        [disabled]="eventForm.invalid"
        >{{editing ? 'Guardar cambios' : (user ? 'Publicar cita' : 'Publicar
        evento')}}</ion-button
      >
    </form>
  </ion-list>
  <input
    type="file"
    accept="image/*"
    #imageInput
    name="image"
    style="display: none"
    (change)="cropImagebyEvent($event)"
  />
</ion-content>
