ion-toolbar {
  --opacity: 0.4;

  &.show-background {
    --opacity: 1;
  }
}

ion-content {
  position: absolute;
}

ion-list {
  background: transparent;

  .category-header ion-icon {
    color: white;
    margin-right: 5px;
  }
}

ion-slide {
  display: block;
}

.swiper-slide {
  text-align: left;
}

form ion-icon {
  color: white;
  margin-right: 10px;
}

#file-input {
  display: none;
}

#camera-icon {
  position: relative;
  float: right;
  margin-top: -60px;
  padding: 10px;
  color: #ffffff;
  opacity: 0.8;
}

#description {
  --border-color: white;
}
