ion-toolbar {
  position: absolute;
  --background: transparent !important;

  ion-button.back {
    background: #2f2f2f87;
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  ion-icon {
    color: white !important;
  }
}

ion-grid {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 0px;
}

ion-list {
  background: transparent;

  .category-header ion-icon {
    margin-right: 5px;
  }
}

ion-segment.md {
  position: sticky;
  top: 0;
  z-index: 2;
}

ion-chip {
  ion-label {
    min-height: 15px;
    white-space: normal;
  }
}

ion-item ion-label p {
  white-space: normal;
}

ion-item-divider {
  ion-icon {
    margin-right: 10px;
  }
  ion-label {
    text-align: justify;
  }
}

#file-input {
  display: none;
}

.fav-icon {
  position: relative;
  float: right;
  margin-top: -100px;
  padding: 10px;
  color: #ffffff;
  opacity: 0.8;
  z-index: 1;
}

.del-icon {
  position: relative;
  float: right;
  margin-top: -140px;
  padding: 10px;
  color: #ffffff;
  opacity: 0.8;
  z-index: 1;
}

ion-item-group {
  ion-item-divider {
    margin-top: 20px;

    h2,
    ion-icon {
      color: white;
    }
  }

  ion-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#description {
  ion-icon {
    align-self: flex-start;
    margin-top: 18px;
  }
  ion-textarea {
    --border-color: var(--ion-color-light);
    --padding-top: 18px;
  }
}

ion-footer {
  background: var(--ion-color-dark);
}
