<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="back" (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button
          *ngIf="user?.images?.length < 9"
          (click)="openPictureSheet()"
        >
          <ion-icon
            slot="icon-only"
            src="/assets/icon/add_a_photo_white_24dp.svg"
            size="large"
          ></ion-icon>
        </ion-button>
        <ion-button (click)="deleteImage()">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="setAvatar()" *ngIf="activeImage > 0">
          <ion-icon slot="icon-only" name="star-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-slides
    #imageSlider
    [pager]="true"
    (ionSlideDidChange)="setActiveImage(imageSlider.getActiveIndex())"
  >
    <ion-slide>
      <img [src]="user?.avatar" default="/assets/img/users/default.jpg" />
    </ion-slide>
    <ion-slide *ngFor="let image of user?.images">
      <img [src]="image" default="/assets/img/users/default.jpg" />
    </ion-slide>
  </ion-slides>

  <input
    type="file"
    accept="image/*"
    #imageInput
    style="display: none"
    name="avatar"
    (change)="cropImagebyEvent($event)"
  />
  <form [formGroup]="profileForm">
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="primary">
          <ion-icon name="person-circle" slot="start"></ion-icon>
          <ion-label><h2>Mi información personal</h2></ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            formControlName="name"
            autocapitalize="on"
            autoGrow
          ></ion-input>
        </ion-item>
        <ion-item id="description">
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          <ion-label position="floating">Mensaje de presentación</ion-label>
          <ion-textarea
            formControlName="description"
            autocapitalize="on"
            autoGrow
          ></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label position="floating">Vivo en</ion-label>
          <ion-input
            formControlName="location"
            autocapitalize="on"
            autoGrow
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label
            >Fecha de nacimiento: {{profileForm.get('birthday').value | niceDate
            }}</ion-label
          >
          <!--<ion-input formControlName="birthday"></ion-input>-->
        </ion-item>
      </ion-item-group>
      <ion-item-group *ngIf="auth.isAdult()">
        <ion-item-divider color="primary">
          <ion-icon name="location" slot="start"></ion-icon>
          <ion-label>
            <h2>Información de radar</h2>
          </ion-label>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-label>
            <p>
              Información necesaria para que los usuarios te encuentren usando
              el radar o la búsqueda.
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Identidad de género</ion-label>
          <ion-select
            interface="action-sheet"
            cancel-text="Cancelar"
            placeholder="Selecciona uno"
            formControlName="gender"
          >
            <ion-select-option
              *ngFor="let gender of userSvc.getGenders()"
              [value]="gender"
              >{{ gender }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Orientación sexual</ion-label>
          <ion-select
            interface="action-sheet"
            cancel-text="Cancelar"
            placeholder="Selecciona uno"
            formControlName="orientation"
          >
            <ion-select-option
              *ngFor="let orientation of userSvc.getOrientations()"
              [value]="orientation"
            >
              {{ orientation }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Pronombre</ion-label>
          <ion-select
            interface="action-sheet"
            cancel-text="Cancelar"
            placeholder="Selecciona uno"
            formControlName="pronoun"
            value=""
          >
            <ion-select-option value="">Sin indicar</ion-select-option>
            <ion-select-option
              *ngFor="let pronoun of userSvc.getPronouns()"
              [value]="pronoun"
              >{{ pronoun }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Tipo de relación</ion-label>
          <ion-select
            interface="action-sheet"
            cancel-text="Cancelar"
            placeholder="Selecciona uno"
            formControlName="relationship"
            value=""
          >
            <ion-select-option value="">Sin indicar</ion-select-option>
            <ion-select-option
              *ngFor="let type of userSvc.getRelationships()"
              [value]="type"
              >{{ type }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-select
            interface="action-sheet"
            cancel-text="Cancelar"
            placeholder="Selecciona uno"
            formControlName="status"
            value=""
          >
            <ion-select-option value="">Sin indicar</ion-select-option>
            <ion-select-option
              *ngFor="let status of userSvc.getStatus()"
              [value]="status"
              >{{ status }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item-group>
      <ion-item-group *ngIf="auth.isAdult()">
        <ion-item-divider color="primary">
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-label>
            <h2>Estoy buscando...</h2>
          </ion-label>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-label>
            <p>
              Elige el tipo de persona que estás buscando. Esto afectará a los
              resultados de búsqueda y filtrado para el radar.
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Identidad de género</ion-label>
          <ion-select
            cancel-text="Cancelar"
            placeholder="Selecciona"
            formControlName="lovegender"
            multiple
          >
            <ion-select-option
              *ngFor="let likegender of userSvc.getGenders()"
              [value]="likegender"
              >{{ likegender }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ages">
          <ion-label>Edad desde </ion-label>
          <ion-input
            type="text"
            formControlName="minage"
            readonly
            placeholder="Años"
            (click)="openPicker('minage')"
          >
          </ion-input>

          <ion-label>- hasta</ion-label>
          <ion-input
            type="text"
            formControlName="maxage"
            readonly
            placeholder="Años"
            (click)="openPicker('maxage')"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo de conexión</ion-label>
          <ion-select
            cancel-text="Cancelar"
            placeholder="Selecciona uno"
            formControlName="connection"
            multiple
          >
            <ion-select-option
              *ngFor="let connection of userSvc.getConnections()"
              [value]="connection"
            >
              {{ connection }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </form>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="pricetags" slot="start"></ion-icon>
        <ion-label>
          <h2>Etiquetas de gustos frikis</h2>
        </ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-label>
          <p>
            Indica un videojuego, anime, serie, película, manga... por cada
            etiqueta. Tu porcentaje(%) de afinidad con los usuarios depende de
            esta información.
          </p>
        </ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item class="category-header">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-input
          #games
          placeholder="Videojuegos favoritos"
          clearInput="true"
          autocapitalize="words"
          (ionChange)="searchTag($event.detail.value, 'games')"
          [debounce]="500"
          (keyup.enter)="
                        addTag($event.target.value, 'games'); games.value = ''
                      "
          spellcheck="false"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <ion-chip
            *ngFor="let tag of getTagsCategory('games')"
            color="secondary"
          >
            <ion-icon
              name="close-circle"
              (click)="removeTag(tag.id)"
            ></ion-icon>
            <ion-label>{{ tag.name }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item class="category-header">
        <ion-icon name="film-outline"></ion-icon>
        <ion-input
          #films
          placeholder="Películas, series o animes favoritos"
          clearInput="true"
          autocapitalize="words"
          (ionChange)="searchTag($event.detail.value, 'films')"
          [debounce]="500"
          (keyup.enter)="
                        addTag($event.target.value, 'films'); films.value = ''
                      "
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <ion-chip
            *ngFor="let tag of getTagsCategory('films')"
            color="secondary"
          >
            <ion-icon
              name="close-circle"
              (click)="removeTag(tag.id)"
            ></ion-icon>
            <ion-label>{{ tag.name }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item class="category-header">
        <ion-icon name="book-outline"></ion-icon>
        <ion-input
          #books
          placeholder="Cómics, mangas o libros"
          clearInput="true"
          autocapitalize="words"
          (ionChange)="searchTag($event.detail.value, 'books')"
          [debounce]="500"
          (keyup.enter)="
                        addTag($event.target.value, 'books'); books.value = ''
                      "
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <ion-chip
            *ngFor="let tag of getTagsCategory('books')"
            color="secondary"
          >
            <ion-icon
              name="close-circle"
              (click)="removeTag(tag.id)"
            ></ion-icon>
            <ion-label>{{ tag.name }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item class="category-header">
        <ion-icon name="dice-outline"></ion-icon>
        <ion-input
          #role
          placeholder="Juegos de mesa, rol y cartas frikis"
          clearInput="true"
          autocapitalize="words"
          (ionChange)="searchTag($event.detail.value, 'role')"
          [debounce]="500"
          (keyup.enter)="
                        addTag($event.target.value, 'role'); role.value = ''
                      "
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <ion-chip
            *ngFor="let tag of getTagsCategory('role')"
            color="secondary"
          >
            <ion-icon
              name="close-circle"
              (click)="removeTag(tag.id)"
            ></ion-icon>
            <ion-label>{{ tag.name }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item class="category-header">
        <ion-icon name="headset-outline"></ion-icon>
        <ion-input
          #music
          placeholder="Música, artistas o canciones favoritas"
          clearInput="true"
          autocapitalize="words"
          (ionChange)="searchTag($event.detail.value, 'music')"
          [debounce]="500"
          (keyup.enter)="
                        addTag($event.target.value, 'music'); music.value = ''
                      "
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <ion-chip
            *ngFor="let tag of getTagsCategory('music')"
            color="secondary"
          >
            <ion-icon
              name="close-circle"
              (click)="removeTag(tag.id)"
            ></ion-icon>
            <ion-label>{{ tag.name }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button
    (click)="submitProfile()"
    class="ion-padding"
    color="primary"
    [disabled]="!profileForm.valid"
    expand="block"
    shape="round"
    >Guardar y salir
  </ion-button>
</ion-footer>
