<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="back" (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button
          *ngIf="user?.images?.length < 9"
          (click)="openPictureSheet()"
        >
          <ion-icon
            slot="icon-only"
            src="/assets/icon/add_a_photo_white_24dp.svg"
            size="large"
          ></ion-icon>
        </ion-button>
        <ion-button (click)="deleteImage()">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="setAvatar()">
          <ion-icon slot="icon-only" name="star-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <input
    type="file"
    accept="image/*"
    #imageInput
    style="display: none"
    name="avatar"
    (change)="cropImagebyEvent($event)"
    (click)="imageInput.value = null"
  />
  <ion-list *ngIf="loading; else profile">
    <ion-item lines="none">
      <ion-label>
        <h1>
          <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
        </h1>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <span *ngFor="let i of [].constructor(20)">
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 95%"></ion-skeleton-text>
          </p>
        </span>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #profile>
    <swiper
      [config]="sliderOpts"
      (swiper)="setSwiperInstance($event)"
      (click)="tap($event)"
      [scrollbar]="user?.images?.length"
    >
      <ng-template swiperSlide>
        <img [src]="user?.avatar" default="/assets/img/users/default.png" />
      </ng-template>
      <ng-template swiperSlide *ngFor="let image of user?.images">
        <img [src]="image" default="/assets/img/users/default.png" />
      </ng-template>
    </swiper>
    <form [formGroup]="profileForm">
      <ion-list>
        <ion-item-group>
          <ion-item-divider color="primary">
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-label><h2>Mi información personal</h2></ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-input
              label="Nombre"
              labelPlacement="floating"
              formControlName="name"
              autocapitalize="on"
              [autoGrow]="true"
            ></ion-input>
          </ion-item>
          <ion-item id="description" lines="none">
            <ion-icon name="document-text" slot="start"></ion-icon>
            <ion-textarea
              label="Mensaje de presentación"
              labelPlacement="floating"
              formControlName="description"
              autocapitalize="on"
              [autoGrow]="true"
              [counter]="true"
              maxlength="500"
            ></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-input
              label="Vivo en"
              labelPlacement="floating"
              formControlName="location"
              autocapitalize="on"
              [autoGrow]="true"
            ></ion-input>
          </ion-item>

          <ion-item button id="open-calendar">
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap"
              >Fecha de nacimiento
              <ion-text color="primary"
                >{{ profileForm.get("birthday").value | niceDate }}</ion-text
              ></ion-label
            >
          </ion-item>
          <ion-modal trigger="open-calendar" cssClass="date-modal">
            <ng-template>
              <ion-datetime
                formControlName="birthday"
                presentation="date"
                locale="es-ES"
                first-day-of-week="1"
                min="1900-01-01"
                max="{{ (today | date: 'y') - 18 }}-{{ today | date: 'MM' }}-{{
            today | date: 'dd'
          }}"
              >
              </ion-datetime>
            </ng-template>
          </ion-modal>
          <ion-item>
            <ion-icon name="language" slot="start"></ion-icon>
            <ion-select
              label="Idiomas que hablo"
              labelPlacement="floating"
              cancel-text="Cancelar"
              placeholder="Selecciona"
              formControlName="languages"
              multiple
            >
              <ion-select-option
                *ngFor="let language of languages"
                [value]="language.value"
                >{{ language.name }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider color="primary">
            <ion-icon name="location" slot="start"></ion-icon>
            <ion-label>
              <h2>Información de radar</h2>
              <p class="ion-text-wrap">
                Información necesaria para que los usuarios te encuentren usando
                el radar o la búsqueda.
              </p>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-select
              label="Identidad de género"
              labelPlacement="floating"
              interface="action-sheet"
              cancel-text="Cancelar"
              placeholder="Selecciona uno"
              formControlName="gender"
            >
              <ion-select-option
                *ngFor="let gender of userSvc.getGenders()"
                [value]="gender"
                >{{ gender }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select
              label="Orientación sexual"
              labelPlacement="floating"
              interface="action-sheet"
              cancel-text="Cancelar"
              placeholder="Selecciona uno"
              formControlName="orientation"
            >
              <ion-select-option
                *ngFor="let orientation of userSvc.getOrientations()"
                [value]="orientation"
              >
                {{ orientation }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select
              label="Pronombre"
              labelPlacement="floating"
              interface="action-sheet"
              cancel-text="Cancelar"
              placeholder="Selecciona uno"
              formControlName="pronoun"
              value=""
            >
              <ion-select-option value="">Sin indicar</ion-select-option>
              <ion-select-option
                *ngFor="let pronoun of userSvc.getPronouns()"
                [value]="pronoun"
                >{{ pronoun }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select
              label="Tipo de relación"
              labelPlacement="floating"
              interface="action-sheet"
              cancel-text="Cancelar"
              placeholder="Selecciona uno"
              formControlName="relationship"
              value=""
            >
              <ion-select-option value="">Sin indicar</ion-select-option>
              <ion-select-option
                *ngFor="let type of userSvc.getRelationships()"
                [value]="type"
                >{{ type }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select
              label="Estado"
              labelPlacement="floating"
              interface="action-sheet"
              cancel-text="Cancelar"
              placeholder="Selecciona uno"
              formControlName="status"
              value=""
            >
              <ion-select-option value="">Sin indicar</ion-select-option>
              <ion-select-option
                *ngFor="let status of userSvc.getStatus()"
                [value]="status"
                >{{ status }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider color="primary">
            <ion-icon name="search" slot="start"></ion-icon>
            <ion-label>
              <h2>Estoy buscando...</h2>
              <p class="ion-text-wrap">
                Elige el tipo de persona que estás buscando. Esto afectará a los
                resultados de búsqueda y filtrado para el radar.
              </p>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-select
              labelPlacement="floating"
              label="Identidad de género"
              cancel-text="Cancelar"
              placeholder="Selecciona"
              formControlName="lovegender"
              multiple
            >
              <ion-select-option
                *ngFor="let likegender of userSvc.getGenders()"
                [value]="likegender"
                >{{ likegender }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="ages">
            <ion-input
              label="Edad desde "
              labelPlacement="floating"
              type="text"
              formControlName="minage"
              readonly
              placeholder="Años"
              (click)="openPicker('minage')"
            >
            </ion-input>

            <ion-input
              labelPlacement="floating"
              label="- hasta"
              type="text"
              formControlName="maxage"
              readonly
              placeholder="Años"
              (click)="openPicker('maxage')"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-select
              labelPlacement="floating"
              label="Tipo de conexión"
              cancel-text="Cancelar"
              placeholder="Selecciona"
              formControlName="connection"
              multiple
            >
              <ion-select-option
                *ngFor="let connection of userSvc.getConnections()"
                [value]="connection"
              >
                {{ connection }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </form>
  </ng-template>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="pricetags" slot="start"></ion-icon>
        <ion-label>
          <h2>Etiquetas de gustos frikis</h2>
          <p class="ion-text-wrap">
            Selecciona uno por cada etiqueta. Tu porcentaje de afinidad con
            otras personas depende de esta información.
          </p>
        </ion-label>
      </ion-item-divider>
    </ion-item-group>
    <ion-item-group>
      <ion-item class="category-header">
        <ion-icon name="game-controller"></ion-icon>
        <ion-input
          aria-label="Videojuegos favoritos"
          #games
          placeholder="Videojuegos favoritos"
          clearInput="true"
          autocapitalize="words"
          (ionInput)="searchTag($event.detail.value, 'games')"
          (keyup.enter)="
                        addTag($event.target.value, 'games'); games.value = ''
                      "
          spellcheck="false"
        ></ion-input>
        <ion-icon
          name="add-circle"
          slot="end"
          (click)="addTag(games.value, 'games')"
        ></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <ion-chip
            *ngFor="let tag of getTagsCategory('games')"
            color="secondary"
          >
            <ion-icon
              name="close-circle"
              (click)="removeTag(tag.id)"
            ></ion-icon>
            <ion-label>{{ tag.name }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item class="category-header">
        <ion-icon name="film"></ion-icon>
        <ion-input
          aria-label="Películas, series o animes favoritos"
          #films
          placeholder="Películas, series o animes favoritos"
          clearInput="true"
          autocapitalize="words"
          (ionInput)="searchTag($event.detail.value, 'films')"
          [debounce]="500"
          (keyup.enter)="
                        addTag($event.target.value, 'films'); films.value = ''
                      "
        ></ion-input>
        <ion-icon
          name="add-circle"
          slot="end"
          (click)="addTag(films.value, 'films')"
        ></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <ion-chip
            *ngFor="let tag of getTagsCategory('films')"
            color="secondary"
          >
            <ion-icon
              name="close-circle"
              (click)="removeTag(tag.id)"
            ></ion-icon>
            <ion-label>{{ tag.name }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item class="category-header">
        <ion-icon name="book"></ion-icon>
        <ion-input
          aria-label="Cómics, mangas o libros"
          #books
          placeholder="Cómics, mangas o libros"
          clearInput="true"
          autocapitalize="words"
          (ionInput)="searchTag($event.detail.value, 'books')"
          [debounce]="500"
          (keyup.enter)="
                        addTag($event.target.value, 'books'); books.value = ''
                      "
        ></ion-input>
        <ion-icon
          name="add-circle"
          slot="end"
          (click)="addTag(books.value, 'books')"
        ></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <ion-chip
            *ngFor="let tag of getTagsCategory('books')"
            color="secondary"
          >
            <ion-icon
              name="close-circle"
              (click)="removeTag(tag.id)"
            ></ion-icon>
            <ion-label>{{ tag.name }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item class="category-header">
        <ion-icon name="dice"></ion-icon>
        <ion-input
          aria-label="Juegos de mesa, rol y cartas frikis"
          #role
          placeholder="Juegos de mesa, rol y cartas frikis"
          clearInput="true"
          autocapitalize="words"
          (ionInput)="searchTag($event.detail.value, 'role')"
          [debounce]="500"
          (keyup.enter)="
                        addTag($event.target.value, 'role'); role.value = ''
                      "
        ></ion-input>
        <ion-icon
          name="add-circle"
          slot="end"
          (click)="addTag(role.value, 'role')"
        ></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <ion-chip
            *ngFor="let tag of getTagsCategory('role')"
            color="secondary"
          >
            <ion-icon
              name="close-circle"
              (click)="removeTag(tag.id)"
            ></ion-icon>
            <ion-label>{{ tag.name }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item class="category-header">
        <ion-icon name="headset"></ion-icon>
        <ion-input
          aria-label="Música, artistas o canciones favoritas"
          #music
          placeholder="Música, artistas o canciones favoritas"
          clearInput="true"
          autocapitalize="words"
          (ionInput)="searchTag($event.detail.value, 'music')"
          [debounce]="500"
          (keyup.enter)="
                        addTag($event.target.value, 'music'); music.value = ''
                      "
        ></ion-input>
        <ion-icon
          name="add-circle"
          slot="end"
          (click)="addTag(music.value, 'music')"
        ></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <ion-chip
            *ngFor="let tag of getTagsCategory('music')"
            color="secondary"
          >
            <ion-icon
              name="close-circle"
              (click)="removeTag(tag.id)"
            ></ion-icon>
            <ion-label>{{ tag.name }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
<ion-footer *ngIf="showFooter">
  <ion-button
    (click)="submitProfile()"
    class="ion-padding"
    color="primary"
    [disabled]="!profileForm.valid"
    expand="block"
    shape="round"
    >Guardar y salir
  </ion-button>
</ion-footer>

<!-- modals -->

<ion-modal
  [initialBreakpoint]="0.4"
  [breakpoints]="[0, 0.4, 0.6]"
  cssClass="sheet-modal"
  [isOpen]="isPictureSheetOpen"
  (ionModalDidDismiss)="closePictureSheet()"
>
  <ng-template>
    <ion-content class="ion-padding">
      <p>
        Consejo: Recuerda que subir fotos con contenido explícito puede ser
        motivo de expulsión.
      </p>
      <ion-list>
        <ion-item
          button
          detail="false"
          (click)="selectPictureFromCamera()"
          lines="none"
        >
          <ion-icon slot="start" name="camera" color="light"></ion-icon>
          <ion-label>Desde la cámara</ion-label>
        </ion-item>
        <ion-item
          lines="none"
          button
          detail="false"
          (click)="selectPictureFromGallery()"
        >
          <ion-icon slot="start" name="images" color="light"></ion-icon>
          <ion-label>Desde la galería</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal
  [breakpoints]="[0, 0.6]"
  [initialBreakpoint]="0.6"
  cssClass="sheet-modal"
  id="suggested-tags-sheet"
  [isOpen]="openSuggestions"
>
  <ng-template>
    <ion-content class="ion-padding">
      <p>Elige una de las sugerencias o sigue escribiendo...</p>
      <ion-list>
        <ion-item
          button
          detail="false"
          (click)="addTag(tag.name, tag.category);"
          lines="none"
          *ngFor="let tag of suggestedTags"
        >
          <ion-thumbnail slot="start" *ngIf="tag.image">
            <img [src]="tag.image" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">{{tag.name}}</ion-label>
          <ion-badge slot="end">{{tag.total}}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
