ion-toolbar {
  --background: #1a1a1aaa;

  ion-title {
    display: none;
  }

  &.show-background {
    --background: #1a1a1a;

    ion-title {
      display: block;
    }
  }
}

ion-content {
  position: absolute;
}

ion-list {
  background: transparent;

  .category-header ion-icon {
    color: white;
    margin-right: 5px;
  }
}

ion-slide {
  display: block;
}

.swiper-slide {
  text-align: left;
}

form ion-icon {
  color: white;
  margin-right: 10px;
}

#file-input {
  display: none;
}

#camera-icon {
  position: relative;
  float: right;
  margin-top: -60px;
  padding: 10px;
  color: #ffffff;
  opacity: 0.8;
  z-index: 1;
}

.fav-icon {
  position: relative;
  float: right;
  margin-top: -100px;
  padding: 10px;
  color: #ffffff;
  opacity: 0.8;
  z-index: 1;
}

.del-icon {
  position: relative;
  float: right;
  margin-top: -140px;
  padding: 10px;
  color: #ffffff;
  opacity: 0.8;
  z-index: 1;
}

#description {
  --border-color: white;
}
