<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="post?.user"
      >{{ "post-of" | i18n }} {{post?.user.name}}</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="post">
  <div class="main-content">
    <app-post
      [post]="post"
      [page]="true"
      (deletePost)="removePost($event)"
    ></app-post>
  </div>
</ion-content>
