ion-thumbnail {
    width: auto;
    height: auto;
    --border-radius: 15px;
}

ion-footer {
    ion-icon {
        margin-right: 5px;
    }
}

#usernames {
    position: absolute;
    margin-top: -180px;
    right: 60px;
    left: 60px;
}