<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon
          slot="icon-only"
          md="arrow-back"
          ios="chevron-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="publish()" [disabled]="!imageFile || showBackdrop">
        <ion-label color="primary">{{ "publicar-historia" | i18n }}</ion-label>
        <ion-icon color="primary" name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form
    [formGroup]="storyForm"
    autocomplete="off"
    class="ion-padding"
    *ngIf="image"
  >
    <ion-thumbnail *ngIf="image">
      <img [src]="image" />
    </ion-thumbnail>
    <ion-list
      id="usernames"
      *ngIf="usernames?.length && text?.value?.length > 3"
    >
      <ion-item
        lines="none"
        button
        *ngFor="let u of usernames"
        (click)="setMention(u.username)"
      >
        <ion-avatar>
          <img [src]="u.thumbnail" />
        </ion-avatar>
        <ion-label>{{ u.username }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-item *ngIf="image">
      <ion-textarea
        placeholder="Escribe un comentario o describe la foto"
        rows="3"
        formControlName="text"
        (ionChange)="setWriting($event.detail.value)"
        #textarea
      ></ion-textarea>
    </ion-item>
  </form>
  <div *ngIf="!image" class="full-center ion-padding">
    <ion-icon name="camera-outline"></ion-icon>
    <h2>{{ "aade-una-imagen" | i18n }}</h2>
    <p>{{ "haz-una-foto-selecciona-una" | i18n }}</p>
  </div>
  <input
    type="file"
    accept="image/*"
    #imageInput
    style="display: none"
    name="avatar"
    (change)="cropImagebyEvent($event)"
  />
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="selectPicture('gallery')">
        <ion-icon name="image-outline"></ion-icon>
        <ion-label>{{ "galera" | i18n }}</ion-label>
      </ion-button>
      <!--<ion-button (click)="selectPicture('camera')">
        <ion-icon name="camera-outline"></ion-icon>
        <ion-label>{{ "cmara" | i18n }}</ion-label>
      </ion-button>-->
    </ion-buttons>
    <ion-buttons slot="end">
      <!--<ion-button (click)="selectText()">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label>{{ "texto" | i18n }}</ion-label>
      </ion-button>-->
      <ion-button (click)="selectPicture('camera')">
        <ion-icon name="camera-outline"></ion-icon>
        <ion-label>{{ "cmara" | i18n }}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-backdrop visible="true" *ngIf="showBackdrop"></ion-backdrop>
