<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ "story" | i18n }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon
          slot="icon-only"
          md="arrow-back"
          ios="chevron-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!image">
      <ion-button (click)="selectPicture('gallery')">
        <ion-icon slot="icon-only" name="image-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="selectPicture('camera')">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!emojis" (click)="emojiPicker()">
        <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="emojis" (click)="closeEmojis()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="changeColor()">
        <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="image">
      <ion-button (click)="selectPicture('gallery')">
        <ion-icon slot="icon-only" name="image-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="selectPicture('camera')">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!emojis" (click)="emojiPicker()">
        <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="emojis" (click)="closeEmojis()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [ngStyle]="{'--background': backgroundColor}">
  <ion-item lines="none" class="ion-padding" *ngIf="image">
    <ion-avatar slot="start">
      <ion-img [src]="user?.avatar"></ion-img>
    </ion-avatar>
    <ion-textarea
      placeholder="{{ 'escribe-tu-historia' | i18n }}"
      id="image-textarea"
      #imageTextarea
      autoGrow="true"
      rows="2"
      maxlength="300"
      [counter]="true"
      (ionFocus)="closeEmojis()"
      (ionInput)="inputTextarea($event)"
    ></ion-textarea>
  </ion-item>
  <div id="image-preview" *ngIf="image">
    <ion-thumbnail>
      <ion-button size="small" shape="round" (click)="removePicture()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <img [src]="image" />
    </ion-thumbnail>
  </div>
  <div class="textarea-container" *ngIf="!image" (click)="closeEmojis()">
    <ion-textarea
      [ngClass]="textColor == 'light' ? 'light' : 'dark'"
      id="story-textarea"
      #storyTextarea
      placeholder="{{ 'escribe-tu-historia' | i18n }}"
      maxlength="300"
      [(ngModel)]="textoEstado"
      (ionInput)="inputTextarea($event)"
      autoGrow="true"
      rows="3"
    ></ion-textarea>
  </div>
  <input
    type="file"
    accept="image/*"
    #imageInput
    style="display: none"
    name="avatar"
    (change)="cropImagebyEvent($event)"
  />

  <div class="ion-padding" *ngIf="slug && image">
    <ion-item lines="none">
      <ion-label>
        <h2>
          {{ "publish-in" | i18n }}
          <ion-chip class="slug"><ion-label>#{{slug}}</ion-label></ion-chip>
        </h2>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        class="publish-button"
        fill="solid"
        shape="round"
        color="primary"
        (click)="publish()"
        [disabled]="(!imageFile && !storyText) || showBackdrop "
      >
        <ion-label>{{ "publicar-historia" | i18n }}</ion-label>
        <ion-icon slot="end" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div id="emoji-picker-container"></div>
</ion-footer>
<ion-backdrop visible="true" *ngIf="showBackdrop"></ion-backdrop>
