<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>FrikiRadar ILIMITADO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p class="ion-text-center" *ngIf="!user?.is_premium">
    Únete a FrikiRadar ILIMITADO y disfruta de todas las ventajas que te ofrece.
  </p>
  <div *ngIf="user?.is_premium">
    <p class="ion-text-center">
      ESTADO: Activo hasta el {{ user?.premium_expiration | date: "medium" }}
    </p>
    <p class="ion-text-center">
      Actualmente estás disfrutando de FrikiRadar ILIMITADO, pero puedes ampliar
      tu periodo de validez por el tiempo que desees.
    </p>
  </div>
  <ion-button
    color="primary"
    expand="block"
    fill="outline"
    shape="round"
    [disabled]="!products[3]?.data?.canPurchase"
    (click)="subscribePremium(products[3])"
    *ngIf="products?.length"
    >{{ products[3]?.name }} por {{ products[3]?.data?.price }}</ion-button
  >
  <ion-button
    color="primary"
    expand="block"
    size="large"
    fill="outline"
    shape="round"
    [disabled]="!products[4]?.data?.canPurchase"
    (click)="subscribePremium(products[4])"
    *ngIf="products?.length"
    >{{ products[4]?.name }} por {{ products[4]?.data?.price }}</ion-button
  >
  <ion-button
    color="primary"
    expand="block"
    fill="outline"
    shape="round"
    [disabled]="!products[5]?.data?.canPurchase"
    (click)="subscribePremium(products[5])"
    *ngIf="products?.length"
    >{{ products[5]?.name }} por {{ products[5]?.data?.price }}</ion-button
  >
  <ion-list>
    <ion-item>
      <ion-icon name="hand" slot="start"></ion-icon>
      <ion-label
        ><p>
          <strong>CERO PUBLICIDAD.</strong> Utiliza la aplicación libremente. No
          te aparecerán anuncios publicitarios de ningún tipo.
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="infinite" slot="start"></ion-icon>
      <ion-label
        ><p>
          <strong>PODER ILIMITADO.</strong> Disfruta sin límites de todas las
          opciones de FrikiRadar como chatear libremente y entregar kokoros sin
          límite, sin gastar un solo crédito ni ver un comercial.
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="hammer" slot="start"></ion-icon>
      <ion-label>
        <p>
          <strong>SÁLTATE LAS REGLAS.</strong> Comienza nuevos chats y entrega
          kokoros aunque no tengas afinidad con el usuario.
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label
        ><p>
          <strong>RADAR MUNDIAL.</strong> Encuentra a cualquier usuario, sin
          límite de kilómetros en el radar, añadiendo la opción mundial. ¡Para
          el amor no hay distancias!
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-label
        ><p>
          <strong>SOPORTE PREMIUM.</strong> Accede al grupo privado, donde
          podrás hablar directamente con los creadores de FrikiRadar para
          responder tus dudas y sugerencias con atención prioritaria. Además de
          ser de los primeros en enterarte de todas las novedades.
        </p></ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>
