<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>FrikiRadar ILIMITADO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p class="ion-text-center" *ngIf="!user?.is_premium">
    Únete a FrikiRadar ILIMITADO y disfruta de todas las ventajas que te ofrece.
  </p>
  <div *ngIf="user?.is_premium">
    <p class="ion-text-center">
      ESTADO: Activo hasta el {{ user?.premium_expiration | date: "medium" }}
    </p>
    <p class="ion-text-center">
      Actualmente estás disfrutando de FrikiRadar ILIMITADO, pero puedes ampliar
      tu periodo de validez por el tiempo que desees.
    </p>
  </div>
  <ion-button
    color="primary"
    expand="block"
    fill="outline"
    shape="round"
    [disabled]="!products[0]?.data?.canPurchase"
    (click)="subscribePremium(products[0])"
    *ngIf="products[0]?.data?.valid"
    >{{ products[0]?.name }} por {{ products[0]?.data?.price }}</ion-button
  >
  <ion-button
    color="primary"
    expand="block"
    size="large"
    fill="outline"
    shape="round"
    [disabled]="!products[1]?.data?.canPurchase"
    (click)="subscribePremium(products[1])"
    *ngIf="products[1]?.data?.valid"
    >{{ products[1]?.name }} por {{ products[1]?.data?.price }}</ion-button
  >
  <ion-button
    color="primary"
    expand="block"
    fill="outline"
    shape="round"
    [disabled]="!products[2]?.data?.canPurchase"
    (click)="subscribePremium(products[2])"
    *ngIf="products[2]?.data?.valid"
    >{{ products[2]?.name }} por {{ products[2]?.data?.price }}</ion-button
  >
  <ion-list>
    <ion-item>
      <ion-icon name="hand" slot="start"></ion-icon>
      <ion-label
        ><p>
          <strong>CERO PUBLICIDAD.</strong> Utiliza la aplicación libremente. No
          te aparecerán anuncios publicitarios de ningún tipo.
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="infinite" slot="start"></ion-icon>
      <ion-label
        ><p>
          <strong>PODER ILIMITADO.</strong> Disfruta sin límites de todas las
          opciones de FrikiRadar como chatear libremente y entregar kokoros sin
          límite, sin gastar un solo crédito ni ver un comercial.
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="heart" slot="start"></ion-icon>
      <ion-label>
        <p>
          <strong>NOTIFICACIONES DE RADAR.</strong> Recibe una notificación
          "Doki doki" cuando el radar encuentre alguien cercano compatible
          contigo.
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label
        ><p>
          <strong>RADAR MUNDIAL.</strong> Encuentra a cualquier usuario, sin
          límite de kilómetros en el radar, añadiendo la opción mundial. ¡Para
          el amor no hay distancias!
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="ribbon" slot="start"></ion-icon>
      <ion-label>
        <p>
          <strong>VERIFICA TU CUENTA.</strong> Realizar un pago en FrikiRadar es
          imprescindible para verificar tu cuenta, logrando con esto dar mayor
          confianza y poder entre otras cosas iniciar nuevos chats aunque no
          tengas afinidad con el usuario.
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-label
        ><p>
          <strong>SOPORTE PREMIUM.</strong> Accede al grupo privado, donde
          podrás hablar directamente con los creadores de FrikiRadar para
          responder tus dudas y sugerencias con atención prioritaria. Además de
          ser de los primeros en enterarte de todas las novedades.
        </p></ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>
