<ion-header>
  <ion-toolbar>
    <ion-title>Avisos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item button>
      <ion-avatar slot="start">
        <img src="./assets/img/users/joy.png">
      </ion-avatar>
      <ion-label>
        <h2>Joy Nurse</h2>
        <p>Te has cruzado con esta persona.</p>
      </ion-label>
      <ion-note slot="end">19:46</ion-note>
    </ion-item>
    <ion-item button>
      <ion-avatar slot="start">
        <img src="./assets/img/users/leia.png">
      </ion-avatar>
      <ion-label>
        <h2>Leia</h2>
        <p>Está interesada en tu perfil</p>
      </ion-label>
      <ion-note slot="end">18:59</ion-note>
    </ion-item>
  </ion-list>
</ion-content>