<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ "eventos-beta" | i18n }}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="show-options">
        <ion-icon slot="icon-only" name="location-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-button (click)="back()" *ngIf="my === true" shape="round" fill="clear">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-chip
      color="secondary"
      (click)="newEvent()"
      button
      *ngIf="my === false"
    >
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>{{ "crear-evento" | i18n }}</ion-label>
    </ion-chip>
    <ion-chip color="secondary" (click)="myEvents()" button [disabled]="my">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{ "mis-eventos-citas" | i18n }}</ion-label>
    </ion-chip>
  </ion-item>

  <ion-segment
    [value]="type"
    (ionChange)="changeTab($event.detail.value)"
    *ngIf="my === false"
  >
    <ion-segment-button value="suggested">
      <ion-label color="light">{{ "eventos-sugeridos" | i18n }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="online">
      <ion-label color="light">{{ "online-destacados" | i18n }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="near">
      <ion-label color="light">{{ "cerca-ti" | i18n }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-item *ngIf="my === true">
    <ion-label color="light" class="ion-text-wrap"
      >{{"aqu-se-muestran-eventos-que" | i18n}}</ion-label
    >
  </ion-item>
  <ion-grid *ngIf="events?.length > 0 && !loading">
    <ion-row>
      <ion-col
        sizeXs="12"
        sizeSm="6"
        sizeLg="6"
        sizeXl="4"
        sizeMd="4"
        *ngFor="let event of events; let i = index"
      >
        <ion-card button (click)="showEvent(event)">
          <ion-img [src]="event?.image" [alt]="event?.title"></ion-img>
          <ion-card-header>
            <ion-card-subtitle
              >{{(event?.date) | date:'E d MMM y, HH:mm'}} {{event?.date_end ? '
              - ' + (event?.date_end | date:'E d MMM y, HH:mm') :
              ''}}</ion-card-subtitle
            >
            <ion-card-title>{{event?.title}}</ion-card-title>
            <ion-text>
              {{event?.type === 'online' ? 'Online' : event?.address + ', ' +
              event?.country}}
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <p>{{event?.participants?.length}} personas apuntadas</p>
            <ion-button
              shape="round"
              expand="full"
              *ngIf="!event?.past && !event?.participate"
            >
              <ion-icon name="calendar" slot="start"></ion-icon>
              {{ "quiero-asistir" | i18n }}
            </ion-button>
            <ion-button
              shape="round"
              expand="full"
              *ngIf="!event?.past && event?.participate && event.status == 'active'"
            >
              <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
              {{ "asistir" | i18n }}
            </ion-button>
            <ion-button
              shape="round"
              expand="full"
              disabled
              *ngIf="!event?.past && event?.participate && event.status == 'cancelled'"
            >
              <ion-icon name="close-circle-outline" slot="start"></ion-icon>
              {{ "evento-cancelado" | i18n }}
            </ion-button>
            <ion-button
              shape="round"
              expand="full"
              *ngIf="event?.past"
              disabled
            >
              <ion-icon name="timer-outline" slot="start"></ion-icon>
              {{ "evento-pasado" | i18n }}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="full-center ion-padding" *ngIf="!events?.length && !loading">
    <ion-icon name="calendar-clear-outline"></ion-icon>
    <h2>{{ "sin-resultados" | i18n }}</h2>
    <div *ngIf="type === 'near'">
      <p>{{"puedes-ajustar-tus-opciones-eventos" | i18n}}</p>
      <ion-button shape="round" (click)="showOptions()"
        >{{ "mostrar-opciones" | i18n }}</ion-button
      >
    </div>
  </div>
</ion-content>

<!-- modals -->

<ion-modal
  [initialBreakpoint]="0.4"
  [breakpoints]="[0, 0.4, 0.6]"
  trigger="show-options"
  cssClass="sheet-modal"
  (didDismiss)="saveOptions()"
>
  <ng-template>
    <ion-content class="ion-padding">
      <ion-header class="ion-no-border">
        <ion-item lines="full">
          <ion-label class="ion-text-center">
            <h2>{{ "configuracin-eventos-cercanos" | i18n }}</h2>
            <p class="ion-text-wrap">
              {{"selecciona-tu-pas-municipio-para" | i18n}}
            </p>
          </ion-label>
        </ion-item>
      </ion-header>
      <ion-list>
        <ion-item>
          <ion-icon name="earth" slot="start"></ion-icon>
          <ion-select
            label="Tu país"
            interface="action-sheet"
            cancelText="{{ 'cancelar' | i18n }}"
            placeholder="{{ 'selecciona-uno' | i18n }}"
            [value]="user?.country"
            debounce="2000"
            (ionChange)="changePreferences('country', $event.detail.value)"
          >
            <ion-select-option
              *ngFor="let country of utils.getCountries()"
              [value]="country"
              >{{ country }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-input
            label="Municipio"
            (ionChange)="changePreferences('city', $event.detail.value)"
            [value]="user?.city"
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
