ion-card {
  border-radius: 20px;
  --color: var(--ion-color-light) !important;
  --background: var(--ion-color-medium-dark) !important;

  ion-img {
    height: 220px;
    object-fit: cover;
    object-position: center;
  }

  ion-card-title {
    --color: var(--ion-color-light) !important;
  }
}

.events-pane {
  display: none;
}

.center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
