<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Historial de pagos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="payments?.length; else noPayments">
    <ion-list>
      <ion-item lines="full" *ngFor="let payment of payments">
        <ion-icon
          slot="start"
          name="{{
            payment.type === 'android-playstore' ? 'logo-android' : 'logo-apple'
          }}"
        ></ion-icon>
        <ion-label>
          <h2>{{ payment.title }} ({{ payment.order_id }})</h2>
          <p>{{ payment.description }}</p>
        </ion-label>
        <ion-note slot="end">{{ payment.payment_date | niceDate }}</ion-note>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #noPayments>
    <div class="full-center ion-padding">
      <ion-icon name="close-circle-outline"></ion-icon>
      <h2>Sin resultados</h2>
      <p>
        No has efectuado ningún pago.
      </p>
    </div>
  </ng-template>
</ion-content>
