<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!showOptions">
      <ion-back-button
        (click)="source.close()"
        text=""
        defaultHref="/tabs/chat"
      ></ion-back-button>
      <ion-button (click)="showProfile(userId)">
        <ion-avatar>
          <ion-img
            *ngIf="user"
            [src]="user?.avatar"
            [alt]="user?.username"
          ></ion-img>
          <ion-skeleton-text animated *ngIf="!user"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>{{ user?.name }}</h2>
          <!--<p>En línea</p>-->
        </ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="showOptions">
      <ion-button (click)="showOptions = false">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showOptions">
      <!--<ion-button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>-->
      <ion-button (click)="copy()">
        <ion-icon name="clipboard"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #chatlist (tap)="showOptions = false">
  <ion-infinite-scroll (ionInfinite)="loadChats($event)" position="top">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <span
    class="bubble {{ message.fromuser?.id == userId ? 'to' : 'from' }}"
    *ngFor="let message of messages; let i = index"
  >
    <ion-chip
      color="primary"
      class="center"
      *ngIf="
        (message?.time_creation | date: 'shortDate') !==
        (messages[i - 1]?.time_creation | date: 'shortDate')
      "
    >
      <ion-label color="secondary">{{
        message.time_creation | date: "fullDate"
      }}</ion-label>
    </ion-chip>
    <ion-card button (press)="selectMessage(message)">
      <ion-card-content>
        <span class="text" [innerHTML]="message.text | linkify"> </span>
        <ion-note>
          {{ message.time_creation | date: "shortTime" }}
          <span *ngIf="message.fromuser?.id == auth.currentUserValue?.id">
            <ion-icon *ngIf="message.sending" name="time"></ion-icon>
            <ion-icon
              *ngIf="!message.sending && !message.time_read"
              name="checkmark"
            ></ion-icon>
            <ion-icon
              *ngIf="message.time_read"
              color="secondary"
              name="done-all"
            ></ion-icon>
          </span>
        </ion-note>
      </ion-card-content>
    </ion-card>
  </span>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <form [formGroup]="chatForm" autocomplete="off">
      <ion-item lines="none">
        <ion-textarea
          [placeholder]="
            user ? 'Escribe tu mensaje aquí' : 'No puedes responder'
          "
          autocapitalize="on"
          (keydown.enter)="sendMessage($event)"
          formControlName="message"
          #textarea
          autofocus
          autoGrow
          rows="1"
        >
        </ion-textarea>
      </ion-item>
    </form>
    <ion-buttons ion-activatable slot="end">
      <ion-button color="primary" (click)="sendMessage()">
        <ion-icon
          slot="icon-only"
          md="md-send"
          ios="ios-arrow-dropup-circle"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
