<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/chat">
      </ion-back-button>
      <ion-button (click)="showProfile(user.id)">
        <ion-avatar>
          <ion-img [src]="avatar"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ user?.username }}</h2>
          <!--<p>En línea</p>-->
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #chatlist>
  <ion-card class="{{ message.fromuser == user.id ? 'to' : 'from' }}" *ngFor="let message of messages">
    <ion-card-content>
      {{ message.text }}
      <ion-note>{{ message.time_creation | date: "shortTime" }}</ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-textarea placeholder="Escribe tu mensaje aquí" autocapitalize="on" (keyup.enter)="sendMessage()" #textarea
        autofocus>
      </ion-textarea>
    </ion-item>
    <ion-buttons ion-activatable slot="end">
      <ion-button color="primary" (click)="sendMessage()" [disabled]="!textarea?.value?.trim()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>