@import "../../theme/variables.scss";

ion-label h2 {
  text-transform: none;
  margin-left: 10px;
  letter-spacing: normal;
}

ion-card {
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;

  &.from {
    margin-left: 40px;
    --color: white;
    --background: #6d0b28;

    & + .to {
      margin-top: 8px;
    }
  }

  &.to {
    margin-right: 40px;
    --color: white;
    --background: #9a1c42;

    & + .from {
      margin-top: 8px;
    }
  }

  ion-note {
    float: right;
    font-size: 10px;
    position: relative;
    bottom: -12px;
    color: #bbbbbb;
  }
}

ion-footer {
  ion-item {
    background: white;
    border-radius: 30px;
  }

  ion-textarea {
    height: 40px;
    --placeholder-color: #555555 !important;
    color: #353535 !important;
  }

  ion-label {
    position: absolute;
    z-index: 2;
    right: 20px;
    width: 30px !important;
    min-width: 0px !important;
    margin: 2px 0 !important;

    ion-icon {
      font-size: 30px;
    }
  }

  #emoji-button {
    height: 40px;
    position: absolute;
    top: 6px;

    ion-icon {
      background-color: white;
      border-radius: 80px;
      font-size: 40px;
    }
  }
}

::ng-deep {
  emoji-picker {
    position: relative !important;

    emoji-content {
      width: 100% !important;
    }
  }
}
