<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!pressOptions">
      <ion-back-button
        (click)="source.close()"
        text=""
        defaultHref="/tabs/chat"
      ></ion-back-button>
      <ion-button (click)="showProfile(userId)">
        <ion-avatar>
          <ion-img
            *ngIf="user"
            [src]="user?.avatar"
            [alt]="user?.username"
          ></ion-img>
          <ion-skeleton-text animated *ngIf="!user"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>{{ user?.name }}</h2>
          <p>
            <ion-badge
              color="secondary"
              *ngIf="(user?.last_login | niceDate) === 'Ahora mismo'"
              >&nbsp;</ion-badge
            >{{ (user?.last_login | niceDate) === 'Ahora mismo' ? 'En línea' :
            (user?.last_login | niceDate)}}
          </p>
        </ion-label>
      </ion-button>
      <ion-icon
        *ngIf="user?.verified || user?.roles.includes('ROLE_MASTER')"
        [name]="user?.roles.includes('ROLE_MASTER') ? 'shield-checkmark' : 'checkmark-circle'"
        slot="icon-only"
        size="small"
        [color]="user?.roles.includes('ROLE_MASTER') ? 'tertiary' : 'secondary'"
        (click)="userSvc.showRole(user)"
      ></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="pressOptions">
      <ion-button (click)="pressOptions = false">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons
      slot="end"
      *ngIf="!pressOptions && user?.active && !user?.roles?.includes('ROLE_DEMO')"
    >
      <ion-button (click)="showOptions($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="pressOptions">
      <ion-button
        (click)="deleteMessage()"
        *ngIf="selectedMessage?.fromuser?.id == auth.currentUserValue.id"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="copy()">
        <ion-icon name="clipboard"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #chatlist (tap)="pressOptions = false">
  <ion-infinite-scroll (ionInfinite)="loadChats($event)" position="top">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <span
    class="bubble {{ message.fromuser?.id == userId ? 'to' : 'from' }}"
    *ngFor="let message of messages; let i = index"
  >
    <ion-chip
      color="primary"
      class="center"
      *ngIf="
        (message?.time_creation | date: 'shortDate') !==
        (messages[i - 1]?.time_creation | date: 'shortDate')
      "
    >
      <ion-label color="secondary"
        >{{ message.time_creation | date: "fullDate" }}</ion-label
      >
    </ion-chip>
    <ion-card button (press)="selectMessage(message)">
      <div *ngIf="message.image">
        <img
          (click)="openViewer(message.image, message.fromuser.name + ', ' + utils.niceDate(message.time_creation), message.text)"
          [src]="message.image"
        />
      </div>
      <ion-card-content *ngIf="message.text">
        <span
          class="text"
          [innerHTML]="message.text | linky:{className: 'linkified'}"
          (click)="$event.stopImmediatePropagation(); openUrl($event);"
        ></span>
        <ion-note>
          {{ message.time_creation | date: "shortTime" }}
          <span *ngIf="message.fromuser?.id == auth.currentUserValue?.id">
            <ion-icon *ngIf="message.sending" name="time"></ion-icon>
            <ion-icon
              *ngIf="!message.sending && !message.time_read"
              name="checkmark"
            ></ion-icon>
            <ion-icon
              *ngIf="message.time_read"
              color="secondary"
              name="checkmark-done"
            ></ion-icon>
          </span>
        </ion-note>
      </ion-card-content>
    </ion-card>
  </span>
</ion-content>
<ion-footer *ngIf="!chatForm.get('message').disabled">
  <div id="image-preview" *ngIf="image">
    <ion-icon
      name="close-circle"
      slot="icon-only"
      (click)="image = ''"
    ></ion-icon>
    <ion-thumbnail>
      <img [src]="image" />
    </ion-thumbnail>
  </div>
  <ion-toolbar>
    <ion-buttons ion-activatable slot="start">
      <ion-button (click)="toggled = !toggled">
        <ion-icon
          slot="icon-only"
          [name]="toggled ? 'close-outline' : 'happy-outline'"
        ></ion-icon>
      </ion-button>
      <ion-button *ngIf="auth.isMaster()" (click)="openPictureSheet()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <input
        type="file"
        accept="image/*"
        #imageInput
        style="display: none;"
        name="default"
        (change)="addPicture($event.target.files[0]);"
      />
    </ion-buttons>
    <form [formGroup]="chatForm" autocomplete="off">
      <ion-item lines="none">
        <ion-textarea
          placeholder="Escribe tu mensaje aquí"
          autocapitalize="on"
          (keydown.enter)="sendMessage($event)"
          formControlName="message"
          #textarea
          autofocus
          autoGrow
          rows="1"
          (ionFocus)="toggled = false"
        >
        </ion-textarea>
      </ion-item>
    </form>
    <ion-buttons ion-activatable slot="end">
      <ion-button
        color="primary"
        [disabled]="!message.value && !image"
        (click)="sendMessage()"
      >
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <emoji-mart
    *ngIf="toggled"
    isNative="true"
    emoji="point_up"
    darkMode="true"
    showPreview="false"
    autoFocus="true"
    [style]="{ width: '100%'}"
    (emojiSelect)="addEmoji($event)"
    title="Elige un emoji"
    [i18n]="{
    search: 'Busca el emoji perfecto',
    emojilist: 'Listado de emojis',
   found: 'Emoji no encontrado',
    clear: 'Borrar',
    categories: {
      search: 'Resultados',
      recent: 'Más usados',
      people: 'Caras y personas',
      nature: 'Animales y naturaleza',
      foods: 'Comida y bebida',
      activity: 'Actividad',
      places: 'Viajes y lugares',
      objects: 'Objetos',
      symbols: 'Símbolos',
      flags: 'Banderas',
      custom: 'FrikiRadar'
    }
  }"
  ></emoji-mart>
</ion-footer>
