ion-item {
  --background: #1a1a1a;
  --border-color: #e91e63;

  p {
    color: #dddddd;
  }

  ion-badge {
    position: absolute;
    left: 45px;
    border-radius: 15px;
    z-index: 1;
    width: 20px;
  }
}
