<ion-header no-border>
  <ion-toolbar> <ion-title>Chat</ion-title> </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      button
      (click)="showChat(chat.user.id)"
      *ngFor="let chat of chats"
    >
      <ion-avatar slot="start">
        <img [src]="chat.user.avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ chat.user.username }}</h2>
        <p>{{ chat.text }}</p>
      </ion-label>
      <ion-note slot="end">{{
        chat.time_creation | date: "shortTime"
      }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
