<app-chat-list
  [ngClass]="!userId || desktop ? '' : 'hide'"
  (userChange)="showChat($event)"
  [selected]="userId"
  [messageEvent]="messageEvent"
></app-chat-list>
<app-chat-modal
  [ngClass]="userId ? '' : 'hide'"
  (backToList)="backToList()"
  [userId]="userId"
  [messageEvent]="messageEvent"
  (messageChange)="messageChange($event)"
></app-chat-modal>
<div class="full-center ion-padding" *ngIf="!userId && desktop">
  <ion-icon name="chatbubbles"></ion-icon>
  <h2>No hay mensajes</h2>
  <p>Selecciona un chat</p>
</div>
