:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.hide {
  display: none;
}

app-chat-list {
  width: 100%;
}

app-chat-modal {
  width: 100%;
}

@media (max-width: 991px) {
  app-chat-list {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

@media (min-width: 992px) {
  app-chat-list {
    max-width: 350px;

    ::ng-deep {
      ion-list,
      ion-item,
      ion-content {
        --background: var(--ion-color-medium-dark) !important;
        background: var(--ion-color-medium-dark) !important;
      }
    }
  }
}
