<app-chat-list
  [ngClass]="!userId || desktop ? '' : 'hide'"
  (userChange)="showChat($event)"
  [selected]="userId"
  [messageEvent]="messageEvent"
></app-chat-list>
<app-chat-modal
  [ngClass]="userId ? '' : 'hide'"
  [userId]="userId"
  [messageEvent]="messageEvent"
  (messageChange)="messageChange($event)"
></app-chat-modal>
<div class="full-center ion-padding" *ngIf="!userId && desktop">
  <ion-icon name="chatbubbles"></ion-icon>
  <h2>{{ "no-hay-mensajes" | i18n }}</h2>
  <p>{{ "selecciona-un-chat" | i18n }}</p>
</div>
