<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      >{{editing ? 'Editando sala '+room.name : 'Crea una nueva
      sala'}}</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="ion-padding" *ngIf="!editing">
    Al crear una nueva sala se añadirá al listado de salas de la pestaña
    comunidad.
  </p>
  <ion-list>
    <form
      [formGroup]="roomForm"
      (submit)="submitRoom()"
      autocomplete="off"
      class="ion-padding"
    >
      <div>
        <ion-item>
          <ion-input
            formControlName="name"
            placeholder="Escribe aquí el nombre"
            (ionChange)="generateSlug($event)"
          ></ion-input>
          <p>Slug: {{room?.slug || slug}}</p>
        </ion-item>
        <ion-item>
          <ion-textarea
            placeholder="Escribe aquí la descripción"
            rows="3"
            formControlName="description"
          ></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Roles permitidos</ion-label>
          <ion-select
            interface="action-sheet"
            required
            cancel-text="Cancelar"
            placeholder="Selecciona uno"
            formControlName="permissions"
          >
            <ion-select-option value="ROLE_USER"
              >Todos los usuarios</ion-select-option
            >
            <ion-select-option value="ROLE_MASTER"
              >Solo moderadores/administradores
            </ion-select-option>
            <ion-select-option value="ROLE_PATREON"
              >Embajadores de Patreon
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Quiero que esta sala sea visible</ion-label>
          <ion-checkbox slot="start" formControlName="visible"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-thumbnail *ngIf="src || room?.image">
            <img [src]="src ? src : room?.image" />
          </ion-thumbnail>
          <ion-input
            type="file"
            accept="image/*"
            formControlName="image"
            placeholder="Elige una imagen"
            clearInput="true"
            (change)="cropImagebyEvent($event)"
            (ionChange)="removeImage($event)"
          ></ion-input>
        </ion-item>
        <ion-button
          color="primary"
          type="submit"
          shape="round"
          expand="block"
          [disabled]="roomForm.invalid"
          >{{editing ? 'Editar sala' : 'Crear nueva sala'}}</ion-button
        >
      </div>
    </form>
  </ion-list>
</ion-content>
