ion-content {
  display: flex;
  flex-direction: column;

  ion-grid {
    padding: 0;
  }

  ion-img {
    margin-top: 3vh;
    width: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

ion-footer {
  text-align: center;

  img {
    width: 50px;
  }

  &.footer-md::before {
    background-image: none;
  }
}

ion-button {
  --color: red;
  text-transform: unset;
}

.login {
  form {
    ion-label {
      --color: #9c2c51 !important;
    }

    ion-input {
      margin-top:10px;
      margin-bottom: 10px;
    }

    .sc-ion-buttons-md-h {
      margin-bottom: -14px;
      margin-right: -12px;
      color: #e91e63;
    }

    .sc-ion-buttons-ios-h {
      position: relative;
      top: 20px;
      left: 20px;

      ion-icon {
        color: #e91e63 !important;
      }
    }
  }
}

.info {
  background: #222222;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 667px) {
  .info {
    display: none;
  }
}

@media (min-width: 668px) {
  .login {
    max-width: 500px;
  }
}

.register {
  p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  ion-button {
    text-transform: unset;
  }
}

#forgot-password {
  font-size: 14px;
  a {
    cursor: pointer;
  }
}
