ion-header ion-toolbar {
  padding: 10px;
}
ion-content {
  display: flex;
  flex-direction: column;
}

ion-footer {
  text-align: center;

  img {
    width: 50px;
  }

  &.footer-md::before {
    background-image: none;
  }
}

ion-button {
  --color: red;
}

form {
  ion-item {
    --border-color: white;
  }

  ion-label {
    --color: #9c2c51 !important;
  }
}

#forgot-password {
  font-size: 14px;
}
