<ion-content padding>
  <img src="/src/images/logo/logo_transparente.png" style="width: 150px; display: block; margin-left: auto; margin-right: auto;">
  <h1>Hola,</h1>
  <h3>Te doy la bienvenida a FrikiRadar</h3>

  <div id="login">
    <h3>Ya tengo una cuenta</h3>
    <ion-item>
      <ion-input required type="text" placeholder="Nombre de usuario o correo electrónico"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <ion-button color="primary" expand="full" (click)="login()">Iniciar sesión</ion-button>
    <p text-center>No tengo una cuenta, <a href="#">quiero registrarme</a></p>
  </div>
  <div id="loginvia">
    <ion-grid>
      <ion-row>
        <ion-col>
          <a href="#">
            <img src="/src/images/layout/google.png">
          </a>
        </ion-col>
        <ion-col>
          <a href="#">
            <img src="/src/images/layout/twitch.png">
          </a>
        </ion-col>
        <ion-col>
          <a href="#">
            <img src="/src/images/layout/facebook.png">
          </a>
        </ion-col>
        <ion-col>
          <a href="#">
            <img src="/src/images/layout/steam.png">
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
