<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="info">
        <app-login-info></app-login-info>
      </ion-col>
      <ion-col class="login">
        <div *ngIf="activeView == 'login'" class="ion-padding">
          <ion-img alt="frikiradar" src="./assets/img/logo/logo.png"></ion-img>
          <h2>Hola,</h2>
          <h3>Te doy la bienvenida a FrikiRadar</h3>
          <div id="login-content">
            <form [formGroup]="loginForm" autocomplete="off">
              <ion-item lines="full" class="login-input">
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-input
                  label="Nombre de usuario o correo electrónico"
                  labelPlacement="floating"
                  outline
                  required
                  type="text"
                  formControlName="username"
                  name="username"
                  autocomplete="username"
                  appAutofill
                  clearOnEdit="true"
                  (keyup.enter)="checkLogin()"
                ></ion-input>
              </ion-item>
              <ion-item lines="full" *ngIf="insertPassword" class="login-input">
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input
                  label="Contraseña"
                  labelPlacement="floating"
                  required
                  [type]="clearPassword ? 'text' : 'password'"
                  formControlName="password"
                  name="password"
                  id="password-input"
                  autocomplete="current-password"
                  appAutofill
                  clearOnEdit="true"
                  (keyup.enter)="submitLogin()"
                >
                </ion-input>
                <ion-buttons slot="end" *ngIf="!passwordInput.pristine">
                  <ion-button (click)="clearPassword = !clearPassword">
                    <ion-icon
                      slot="icon-only"
                      [name]="clearPassword ? 'eye' : 'eye-off'"
                    ></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
              <ion-button
                color="primary"
                (click)="checkLogin()"
                shape="round"
                expand="block"
                size="large"
                class="login-button"
                *ngIf="!insertPassword"
              >
                <ion-icon slot="start" name="mail"></ion-icon>
                <ion-label>Continuar con email</ion-label></ion-button
              >
              <ion-button
                color="primary"
                (click)="submitLogin()"
                shape="round"
                size="large"
                expand="block"
                class="login-button"
                *ngIf="insertPassword"
              >
                <ion-icon slot="start" name="log-in-outline"></ion-icon>
                <ion-label>Iniciar sesión</ion-label></ion-button
              >
              <ion-button
                color="light"
                shape="round"
                size="large"
                expand="block"
                class="login-button"
                (click)="insertPassword = false"
                *ngIf="insertPassword"
              >
                <ion-icon color="dark" name="arrow-back-outline"></ion-icon>
                <ion-label color="dark">Volver</ion-label></ion-button
              >
            </form>
            <ion-button
              color="light"
              (click)="loginWithGoogle()"
              shape="round"
              expand="block"
              size="large"
              class="login-button"
              *ngIf="!insertPassword"
            >
              <ion-icon slot="start" name="logo-google" color="dark"></ion-icon>
              <ion-label color="dark"
                >Iniciar sesión con Google</ion-label
              ></ion-button
            >
            <p class="ion-text-center" id="forgot-password">
              <a (click)="forgotPassword()">No puedo iniciar sesión</a>
            </p>
          </div>
        </div>
        <div *ngIf="activeView == 'register'">
          <ion-header class="ion-no-border">
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="backToLogin()">
                  <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>Registro</ion-title>
            </ion-toolbar>
          </ion-header>
          <app-register
            [username]="username"
            [email]="email"
            [provider]="provider"
            [credential]="credential"
          ></app-register>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
