<ion-content class="ion-padding">
  <p>
    Kokoros {{param === 'received' ? ('recibidos' | i18n) : ('entregados' |
    i18n)}}
  </p>
  <ion-list *ngIf="!likes[param]">
    <ion-item *ngFor="let i of [].constructor(8)" lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="likes[param]?.length> 0">
    <ion-item
      *ngFor="let like of likes[param]"
      button
      detail="false"
      (click)="viewProfile(like.user.id)"
      lines="none"
    >
      <ion-avatar slot="start">
        <img
          [src]="like.user.thumbnail"
          [alt]="like.user.username"
          default="/assets/img/users/default.png"
        />
      </ion-avatar>
      <ion-label>
        <h2>{{ like.user.name }}</h2>
        <p>{{"@" + like.user.username }}</p>
      </ion-label>
      <ion-icon
        name="heart"
        color="primary"
        *ngIf="auth.currentUserValue.id === like.user.id"
      ></ion-icon>
      <ion-note slot="end">{{ like.date | niceDate }}</ion-note>
    </ion-item>
  </ion-list>
  <ion-item lines="none" *ngIf="likes[param]?.length == 0">
    <p>{{ "no-hay-kokoros" | i18n }}</p>
  </ion-item>
</ion-content>
