<ion-menu side="start" contentId="content" *ngIf="auth.currentUserValue && auth.currentUserValue.id">
  <ion-header no-border>
    <img [src]="auth.currentUserValue.avatar" default="/assets/img/users/default.jpg">
    <div id="info">
      <span>{{auth.currentUserValue.username}}</span>
    </div>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button lines="none" (click)="editProfile()">
        <ion-icon name="contact" slot="start"></ion-icon>
        <ion-label>Editar perfil</ion-label>
      </ion-item>
      <ion-item button lines="full" (click)="settings()">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Configuración y privacidad</ion-label>
      </ion-item>
      <ion-item button lines="none" (click)="share()">
        <ion-icon name="share" slot="start"></ion-icon>
        <ion-label>Comparte con tus amigos</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-item button lines="none" (click)="logout()">
      <ion-icon name="log-out" slot="start"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
  </ion-footer>
</ion-menu>