<ion-split-pane contentId="content">
  <ion-menu
    [disabled]="!auth.currentUserValue?.id || auth.currentUserValue?.banned"
    side="start"
    swipeGesture="true"
    id="menu"
    contentId="content"
  >
    <ion-header
      class="ion-no-border"
      *ngIf="auth.currentUserValue?.id"
      [ngStyle]="{
        'background-image': 'url(' + auth.currentUserValue?.avatar + ')'
      }"
    >
      <div id="banner"></div>
      <ion-item lines="none" id="info" button (click)="viewProfile()">
        <ion-avatar slot="start">
          <img
            [src]="auth.currentUserValue?.thumbnail"
            [alt]="auth.currentUserValue?.username"
            default="/assets/img/users/default.jpg"
          />
        </ion-avatar>
        <ion-label>
          <h2>
            {{ auth.currentUserValue?.name }}
            <span>
              <ion-icon
                size="15px"
                *ngIf="userSvc.getRoleIcon()"
                [name]="userSvc.getRoleIcon()"
                ç
                [src]="userSvc.getRoleIcon()"
                slot="icon-only"
                [color]="userSvc.getRoleColor()"
              ></ion-icon>
            </span>
          </h2>
          <p>@{{ auth.currentUserValue?.username }}</p>
        </ion-label>
      </ion-item>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item
          button
          lines="none"
          (click)="viewProfile()"
          [ngClass]="selected?.includes('profile') ? 'selected' : ''"
        >
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label>
            Ver perfil
          </ion-label>
        </ion-item>
        <ion-item
          button
          lines="none"
          (click)="notifications()"
          [ngClass]="selected == '/notification' ? 'selected' : ''"
        >
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          <ion-label>
            Notificaciones
          </ion-label>
          <ion-badge
            slot="end"
            color="primary"
            *ngIf="counters?.notifications"
            >{{ counters.notifications }}</ion-badge
          >
        </ion-item>
        <ion-item
          button
          lines="full"
          (click)="settings()"
          [ngClass]="selected == '/settings' ? 'selected' : ''"
        >
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>
            Configuración y privacidad
          </ion-label>
        </ion-item>
        <ion-item
          button
          lines="none"
          (click)="showAmbassador()"
          *ngIf="!platform.is('ios')"
          [ngClass]="selected == '/ambassador' ? 'selected' : ''"
        >
          <ion-icon
            src="/assets/icon/patreon_coral.svg"
            slot="start"
          ></ion-icon>
          <ion-label class="patreon">
            <h2>Patreon de embajador</h2>
            <p>Ayúdanos y consigue ventajas exclusivas</p>
          </ion-label>
        </ion-item>
        <ion-item button lines="none" (click)="share()">
          <ion-icon name="share-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Comparte con tus amigos</h2>
            <p>¡Y así cada vez seremos más!</p>
          </ion-label>
        </ion-item>
        <ion-item button lines="none" (click)="credits()">
          <ion-icon name="rocket-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Créditos</h2>
            <p>Las personas que hacemos posible FrikiRadar</p>
          </ion-label>
        </ion-item>
        <ion-item
          button
          lines="full"
          (click)="bugs()"
          [ngClass]="selected?.includes('frikiradar-bugs') ? 'selected' : ''"
        >
          <ion-icon name="bug-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Reporte de errores</h2>
            <p>
              Si encuentras cualquier problema escríbenos por aquí
            </p>
          </ion-label>
        </ion-item>
        <ion-item
          button
          lines="none"
          (click)="admin()"
          *ngIf="auth.isMaster()"
          [ngClass]="selected == '/admin' ? 'selected' : ''"
        >
          <ion-icon
            name="bonfire-outline"
            color="danger"
            slot="start"
          ></ion-icon>
          <ion-label color="danger">Administración</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-item button lines="none" (click)="logout()">
        <ion-icon name="log-out-outline" color="danger" slot="start"></ion-icon>
        <ion-label color="danger">Cerrar sesión</ion-label>
      </ion-item>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
