:host {
  ion-header {
    padding: 20px;
    height: 100px;
    background: #1a1a1a;
    background-position: center center;
    background-size: cover;

    #banner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background: #e91e6283;
    }

    #info {
      margin-top: 10px;

      span {
        vertical-align: text-top;
      }
    }

    ion-avatar {
      width: 48px;
      height: 48px;
    }
  }

  ion-item {
    ion-label {
      --color: white !important;
    }

    ion-icon {
      color: white;
    }

    ion-label {
      p {
        white-space: normal;
        color: #bbb;
      }
    }
  }

  ion-item.activated {
    ion-icon,
    ion-label {
      color: #e91e63;
    }
  }
}
