:host {
  ion-header {
    height: 100px;
    background: #212121;
    background-position: center center;
    background-size: cover;

    #banner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background: #3a061883;
    }

    #info {
      margin-top: 15px;
      ion-avatar {
        width: 48px;
        height: 48px;
      }
    }
  }

  ion-item {
    ion-label {
      --color: white !important;
    }

    ion-icon {
      color: white;
    }

    ion-label {
      p {
        white-space: normal;
        color: #bbb;
      }
    }
  }

  ion-item.activated {
    ion-icon,
    ion-label {
      color: #e91e63;
    }
  }
}

ion-badge {
  border-radius: 15px;
  min-width: 20px;
}
