<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="radar">
      <ion-icon
        [color]="selected === 'radar' ? 'primary' : 'light'"
        [name]="selected === 'radar' ? 'location-sharp' : 'location-outline'"
      ></ion-icon>
      <ion-badge color="primary" *ngIf="counters?.radar > 0"
        >{{ counters.radar }}</ion-badge
      >
    </ion-tab-button>

    <ion-tab-button tab="community">
      <ion-icon
        [color]="selected === 'community' ? 'primary' : 'light'"
        [name]="'people' + (selected === 'community' ? '' : '-outline')"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon
        [color]="selected === 'events' ? 'primary' : 'light'"
        [name]="'calendar' + (selected === 'events' ? '' : '-outline')"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="openChat()">
      <ion-icon
        [color]="selected === 'chat' ? 'primary' : 'light'"
        [name]="'chatbubbles' + (selected === 'chat' ? '' : '-outline')"
      ></ion-icon>
      <ion-badge color="primary" *ngIf="counters?.chats > 0"
        >{{ counters.chats }}</ion-badge
      >
    </ion-tab-button>

    <ion-tab-button (click)="menu()">
      <ion-avatar>
        <img
          [src]="auth.currentUserValue?.thumbnail"
          [alt]="auth.currentUserValue?.username"
          default="/assets/img/users/default.jpg"
        />
      </ion-avatar>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- panes -->
<div class="menu-pane">
  <ion-item id="info" button (click)="viewProfile()">
    <ion-avatar slot="start">
      <img
        [src]="auth.currentUserValue?.thumbnail"
        [alt]="auth.currentUserValue?.username"
        default="/assets/img/users/default.jpg"
      />
    </ion-avatar>
    <ion-label>
      <h2>
        {{ auth.currentUserValue?.name }}
        <span>
          <ion-icon
            size="15px"
            *ngIf="userSvc.getRoleIcon()"
            [name]="userSvc.getRoleIcon()"
            ç
            [src]="userSvc.getRoleIcon()"
            slot="icon-only"
            [color]="userSvc.getRoleColor()"
          ></ion-icon>
        </span>
      </h2>
      <p>@{{ auth.currentUserValue?.username }}</p>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-item
      button
      lines="none"
      (click)="viewProfile()"
      [ngClass]="selected?.includes('profile') ? 'selected' : ''"
      color="dark"
    >
      <ion-icon
        name="person-circle-outline"
        slot="start"
        color="light"
      ></ion-icon>
      <ion-label color="light"> Mi perfil </ion-label>
    </ion-item>
    <ion-item
      color="dark"
      button
      (click)="settings()"
      [ngClass]="selected == '/settings' ? 'selected' : ''"
    >
      <ion-icon color="light" name="settings-outline" slot="start"></ion-icon>
      <ion-label color="light"> Configuración y privacidad </ion-label>
    </ion-item>
    <ion-item
      color="dark"
      button
      (click)="showAmbassador()"
      *ngIf="!platform.is('ios')"
      [ngClass]="selected == '/ambassador' ? 'selected' : ''"
    >
      <ion-icon src="/assets/icon/patreon_coral.svg" slot="start"></ion-icon>
      <ion-label>
        <h2><ion-text color="patreon">Patreon de embajador</ion-text></h2>
        <p>Ayúdanos y consigue ventajas exclusivas</p>
      </ion-label>
    </ion-item>
    <ion-item color="dark" button lines="none" (click)="credits()">
      <ion-icon color="light" name="rocket-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Créditos</h2>
        <p>Las personas que hacemos posible FrikiRadar</p>
      </ion-label>
    </ion-item>
    <ion-item
      color="dark"
      button
      (click)="rules()"
      [ngClass]="selected?.includes('rules') ? 'selected' : ''"
    >
      <ion-icon name="receipt-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Normas de la comunidad</h2>
      </ion-label>
    </ion-item>
    <ion-item
      color="dark"
      button
      lines="full"
      (click)="bugs()"
      [ngClass]="selected?.includes('frikiradar-bugs') ? 'selected' : ''"
    >
      <ion-icon name="bug-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Reporte de errores</h2>
        <p>Si encuentras cualquier problema escríbenos por aquí</p>
      </ion-label>
    </ion-item>
    <ion-item
      color="dark"
      button
      lines="full"
      (click)="admin()"
      *ngIf="auth.isMaster()"
      [ngClass]="selected == '/admin' ? 'selected' : ''"
    >
      <ion-icon name="bonfire-outline" color="danger" slot="start"></ion-icon>
      <ion-label color="danger">Administración</ion-label>
    </ion-item>
    <ion-item button lines="none" (click)="logout()">
      <ion-icon name="log-out-outline" color="danger" slot="start"></ion-icon>
      <ion-label color="danger">Cerrar sesión</ion-label>
    </ion-item>
  </ion-list>
</div>
