<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="radar">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Radar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscador</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Avisos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>