<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="radar" *ngIf="auth.isAdult()">
      <ion-icon
        [color]="selected === 'radar' ? 'primary' : 'light'"
        [name]="selected === 'radar' ? 'location-sharp' : 'location-outline'"
      ></ion-icon>
      <ion-badge color="primary" *ngIf="counters?.radar > 0"
        >{{ counters.radar }}</ion-badge
      >
    </ion-tab-button>

    <ion-tab-button tab="community">
      <ion-icon
        [color]="selected === 'community' ? 'primary' : 'light'"
        [name]="'people' + (selected === 'community' ? '' : '-outline')"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon
        [color]="selected === 'events' ? 'primary' : 'light'"
        [name]="'calendar' + (selected === 'events' ? '' : '-outline')"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="openChat()">
      <ion-icon
        [color]="selected === 'chat' ? 'primary' : 'light'"
        [name]="'chatbubbles' + (selected === 'chat' ? '' : '-outline')"
      ></ion-icon>
      <ion-badge color="primary" *ngIf="counters?.chats > 0"
        >{{ counters.chats }}</ion-badge
      >
    </ion-tab-button>

    <ion-tab-button>
      <ion-menu-toggle>
        <ion-avatar>
          <img
            [src]="auth.currentUserValue?.thumbnail"
            [alt]="auth.currentUserValue?.username"
            default="/assets/img/users/default.jpg"
          />
        </ion-avatar>
      </ion-menu-toggle>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
