ion-item {
  --border-color: #e91e63;

  p {
    color: #dddddd;
  }
}

#all-stories {
  ion-avatar {
    width: 55px;
    height: 55px;

    &.not-view {
      border: 2px solid #e91e63;
    }
  }

  ion-badge {
    position: absolute;
    border-radius: 100%;
    z-index: 1;
    border: 2px solid var(--ion-color-dark);
    font-size: 10pt;
    bottom: 0.5rem;
    padding: 0;
    height: 20px;
    width: 20px;
    text-align: center;
    left: 54px;

    ion-icon {
      vertical-align: middle;
    }
  }
}
