<ion-content [fullscreen]="true" *ngIf="page">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{page?.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <img
    id="artwork"
    [src]="page.artwork"
    [alt]="page?.name"
    default="/assets/img/pages/default-games-page.jpg"
  />
  <ion-thumbnail id="cover">
    <img
      (click)="openViewer((page.cover ? page.cover : '/assets/img/pages/default-games-page.jpg'), page.name)"
      [src]="page.cover"
      [alt]="page?.name"
      default="/assets/img/pages/default-games-page.jpg"
    />
  </ion-thumbnail>
  <div id="add-tag" *ngIf="!tag" (click)="addTag()">
    <ion-chip color="secondary">
      <ion-label>{{page?.likes}} me gusta</ion-label>
      <ion-icon name="heart-outline"></ion-icon>
    </ion-chip>
  </div>
  <div id="add-tag" *ngIf="tag" (click)="search()">
    <ion-chip color="secondary">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{page?.likes}} me gusta</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-chip>
  </div>
  <div id="release">
    {{page.release_date | date : 'Y'}}{{page?.developer ? ' • ' + page.developer
    : ''}}
  </div>
  <ion-item
    *ngIf="page.description"
    lines="none"
    id="description"
    button
    detail="false"
    (click)="showDescription = !showDescription"
    [ngClass]="showDescription ? 'expanded' : 'collapsed'"
  >
    <ion-label>
      <p class="ion-text-wrap">
        {{page.description}}
        <br /><br />
        <ion-text *ngIf="page?.category === 'games'" color="light"
          >Información obtenida de
          <a href="https://www.igdb.com/">IGDB</a></ion-text
        >
        <ion-text *ngIf="page?.category === 'films'">
          Información obtenida de
          <a href="https://www.themoviedb.org/">TMDB</a></ion-text
        >
      </p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          color="light"
          [name]="showDescription ? 'chevron-up' : 'chevron-down'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div id="stories" *ngIf="auth.currentUserValue">
    <div *ngIf="!stories">
      <swiper [config]="storiesOpts" mode="md">
        <ng-template swiperSlide *ngFor="let i of [].constructor(8)">
          <div>
            <ion-avatar>
              <ion-skeleton-text
                animated
                style="width: 100%"
              ></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-label>
          </div>
        </ng-template>
      </swiper>
    </div>
    <swiper [config]="storiesOpts" mode="md" *ngIf="stories">
      <ng-template swiperSlide>
        <div>
          <ion-item button lines="none" (click)="newStory()">
            <ion-avatar>
              <img
                [src]="auth.currentUserValue?.thumbnail"
                alt="auth.currentUserValue?.name"
              />
              <ion-badge color="tertiary">+</ion-badge>
            </ion-avatar>
          </ion-item>
          <ion-label>Añadir</ion-label>
        </div>
      </ng-template>
      <ng-template
        swiperSlide
        *ngFor="let story of groupedStories; let i = index"
      >
        <div>
          <ion-item button lines="none" (click)="showStories(story.user.id)">
            <ion-avatar [ngClass]="story?.viewed ? '' : 'not-view'">
              <img [src]="story.image" [alt]="story.text" />
            </ion-avatar>
          </ion-item>
          <ion-label>{{story.user.username}}</ion-label>
        </div>
      </ng-template>
    </swiper>
  </div>

  <div id="search" *ngIf="users?.length || showSkeleton; else noUsers">
    <ion-list *ngIf="showSkeleton; else radarItems">
      <ion-item *ngFor="let i of [].constructor(8)" lines="full">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #radarItems>
      <ion-list>
        <ion-item
          *ngFor="let user of users; "
          button
          (click)="showProfile(user.id)"
          lines="full"
        >
          <ion-avatar slot="start">
            <img
              [src]="user?.thumbnail"
              default="/assets/img/users/default.jpg"
            />
          </ion-avatar>
          <ion-label>
            <h2>
              <span class="name">{{ user.name }}</span>
              <span class="age">, {{ user.age }}</span>
            </h2>
            <h3>
              <span *ngIf="user.distance !== undefined"
                >A {{ user.distance }}km de distancia</span
              >
            </h3>
            <p class="description">{{ user.description }}</p>
          </ion-label>
          <div class="match full-center" slot="end">{{ user.match }}%</div>
        </ion-item>
        <ion-infinite-scroll
          threshold="50%"
          (ionInfinite)="searchProfiles($event, true)"
          position="bottom"
        >
          <ion-infinite-scroll-content loadingSpinner="dots">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>
    </ng-template>
  </div>
</ion-content>
