ion-toolbar {
  position: absolute;
  --background: transparent;

  ion-button {
    background: var(--ion-color-medium-dark);
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  ion-title {
    color: white;
    text-shadow: 1px 1px 1px black;
  }
}

#artwork {
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  filter: blur(1px);
  height: 230px;
  width: 100%;
  object-fit: cover;
}

ion-thumbnail#cover {
  position: absolute;
  top: 120px;
  left: 20px;
  display: inline-flex;

  --border-radius: 5px;
  padding: 5px;
  --size: 120px;
  height: auto;

  img {
    box-shadow: 2px 2px 8px;
    max-height: 150px;
  }
}

#add-tag {
  position: absolute;
  top: 180px;
  right: 20px;
  height: fit-content;
  width: max-content;

  #search-chip ion-icon {
    margin: 0;
  }

  ion-icon {
    color: white;
  }
}

#release {
  color: var(--ion-color-light);
  position: relative;
  left: 150px;
  top: 8px;
  min-height: 40px;
}

#description {
  p {
    text-align: justify;
    font-size: 13px;
  }
}

#description.collapsed {
  height: 70px;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

#description.expanded {
  height: max-content;
  p {
    height: max-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal !important;
  }
}

#stories {
  padding: 10px;
  margin: 10px 0 10px 10px;
  background: var(--ion-color-medium-dark);
  border-radius: 25px 0 0 25px;

  ion-avatar,
  ion-avatar img {
    width: 48px;
    height: 48px;
  }

  ion-badge {
    left: 35px;
    bottom: 5px;
  }

  ion-label {
    width: 72px;
  }
}

#search {
  ion-list {
    ion-item {
      --background: var(--ion-color-dark);
      --border-color: var(--ion-color-primary);

      ion-avatar {
        &.md {
          width: 64px;
          height: 64px;
        }

        &.ios {
          width: 48px;
          height: 48px;
        }

        ion-badge {
          position: absolute;
          left: 70px;
          border-radius: 15px;
          z-index: 1;
          width: 15px;
          height: 15px;
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
        }
      }

      ion-label {
        width: 150px;
        .name {
          font-size: 24px;
        }

        &.ios .description {
          max-height: 30px;
        }

        &.md .description {
          max-height: 36px;
        }

        .description {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          font-size: 13px;
          color: #bbbbbb;
          white-space: initial;
        }
      }

      .match {
        color: white;
        font-size: 12px;
        border: 2px solid var(--ion-color-light);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-weight: bold;
        margin-left: 10px;
        background-color: var(--ion-color-primary);
      }
    }
  }
}
