<ion-content [fullscreen]="true" *ngIf="page">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header class="ion-no-border">
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
    <ion-progress-bar
      type="determinate"
      color="dark"
      *ngIf="!loading"
    ></ion-progress-bar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{page?.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <img
    id="artwork"
    [src]="page.artwork"
    [alt]="page?.name"
    default="/assets/img/pages/default-games-page.svg"
  />
  <ion-thumbnail id="cover">
    <img
      (click)="openViewer((page.cover ? page.cover : '/assets/img/pages/default-games-page.jpg'), page.name)"
      [src]="page.cover"
      [alt]="page?.name"
      default="/assets/img/pages/default-games-page.svg"
    />
  </ion-thumbnail>
  <div id="add-tag">
    <ion-chip color="secondary" id="search-chip" (click)="search()">
      <ion-icon name="search"></ion-icon>
    </ion-chip>
    <ion-chip color="secondary" (click)="addTag()">
      <ion-label>{{page?.likes}} {{ 'likes' | i18n }}</ion-label>
      <ion-icon [name]="tag ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-chip>
  </div>
  <div id="release">
    {{page.release_date | date : 'Y'}}{{page?.developer ? ' • ' + page.developer
    : ''}}
  </div>
  <ion-item
    *ngIf="page.description"
    lines="none"
    id="description"
    button
    detail="false"
    (click)="showDescription = !showDescription"
    [ngClass]="showDescription ? 'expanded' : 'collapsed'"
  >
    <ion-label>
      <p class="ion-text-wrap">
        {{page.description}}
        <br /><br />
        <ion-text *ngIf="page?.category === 'games'" color="light"
          >{{ "informacin-obtenida" | i18n }}
          <a href="https://www.igdb.com/">{{ "igdb" | i18n }}</a></ion-text
        >
        <ion-text *ngIf="page?.category === 'films'">
          {{ "informacin-obtenida" | i18n }}
          <a href="https://www.themoviedb.org/"
            >{{ "tmdb" | i18n }}</a
          ></ion-text
        >
      </p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          color="light"
          [name]="showDescription ? 'chevron-up' : 'chevron-down'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div id="stories" *ngIf="auth.currentUserValue">
    <app-story-slider
      [stories]="stories"
      [slug]="page.slug"
      (refresh)="getStories()"
    ></app-story-slider>
  </div>

  <ion-item lines="none" *ngIf="posts?.length">
    <h2 *ngIf="posts?.length">{{ "posts" | i18n}}</h2>
  </ion-item>

  <app-post
    *ngFor="let post of posts; trackBy: trackByPostId"
    [post]="post"
    (deletePost)="removePost($event)"
  ></app-post>
  <ion-infinite-scroll (ionInfinite)="getMorePosts($event)" position="bottom">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button color="primary" (click)="newPost()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
