<ion-content [fullscreen]="true" *ngIf="page">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{page?.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <img
    id="artwork"
    [src]="page.artwork"
    [alt]="page?.name"
    default="/assets/img/pages/default-games-page.jpg"
  />
  <ion-thumbnail id="cover">
    <img
      (click)="openViewer((page.cover ? page.cover : '/assets/img/pages/default-games-page.jpg'), page.name)"
      [src]="page.cover"
      [alt]="page?.name"
      default="/assets/img/pages/default-games-page.jpg"
    />
  </ion-thumbnail>
  <div id="add-tag" *ngIf="!tag" (click)="addTag()">
    <ion-chip color="secondary">
      <ion-label>Me gusta</ion-label>
      <ion-icon name="heart-outline"></ion-icon>
    </ion-chip>
  </div>
  <div id="add-tag" *ngIf="tag" (click)="search()">
    <ion-chip color="secondary">
      <ion-label>{{page?.likes}} me gusta</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-chip>
  </div>
  <div id="release">
    {{page.release_date | date : 'Y'}}{{page?.developer ? ' • ' + page.developer
    : ''}}
  </div>
  <ion-item
    *ngIf="page.description"
    lines="none"
    id="description"
    button
    detail="false"
    (click)="showDescription = !showDescription"
    [ngClass]="showDescription ? 'expanded' : 'collapsed'"
  >
    <ion-label>
      <p class="ion-text-wrap">{{page.description}}</p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          color="light"
          [name]="showDescription ? 'chevron-up' : 'chevron-down'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div id="stories" *ngIf="auth.currentUserValue" class="ion-padding">
    <div *ngIf="!stories">
      <ion-slides [options]="storiesOpts" mode="md">
        <ion-slide *ngFor="let i of [].constructor(8)">
          <div>
            <ion-avatar>
              <ion-skeleton-text
                animated
                style="width: 100%"
              ></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-label>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <ion-slides [options]="storiesOpts" mode="md" *ngIf="stories">
      <ion-slide>
        <div>
          <ion-item button lines="none" (click)="newStory()">
            <ion-avatar>
              <img
                [src]="auth.currentUserValue?.thumbnail"
                alt="auth.currentUserValue?.name"
              />
              <ion-badge color="tertiary">+</ion-badge>
            </ion-avatar>
          </ion-item>
          <ion-label>Añadir historia</ion-label>
        </div>
      </ion-slide>
      <ion-slide *ngFor="let story of groupedStories; let i = index">
        <div>
          <ion-item button lines="none" (click)="showStories(story.user.id)">
            <ion-avatar [ngClass]="story?.viewed ? '' : 'not-view'">
              <img [src]="story.image" [alt]="story.text" />
            </ion-avatar>
          </ion-item>
          <ion-label>{{story.user.username}}</ion-label>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-item class="room" button lines="none" (click)="showRoom(page.slug)">
    <ion-thumbnail>
      <ion-img src="/assets/img/layout/room.png" alt="sala de chat"></ion-img>
      <ion-badge color="primary" *ngIf="room?.unread">&nbsp;</ion-badge>
    </ion-thumbnail>
    <ion-label>
      <h2 class="room-name">
        Sala de chat temática
      </h2>
      <p class="room-description">
        Entra y habla con la comunidad de FrikiRadar sobre {{page?.name}}
      </p>
    </ion-label>
  </ion-item>

  <ion-item
    class="room"
    button
    lines="none"
    *ngIf="page.game_mode === 'online'"
  >
    <ion-thumbnail>
      <ion-img src="/assets/img/layout/events.png" alt="eventos"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h2 class="room-name">
        Eventos y búsqueda de partidas
      </h2>
      <p class="room-description">
        --- Muy muy pronto ---
      </p>
    </ion-label>
  </ion-item>

  <ion-item class="room" button lines="none" (click)="search()">
    <ion-thumbnail>
      <ion-img src="/assets/img/layout/search.png" alt="búsqueda"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h2 class="room-name">
        Buscar personas
      </h2>
      <p class="room-description">
        Busca personas a las que les guste {{page?.name}}
      </p>
    </ion-label>
  </ion-item>
</ion-content>
<ion-footer class="ion-padding" *ngIf="page?.description">
  <ion-text *ngIf="page?.category === 'games'" color="light"
    >Información obtenida de <a href="https://www.igdb.com/">IGDB</a></ion-text
  >
  <ion-text *ngIf="page?.category === 'films'">
    Información obtenida de
    <a href="https://www.themoviedb.org/">TMDB</a></ion-text
  >
</ion-footer>
