<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h4>¿Quieres cambiar tu contraseña?</h4>
  <p>
    Primero introduce tu contraseña actual y a continuación la nueva que quieres
    tener.
  </p>

  <form (submit)="submitForm()" [formGroup]="passForm" autocomplete="off">
    <ion-item>
      <ion-label position="floating">Contraseña actual</ion-label>
      <ion-input
        required
        [type]="clearOldPassword ? 'text' : 'password'"
        formControlName="oldPassword"
        debounce="500"
        name="password"
      ></ion-input>
      <ion-buttons slot="end" *ngIf="!passForm.get('oldPassword').pristine">
        <ion-button (click)="clearOldPassword = !clearOldPassword">
          <ion-icon
            slot="icon-only"
            [name]="clearOldPassword ? 'eye' : 'eye-off'"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div
      class="error-message"
      *ngIf="
        passForm.get('oldPassword').invalid && passForm.get('oldPassword').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon>Introduce un mínimo
      de 8 caracteres.
    </div>

    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input
        required
        [type]="clearPassword ? 'text' : 'password'"
        formControlName="password"
        debounce="500"
        name="password"
      ></ion-input>
      <ion-buttons slot="end" *ngIf="!passForm.get('password').pristine">
        <ion-button (click)="clearPassword = !clearPassword">
          <ion-icon
            slot="icon-only"
            [name]="clearPassword ? 'eye' : 'eye-off'"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div
      class="error-message"
      *ngIf="passForm.get('password').invalid && passForm.get('password').value"
    >
      <ion-icon name="information-circle-outline"></ion-icon>Introduce un mínimo
      de 8 caracteres.
    </div>
    <ion-button
      color="primary"
      type="submit"
      expand="block"
      [disabled]="passForm.invalid"
      >Cambiar contraseña</ion-button
    >
  </form>
</ion-content>
