<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "generar-nueva-contrasea" | i18n }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="step === 1; else step2" class="ion-padding">
    <h4>{{ "vaya-problemas-para-iniciar-sesin" | i18n }}</h4>
    <p>{{"no-te-preocupes-si-ya" | i18n}}</p>
    <form
      (submit)="submitRequest()"
      [formGroup]="requestForm"
      autocomplete="off"
    >
      <ion-item lines="full">
        <ion-icon name="person-outline" slot="start"></ion-icon>

        <ion-input
          label="{{ 'nombre-usuario-o-email' | i18n }}"
          labelPlacement="floating"
          required
          type="text"
          formControlName="username"
          name="username"
          autocomplete="username"
          appAutofill
        ></ion-input>
      </ion-item>
      <ion-button color="primary" type="submit" expand="block" shape="round"
        >{{ "solicitar" | i18n }}</ion-button
      >
    </form>
  </div>
  <ng-template #step2>
    <div class="ion-padding">
      <h4>
        ¡Te hemos enviado un código de seguridad al email! Revisa tu carpeta de
        spam/no deseado si no lo encuentras.
      </h4>
      <p>{{ "introduce-cdigo-seguridad-tu-nueva" | i18n }}</p>
      <form
        (submit)="submitPassword()"
        [formGroup]="passwordForm"
        autocomplete="off"
      >
        <ion-item class="code">
          <ion-input
            required
            maxlength="6"
            type="text"
            placeholder="{{ 'codigo-seguridad' | i18n }}"
            formControlName="code"
            name="code"
            autocomplete="off"
          ></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input
            labelPlacement="floating"
            label="Nueva contraseña"
            required
            [type]="clearPassword ? 'text' : 'password'"
            formControlName="password"
            name="password"
            autocomplete="off"
          >
          </ion-input>
          <ion-buttons
            slot="end"
            *ngIf="!passwordForm.get('password').pristine"
          >
            <ion-button (click)="clearPassword = !clearPassword">
              <ion-icon
                slot="icon-only"
                [name]="clearPassword ? 'eye' : 'eye-off'"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-button
          color="primary"
          type="submit"
          expand="block"
          shape="round"
          [disabled]="
          passwordForm.get('password').invalid ||
          passwordForm.get('code').invalid
        "
          >{{ "cambiar-contrasea" | i18n }}</ion-button
        >
      </form>
    </div>
  </ng-template>
</ion-content>
