form {
  ion-label {
    --color: #9c2c51 !important;
  }

  #code {
    text-align: center;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    --highlight-color-invalid: white;
    --highlight-color-valid: white;
  }
}
