ion-card {
  --background: transparent;

  ion-card-header {
    padding-bottom: 0;
    padding-top: 0;

    .post-username {
      display: inline-block;
    }

    ion-item::part(native) {
      padding: 0;
      margin: 0;
    }
  }

  ion-card-content {
    ion-thumbnail {
      width: 100%;
      height: auto; /* Permite que el height sea flexible */
      max-height: 500px; /* Establece el máximo a 500px */
      --border-radius: 20px;
    }

    ion-img {
      max-height: 500px; /* Establece un máximo de 500px para mantener la proporción */
    }

    p {
      margin-top: 10px;
    }
  }
}

.post-options {
  margin-right: -15px;
}

.post-slug {
  font-size: 14px;
}

ion-modal ion-avatar {
  margin-right: 10px;
}

.comments-modal {
  ion-list {
    p {
      margin: 0 0 0 10px;
      font-size: 12px;
    }

    span {
      white-space: initial;
    }

    .note-date {
      font-size: 10px;
      color: var(--ion-color-light);
      margin-left: 10px;
    }

    ion-item {
      margin-top: 3px;
      margin-bottom: 3px;
    }

    ion-avatar {
      min-width: 40px;
    }
  }
}

#comment-input {
  margin-bottom: 5px;

  ion-buttons {
    margin: 0;
  }

  ion-item {
    background: white;
    border-radius: 30px;
    margin-left: 8px;
    width: 100%;
    border: 1px solid black;
  }

  ion-textarea {
    --placeholder-color: #555555 !important;
    color: black !important;
    padding: 0px 0px 0px 15px;
    font-size: 12pt;
  }

  ion-label {
    position: absolute;
    z-index: 2;
    right: 20px;
    width: 30px !important;
    min-width: 0px !important;
    margin: 2px 0 !important;

    ion-icon {
      font-size: 30px;
    }
  }
}

#usernames {
  position: absolute;
  bottom: 8px;
  right: 60px;
  left: 60px;
}
