<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button text="" defaultHref="/"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label><h2>Usuarios</h2></ion-label>
      </ion-item-divider>
      <ion-item (click)="bannedUsersModal()" button lines="full">
        <ion-icon name="hammer" slot="start"></ion-icon>
        <ion-label>
          <h2>Usuarios baneados</h2>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="megaphone" slot="start"></ion-icon>
        <ion-label><h2>Marketing</h2></ion-label>
      </ion-item-divider>
      <ion-item (click)="globalNotificationsModal()" button lines="full">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>Notificaciones globales</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
