<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "administracin" | i18n }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label><h2>{{ "usuarios" | i18n }}</h2></ion-label>
      </ion-item-divider>
      <ion-item (click)="bannedUsersModal()" button lines="full">
        <ion-icon name="skull-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "usuarios-baneados" | i18n }}</h2>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="megaphone" slot="start"></ion-icon>
        <ion-label><h2>{{ "marketing" | i18n }}</h2></ion-label>
      </ion-item-divider>
      <ion-item (click)="globalNotificationsModal()" button lines="full">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>{{ "notificaciones-globales" | i18n }}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
