ion-slides {
  display: flex;
  height: 100%;
}

ion-slide {
  display: block;

  &.swiper-slide-prev,
  &.swiper-slide-next {
    opacity: 0.4;
  }
}

ion-card {
  --background: #292929;
  overflow: auto;
  border-radius: 25px;

  &.md {
    height: 97%;
  }

  &.ios {
    height: 95%;
  }
}

ion-card-header {
  text-align: left;
  padding-bottom: 5px;

  ion-card-title {
    color: white;

    ion-badge {
      margin-right: 5px;
      border-radius: 15px;
      z-index: 1;
      width: 10px;
      height: 10px;
      padding: 0;
    }

    .name {
      font-size: 24px;
    }

    .age {
      font-size: 16px;
    }
  }
}

ion-card-content {
  min-height: 50%;
  text-align: left;

  .description {
    max-height: 37px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    white-space: initial;
  }

  .tags {
    margin-top: 10px;
    ion-chip {
      margin-left: 0;
    }
  }
}

.card-footer {
  position: sticky;
  bottom: -1px;
  background: #292929;

  ion-icon {
    margin-right: 15px;
  }

  ion-label {
    color: white;
  }
}

.match {
  position: absolute;
  margin-top: -34px;
  color: white;
  font-size: 12px;
  border: 2px solid white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 10px;
  background-color: #e91e63;
  z-index: 1;
  float: right;
  right: 10px;
}

ion-content {
  ion-list ion-item-sliding {
    background: #e91e63;

    ion-item {
      --background: #1f1f1f;

      ion-avatar {
        &.md {
          width: 64px;
          height: 64px;
        }

        &.ios {
          width: 48px;
          height: 48px;
        }

        ion-badge {
          position: relative;
          left: 45px;
          border-radius: 15px;
          z-index: 1;
          width: 20px;
          height: 20px;
          border: 2px solid #1f1f1f;
          bottom: 25px;
        }
      }

      ion-label {
        width: 150px;
        .name {
          font-size: 24px;
        }

        &.ios .description {
          max-height: 30px;
        }

        &.md .description {
          max-height: 36px;
        }

        .description {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          font-size: 13px;
          color: #bbbbbb;
          white-space: initial;
        }
      }

      .match-list {
        color: white;
        font-size: 12px;
        border: 2px solid white;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-weight: bold;
        margin-left: 10px;
        background-color: #e91e63;
      }
    }

    &:first-child ion-item {
      --background: #e91e63;

      .match-list {
        background-color: white;
        color: #e91e63;
        height: 60px;
        width: 60px;
        font-size: 13px;
      }
    }

    .item-options-end {
      background-color: #f04041;
    }
  }
}

#radar-range {
  color: white;

  ion-range {
    padding-top: 0;
    padding-bottom: 0;
  }

  #range-distance {
    font-size: 12px;
    text-align: end;
    padding: 0;
  }
}

#radar-range.md {
  transition: max-height 0.5s;
  max-height: 100px;
  &.hide-background {
    max-height: 0;
  }
}
