<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="menu.open()">
        <ion-avatar>
          <img
            [src]="authUser?.avatar"
            [alt]="authUser?.username"
            default="/assets/img/users/default.jpg"
          />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
    <ion-title>Radar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides #slides (ionSlideDidChange)="slide()">
    <ion-slide *ngIf="!users?.length || showSkeleton; else radarItems">
      <ion-card>
        <ion-card-header>
          <ion-skeleton-text
            animated
            style="height: 400px; width: 100%"
          ></ion-skeleton-text>
          <ion-card-title>
            <ion-skeleton-text
              animated
              style="height: 20px; width: 50%"
            ></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content
          ><p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ng-template #radarItems>
      <ion-slide *ngFor="let user of users;" #users>
        <ion-card (click)="showProfile(user.id)">
          <img
            [src]="user.avatar"
            [alt]="user.username"
            default="/assets/img/users/default.jpg"
          />
          <div class="match full-center">{{ user.match }}%</div>
          <ion-card-header>
            <ion-card-title>
              <ion-badge
                *ngIf="(user?.last_login | niceDate) === 'Ahora mismo'"
                color="secondary"
                >&nbsp;</ion-badge
              >
              <span class="name">{{ user.name }}</span>
              <span class="age">, {{ user.age }}</span>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h3 class="location" *ngIf="user?.distance !== undefined">
              <ion-icon
                name="location-sharp"
                slot="start"
                size="xs"
                color="primary"
              ></ion-icon>
              <span>A {{ user?.distance }}km de distancia</span>
            </h3>
            <p class="description">{{user.description}}</p>
            <div class="tags" *ngIf="user.common_tags.length">
              <p>Gustos en común:</p>
              <ion-chip *ngFor="let tag of user.common_tags" color="secondary">
                <ion-label>{{ tag }}</ion-label>
              </ion-chip>
            </div></ion-card-content
          >
        </ion-card>
      </ion-slide>
    </ng-template>
  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <ion-button (click)="hideProfile(user.id)">
              <ion-icon
                slot="icon-only"
                name="eye-off"
                color="danger"
              ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button (click)="showProfile(user.id)">
              <ion-icon
                slot="icon-only"
                [color]="user?.like ? 'primary' : 'light'"
                [name]="user?.like ? 'heart' : 'heart-outline'"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
