<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title mode="md">
      <ion-icon src="/assets/icon/icon.svg"></ion-icon>
      <ion-label>frikiradar</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeView()" *ngIf="users">
        <ion-icon
          slot="icon-only"
          [name]="view === 'cards' ? 'list' : 'albums'"
        ></ion-icon>
      </ion-button>
      <ion-button id="filter-options">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
      <ion-button (click)="notifications()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge slot="end" color="primary" *ngIf="counters?.notifications"
          >{{ counters.notifications > 9 ? "+9" : counters.notifications
          }}</ion-badge
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <ion-progress-bar
    type="determinate"
    color="dark"
    *ngIf="!loading"
  ></ion-progress-bar>
</ion-header>
<ion-content #radarlist [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div *ngIf="view === 'cards'" id="radar-container">
    <swiper-container id="radar-slide" #slides init="false">
      <swiper-slide *ngIf="tutorial">
        <ion-card button class="no-scroll">
          <div class="background-image">
            <img src="/assets/img/layout/tutorial-1.svg" alt="tutorial-1" />
          </div>
        </ion-card>
      </swiper-slide>
      <swiper-slide *ngIf="tutorial" class="tutorial">
        <ion-card button class="no-scroll">
          <swiper-container
            class="images-slide"
            (click)="tapTutorial($event)"
            scrollbar="true"
            allow-touch-move="false"
            slides-per-view="1"
          >
            <swiper-slide>
              <div class="background-image">
                <img src="/assets/img/layout/tutorial-2.svg" alt="tutorial-2" />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="background-image">
                <img src="/assets/img/layout/tutorial-3.svg" alt="tutorial-3" />
              </div>
            </swiper-slide>
          </swiper-container>
        </ion-card>
      </swiper-slide>
      <swiper-slide *ngFor="let user of users; let i = index">
        <ion-card
          class="no-scroll"
          button
          *ngIf="user?.username; else adContainer"
        >
          <swiper-container
            class="images-slide"
            (click)="tap($event, user)"
            scrollbar="true"
            allow-touch-move="false"
            slides-per-view="1"
            modules="Scrollbar"
          >
            <div class="swiper-scrollbar"></div>
            <swiper-slide>
              <div class="background-image">
                <img
                  [src]="user?.avatar"
                  [alt]="users?.username"
                  default="/assets/img/users/default.png"
                />
              </div>
            </swiper-slide>
            <swiper-slide *ngFor="let image of user.images">
              <div class="background-image">
                <img
                  [src]="image"
                  [alt]="users?.username"
                  default="/assets/img/users/default.png"
                />
              </div>
            </swiper-slide>
          </swiper-container>
          <div class="info" button (click)="showProfile(user.id)">
            <ion-card-header>
              <div class="match full-center">{{ user.match }}%</div>
              <ion-card-title>
                <ion-badge
                  *ngIf="(user?.last_login | niceDate) === 'Ahora mismo'"
                  color="secondary"
                  >&nbsp;</ion-badge
                >
                <ion-text class="name">{{ user.name }}</ion-text>
                <ion-text class="age">, {{ user.age }}</ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item
                class="info-distance ion-no-padding"
                *ngIf="user.distance !==
                undefined"
                lines="none"
              >
                <ion-icon
                  name="location-sharp"
                  slot="start"
                  color="secondary"
                  class="ion-margin-end"
                ></ion-icon>
                <ion-label>
                  <ion-text>A {{ user.distance }}km de distancia</ion-text>
                </ion-label>
              </ion-item>
              <ion-text class="description">{{user.description}}</ion-text>
              <div class="tags" *ngIf="user?.common_tags?.length">
                <ion-chip
                  *ngFor="let tag of user.common_tags"
                  color="secondary"
                >
                  <ion-label>{{ tag }}</ion-label>
                </ion-chip>
              </div>
            </ion-card-content>
            <ion-item lines="none" class="more" button>
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-item>
          </div>
        </ion-card>
        <ng-template #adContainer>
          <app-ad [ad]="user"></app-ad>
        </ng-template>
      </swiper-slide>
      <swiper-slide *ngIf="!loading">
        <div class="full-center ion-padding">
          <ion-icon name="location"></ion-icon>
          <h2 *ngIf="users && users.length === 0">Sin resultados</h2>
          <h2 *ngIf="users && users.length > 0">No hay más resultados</h2>
          <p>
            Modifica tus filtros de búsqueda o suscríbete a frikiradar UNLIMITED
            para encontrar personas de todo el mundo.
          </p>
          <ion-button
            class="ion-padding"
            shape="round"
            (click)="filterOptions = true"
            ><ion-icon name="filter" slot="start" size="small"></ion-icon
            >Modificar filtros de búsqueda</ion-button
          >
          <br />
          <p>
            También puedes probar suerte cambiando a la vista por kilómetros
          </p>
          <ion-button class="ion-padding" shape="round" (click)="changeView()"
            ><ion-icon name="list" slot="start" size="small"></ion-icon>Cambiar
            a vista por kilómetros</ion-button
          >
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <div *ngIf="view === 'list'" style="height: 100%">
    <ion-list *ngIf="!users.length && !allUsersLoaded">
      <ion-item *ngFor="let i of [].constructor(8)" lines="none">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="users?.length > 0">
      <ion-item-sliding
        *ngFor="let user of users; "
        (ionDrag)="dragItem($event, user.id)"
      >
        <ion-item-options side="start">
          <ion-item-option (click)="showProfile(user.id)">
            <ion-icon slot="icon-only" name="heart"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item button (click)="showProfile(user.id)">
          <ion-avatar slot="start">
            <img
              [src]="user?.thumbnail"
              default="/assets/img/users/default.png"
            />
            <ion-badge
              *ngIf="(user?.last_login | niceDate) === 'Ahora mismo'"
              color="secondary"
              >&nbsp;</ion-badge
            >
          </ion-avatar>
          <ion-label>
            <h2>
              <span class="name">{{ user.name }}</span>
              <span class="age">, {{ user.age }}</span>
            </h2>
            <p class="description">{{ user.description }}</p>
          </ion-label>
          <div class="match-list full-center" slot="end">{{ user.match }}%</div>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option
            color="danger"
            (click)="hideProfile(user.id)"
            expandable
          >
            <ion-icon slot="icon-only" name="close-circle"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-infinite-scroll
        threshold="50%"
        (ionInfinite)="getRadarUsers($event)"
        position="bottom"
      >
        <ion-infinite-scroll-content loadingSpinner="dots">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
    <div
      class="full-center ion-padding"
      *ngIf="users?.length === 0 && (!automatic || ratio === 25000)"
    >
      <ion-icon name="location"></ion-icon>
      <h2 *ngIf="users.length === 0">Sin resultados</h2>
      <h2 *ngIf="users.length > 0">No hay más resultados</h2>
      <p>
        Modifica tus filtros de búsqueda o suscríbete a frikiradar UNLIMITED
        para encontrar de todo el mundo.
      </p>
      <ion-button
        class="ion-padding"
        shape="round"
        (click)="filterOptions = true"
        ><ion-icon name="filter" slot="start" size="small"></ion-icon>Modificar
        filtros de búsqueda</ion-button
      >
    </div>
  </div>
</ion-content>
<ion-footer
  id="radar-range"
  *ngIf="view === 'list'"
  [class.hide-background]="hide || loading"
>
  <ion-range
    mode="ios"
    #range
    min="0"
    max="4"
    step="1"
    [snaps]="true"
    [ticks]="true"
    [debounce]="250"
    [value]="rangeValue"
    (ionChange)="changeRatio($event.detail.value)"
    (click)="automatic = false"
  >
    <ion-icon slot="start" name="radio"></ion-icon>
    <ion-icon slot="end" name="globe"></ion-icon>
  </ion-range>
  <ion-grid id="range-distance">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>100km</ion-col>
      <ion-col>500km</ion-col>
      <ion-col>1000km</ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<!-- modals -->

<ion-modal
  [initialBreakpoint]="0.9"
  [breakpoints]="[0, 0.9]"
  trigger="filter-options"
  [isOpen]="filterOptions"
  cssClass="sheet-modal"
  (didDismiss)="dismissFilterOptions()"
>
  <ng-template>
    <ion-content class="ion-padding">
      <ion-item lines="full">
        <ion-label class="ion-text-center">Filtros de radar</ion-label>
      </ion-item>
      <ion-list>
        <ion-item lines="none">
          <ion-toggle
            [ngModel]="extended"
            (ngModelChange)="radarSearchChange($event)"
          >
            <h2 *ngIf="extended">Búsqueda ampliada</h2>
            <h2 *ngIf="!extended">Búsqueda estricta</h2>
          </ion-toggle>
        </ion-item>
        <ion-item color="dark">
          <ion-label class="ion-text-wrap" *ngIf="!extended">
            <p>
              Se tiene en cuenta tu configuración del perfil en la búsqueda
              (identidad de género, rango de edad y tipo de conexión).
            </p>
          </ion-label>
          <ion-label class="ion-text-wrap" *ngIf="extended">
            <p>
              No se tiene en cuenta tu configuración del perfil en la búsqueda.
              Se obtienen todos los resultados posibles.
            </p>
          </ion-label>
        </ion-item>
        <ion-item-group *ngIf="extended">
          <ion-item lines="none" *ngIf="auth.currentUserValue?.lovegender">
            <ion-toggle
              [ngModel]="searchOptions?.identity"
              (ngModelChange)="radarSearchOptions('identity', $event)"
            >
              <h2>Identidad de género</h2>
              <p>{{auth.currentUserValue?.lovegender}}</p>
            </ion-toggle>
          </ion-item>
          <ion-item
            lines="none"
            *ngIf="auth.currentUserValue?.minage && auth.currentUserValue?.maxage"
          >
            <ion-toggle
              [ngModel]="searchOptions?.range"
              (ngModelChange)="radarSearchOptions('range', $event)"
            >
              <h2>Rango de edad</h2>
              <p>
                {{auth.currentUserValue?.minage}} -
                {{auth.currentUserValue?.maxage}}
              </p>
            </ion-toggle>
          </ion-item>
          <ion-item
            lines="full"
            *ngIf="auth.currentUserValue?.connection?.length"
          >
            <ion-toggle
              [ngModel]="searchOptions?.connection"
              (ngModelChange)="radarSearchOptions('connection', $event)"
              aria-label="Tipo de conexión"
            >
              <h2>Tipo de conexión</h2>
              <p>{{auth.currentUserValue?.connection}}</p>
            </ion-toggle>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item lines="none">
            <ion-toggle
              [ngModel]="searchOptions?.online"
              (ngModelChange)="radarSearchOptions('online', $event)"
              [disabled]="!auth.isPremium()"
              aria-label="Solo personas en línea"
              (click)="!auth.isPremium() ? showPremium('filter') : ''"
            >
              <h2>Solo personas en línea</h2>
              <p>Mostrar solamente las personas conectadas</p>
            </ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-toggle
              [ngModel]="searchOptions?.worldwide"
              (ngModelChange)="radarSearchOptions('worldwide', $event)"
              [disabled]="!auth.isPremium()"
              aria-label="Búsqueda mundial"
              (click)="!auth.isPremium() ? showPremium('radar') : ''"
            >
              <ion-label *ngIf="searchOptions?.worldwide">
                <h2>Búsqueda mundial</h2>
                <p>Muestra personas de todo el mundo</p>
              </ion-label>
              <ion-label *ngIf="!searchOptions?.worldwide">
                <h2 *ngIf="!searchOptions?.worldwide">Búsqueda local</h2>
                <p>Muestra personas cercanas</p>
              </ion-label>
            </ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-toggle
              [ngModel]="searchOptions?.fake_location"
              (ngModelChange)="radarSearchOptions('fake_location', $event)"
              [disabled]="!auth.isPremium()"
              aria-label="Ubicación manual"
              (click)="!auth.isPremium() ? showPremium('location') : ''"
            >
              <ion-label *ngIf="searchOptions?.fake_location">
                <h2>Ubicación manual</h2>
                <p>Te aparecen personas cercanas al lugar elegido</p>
              </ion-label>
              <ion-label *ngIf="!searchOptions?.fake_location">
                <h2 *ngIf="!searchOptions?.fake_location">
                  Ubicación automática
                </h2>
                <p>Te aparecen personas cercanas a tu posición real</p>
              </ion-label>
            </ion-toggle>
          </ion-item>
          <ion-list *ngIf="searchOptions?.fake_location">
            <ion-item color="dark">
              <ion-icon name="earth" slot="start"></ion-icon>
              <ion-select
                label="País"
                labelPlacement="floating"
                interface="action-sheet"
                cancel-text="Cancelar"
                placeholder="Selecciona uno"
                [value]="location?.country"
                debounce="2000"
                (ionChange)="changeLocation('country', $event.detail.value)"
              >
                <ion-select-option
                  *ngFor="let country of countries"
                  [value]="country"
                  >{{ country }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item color="dark">
              <ion-icon name="location-outline" slot="start"></ion-icon>
              <ion-input
                label="Municipio o C.P."
                labelPlacement="floating"
                clearOnEdit="true"
                (ionInput)="changeLocation('city', $event.detail.value)"
                [value]="location?.city"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-item-group>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-backdrop visible="true" *ngIf="showBackdrop"></ion-backdrop>
