ion-content {
  ion-list {
    padding: 0;

    ion-item {
      --background: #1a1a1a;
      --border-color: #e91e63;

      ion-avatar {
        width: 64px;
        height: 64px;
      }

      h2 {
        font-size: 22px;
      }

      p {
        color: #bbbbbb;
      }
    }

    ion-item:first-child {
      --background: #e91e63;
    }
  }
}

ion-range {
  --bar-background: white;
  --bar-height: 4px;
  --knob-size: 30px;

  ion-icon {
    color: #e81e63;
    margin-left: -12px;
    z-index: 2;
    background: white;
    border-radius: 50%;
  }
}

.range-tick {
  height: 15px;
  width: 15px;
  border-radius: 80px;
  top: 14px;
  background: white;
}

#range-distance {
  padding: 0;
  margin-top: -20px;
  color: white;
}

ion-note {
  margin: 0;
  --color: #bbbbbb;
  font-size: 14px;
}
