<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>frikiradar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeView()" *ngIf="users">
        <ion-icon
          slot="icon-only"
          [name]="view === 'cards' ? 'list' : 'albums'"
        ></ion-icon>
      </ion-button>
      <ion-button (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
      <ion-button (click)="search()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="notifications()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge slot="end" color="primary" *ngIf="counters?.notifications"
          >{{ counters.notifications }}</ion-badge
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #radarlist [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <section>
    <ion-slides id="stories" [options]="storiesOpts" mode="md">
      <ion-slide>
        <div>
          <ion-item button lines="none" (click)="newStory()">
            <ion-avatar>
              <img
                [src]="auth.currentUserValue?.thumbnail"
                alt="auth.currentUserValue?.name"
              />
              <ion-badge color="tertiary">+</ion-badge>
            </ion-avatar>
          </ion-item>
          <ion-label>Añadir</ion-label>
        </div>
      </ion-slide>
      <ion-slide *ngFor="let story of groupedStories; let i = index">
        <div>
          <ion-item button lines="none" (click)="showStories(story.user.id)">
            <ion-avatar [ngClass]="story?.viewed ? '' : 'not-view'">
              <img [src]="story.image" [alt]="story.text" />
            </ion-avatar>
          </ion-item>
          <ion-label>{{story.user.username}}</ion-label>
        </div>
      </ion-slide>
      <ion-slide *ngIf="groupedStories?.length">
        <div>
          <ion-item button lines="none" (click)="showAllStories()">
            <ion-avatar>
              <img
                [src]="auth.currentUserValue?.thumbnail"
                alt="auth.currentUserValue?.name"
              />
            </ion-avatar>
          </ion-item>
          <ion-label>Ver todas</ion-label>
        </div>
      </ion-slide>
    </ion-slides>
  </section>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <div *ngIf="view === 'cards'" style="height: 100%">
    <ion-slides #slides (ionSlideDidChange)="slide()" [options]="slideOpts">
      <ion-slide *ngIf="!users || loading">
        <ion-card button>
          <ion-card-header>
            <ion-skeleton-text
              animated
              style="height: 400px; width: 100%"
            ></ion-skeleton-text>
            <ion-card-title>
              <ion-skeleton-text
                animated
                style="height: 20px; width: 50%"
              ></ion-skeleton-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content
            ><p>
              <ion-skeleton-text
                animated
                style="width: 100%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 100%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 100%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 100%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 100%"
              ></ion-skeleton-text>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide *ngFor="let user of users;">
        <ion-card (click)="showProfile(user.id)" class="no-scroll" button>
          <img
            [src]="user?.avatar"
            [alt]="users?.username"
            default="/assets/img/users/default.jpg"
          />
          <div class="match full-center">{{ user.match }}%</div>
          <ion-card-header>
            <ion-card-title>
              <ion-badge
                *ngIf="(user?.last_login | niceDate) === 'Ahora mismo'"
                color="secondary"
                >&nbsp;</ion-badge
              >
              <ion-text class="name" color="light">{{ user.name }}</ion-text>
              <ion-text class="age" color="light">, {{ user.age }}</ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="description">
              <ion-text color="light">{{user.description}}</ion-text>
            </p>
            <div class="tags" *ngIf="user?.common_tags?.length">
              <p><ion-text color="light">Gustos en común:</ion-text></p>
              <ion-chip *ngFor="let tag of user.common_tags" color="secondary">
                <ion-label>{{ tag }}</ion-label>
              </ion-chip>
            </div>
            <!--<div>
              <h2>Buscando:</h2>
              <p>{{user?.connection}}</p>
            </div>-->
          </ion-card-content>
          <ion-row class="card-footer">
            <ion-col>
              <ion-item *ngIf="user.distance !== undefined" lines="none">
                <ion-icon
                  name="location-sharp"
                  slot="start"
                  color="secondary"
                ></ion-icon>
                <ion-label>
                  <ion-text color="light"
                    >A {{ user.distance }}km de distancia</ion-text
                  >
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-slide>
      <ion-slide *ngIf="!loading">
        <div class="full-center ion-padding">
          <ion-icon name="location"></ion-icon>
          <h2>Sin resultados</h2>
          <p>
            Modifica tus ajustes de "Estoy buscando..." en tu configuración de
            perfil y añade más "Gustos frikis" para mejorar los resultados.
          </p>
          <ion-button shape="round" (click)="router.navigate(['/edit-profile'])"
            >Editar mi perfil</ion-button
          >
          <br />
          <p>
            También puedes probar suerte cambiando a la vista por kilómetros
          </p>
          <ion-button shape="round" (click)="changeView()"
            ><ion-icon name="list" slot="start" size="small"></ion-icon>Cambiar
            a vista por kilómetros</ion-button
          >
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="view === 'list'" style="height: 100%">
    <!--<p class="ion-padding">
        Estos son los resultados obtenidos
        <span *ngIf="ratio <= 1000"> un radio de {{ ratio }}km</span><span *ngIf="ratio > 1000">mundialmente</span> con un
        porcentaje de
        coincidencia más alto.
      </p>-->
    <ion-list *ngIf="!users">
      <ion-item *ngFor="let i of [].constructor(8)" lines="none">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="users?.length > 0">
      <ion-item-sliding
        *ngFor="let user of users; "
        (ionDrag)="dragItem($event, user.id)"
      >
        <ion-item-options side="start">
          <ion-item-option (click)="showProfile(user.id)">
            <ion-icon slot="icon-only" name="heart"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item button (click)="showProfile(user.id)">
          <ion-avatar slot="start">
            <img
              [src]="user?.thumbnail"
              default="/assets/img/users/default.jpg"
            />
            <ion-badge
              *ngIf="(user?.last_login | niceDate) === 'Ahora mismo'"
              color="secondary"
              >&nbsp;</ion-badge
            >
          </ion-avatar>
          <ion-label>
            <h2>
              <span class="name">{{ user.name }}</span>
              <span class="age">, {{ user.age }}</span>
            </h2>
            <p class="description">{{ user.description }}</p>
          </ion-label>
          <div class="match-list full-center" slot="end">{{ user.match }}%</div>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option
            color="danger"
            (click)="hideProfile(user.id)"
            expandable
          >
            <ion-icon slot="icon-only" name="close-circle"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-infinite-scroll
        threshold="50%"
        (ionInfinite)="getRadarUsers($event)"
        position="bottom"
      >
        <ion-infinite-scroll-content loadingSpinner="dots">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
    <div
      class="full-center ion-padding"
      *ngIf="users?.length === 0 && (!automatic || ratio === 25000)"
    >
      <ion-icon name="location"></ion-icon>
      <h2>Sin resultados</h2>
      <p>
        Modifica tus ajustes de "Estoy buscando..." en tu configuración de
        perfil y añade tus "Gustos frikis" para mejorar los resultados.
      </p>
      <ion-button shape="round" (click)="router.navigate(['/edit-profile'])"
        >Editar perfil</ion-button
      >
    </div>
  </div>
</ion-content>
<ion-footer
  id="radar-range"
  *ngIf="view === 'list'"
  [class.hide-background]="hide || loading"
>
  <ion-range
    mode="md"
    #range
    min="0"
    max="5"
    step="1"
    snaps="true"
    [debounce]="250"
    [value]="rangeValue"
    (ionChange)="changeRatio($event.detail.value)"
    (click)="automatic = false"
  >
    <ion-label slot="start">10km</ion-label>
    <ion-icon slot="end" name="globe" size="small"></ion-icon>
  </ion-range>
  <ion-grid id="range-distance">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>50km</ion-col>
      <ion-col>100km</ion-col>
      <ion-col>500km</ion-col>
      <ion-col>1000km</ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<!-- panes -->

<div class="radar-pane">
  <ion-item lines="full">
    <ion-label class="ion-text-center">Filtros de radar</ion-label>
  </ion-item>
  <ion-list>
    <ion-item lines="none">
      <ion-label *ngIf="!extended">Búsqueda estricta</ion-label>
      <ion-label *ngIf="extended">Búsqueda ampliada</ion-label>
      <ion-toggle
        [ngModel]="extended"
        (ngModelChange)="radarSearchChange($event)"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap" *ngIf="!extended">
        <p>
          Se tiene en cuenta tu configuración del perfil en la búsqueda
          (identidad de género, rango de edad y tipo de conexión).
        </p>
      </ion-label>
      <ion-label class="ion-text-wrap" *ngIf="extended">
        <p>
          No se tiene en cuenta tu configuración del perfil en la búsqueda. Se
          obtienen todos los resultados posibles.
        </p>
      </ion-label>
    </ion-item>
    <ion-item-group *ngIf="extended">
      <ion-item lines="none" *ngIf="auth.currentUserValue?.lovegender">
        <ion-label>
          <h2>Identidad de género</h2>
          <p>{{auth.currentUserValue?.lovegender}}</p>
        </ion-label>
        <ion-toggle
          [ngModel]="searchOptions?.identity"
          (ngModelChange)="radarSearchOptions('identity', $event)"
        ></ion-toggle>
      </ion-item>
      <ion-item
        lines="none"
        *ngIf="auth.currentUserValue?.minage && auth.currentUserValue?.maxage"
      >
        <ion-label>
          <h2>Rango de edad</h2>
          <p>
            {{auth.currentUserValue?.minage}} -
            {{auth.currentUserValue?.maxage}}
          </p>
        </ion-label>
        <ion-toggle
          [ngModel]="searchOptions?.range"
          (ngModelChange)="radarSearchOptions('range', $event)"
        ></ion-toggle>
      </ion-item>
      <ion-item lines="none" *ngIf="auth.currentUserValue?.connection?.length">
        <ion-label>
          <h2>Tipo de conexión</h2>
          <p>{{auth.currentUserValue?.connection}}</p>
        </ion-label>
        <ion-toggle
          [ngModel]="searchOptions?.connection"
          (ngModelChange)="radarSearchOptions('connection', $event)"
        ></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>
</div>

<ion-backdrop visible="true" *ngIf="showBackdrop"></ion-backdrop>
