ion-content {
  ion-list {
    ion-item {
      --border-color: #e91e63;

      ion-avatar {
        width: 64px;
        height: 64px;

        ion-badge {
          position: absolute;
          left: 70px;
          border-radius: 15px;
          z-index: 1;
          width: 15px;
          height: 15px;
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
        }
      }

      h2 {
        font-size: 22px;
      }

      p {
        color: #bbbbbb;
      }

      &:first-child {
        --background: #e91e63;
      }
    }
  }
}

#radar-range {
  padding: 15px 5px;
}

ion-range {
  --bar-background: white;
  --bar-height: 4px;
  --knob-size: 30px;
}

.range-tick {
  height: 15px;
  width: 15px;
  border-radius: 80px;
  top: 14px;
  background: white;
}

#range-distance {
  padding: 0;
  margin-top: -20px;
  color: white;

  ion-icon {
    font-size: 22px;
    text-align: right;
    float: right;
  }
}

ion-note {
  margin: 0;
  --color: #bbbbbb;
  font-size: 14px;
}

ion-spinner {
  * {
    stroke: blue !important;
  }

  &.spinner-circles circle,
  &.spinner-bubbles circle,
  &.spinner-dots circle {
    fill: blue !important;
  }
}

ion-header.md ion-toolbar {
  transition: max-height 0.5s;
  max-height: 100px;
  &.hide-background {
    max-height: 0;
  }
}

ion-footer.md {
  transition: max-height 0.5s;
  max-height: 100px;
  &.hide-background {
    max-height: 0;
  }
}
