<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Patreon x FrikiRadar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="!auth.currentUserValue?.patreon">
    <p class="ion-text-center">
      Vincula tu cuenta de FrikiRadar con Patreon para tener acceso a todas las
      ventajas exclusivas.
    </p>
    <ion-button (click)="link()" shape="round" expand="block" class="patreon"
      >Vincular con Patreon</ion-button
    >
  </div>
  <div *ngIf="auth.currentUserValue?.patreon">
    <p class="ion-text-center">
      ¡Enhorabuena, tu cuenta está vinculada correctamente con Patreon!
    </p>
    <ion-item>
      <ion-icon
        src="/assets/icon/patreon_coral.svg"
        slot="start"
        color="secondary"
      ></ion-icon>
      <ion-label>
        <h2>Estado:</h2>
        <h1>
          Suscripción {{ auth.currentUserValue.patreon.patron_status ===
          'active_patron' ? "activa" : "inactiva" }}
        </h1>
      </ion-label>
    </ion-item>
  </div>
  <ion-list>
    <ion-item>
      <ion-icon
        name="checkmark-circle"
        slot="start"
        color="secondary"
      ></ion-icon>
      <ion-label>
        <p>
          <strong>VERIFICA TU CUENTA.</strong> Al vincular tu cuenta de patreon
          con FrikiRadar podemos verificar tu perfil y se mostrará una marca de
          verificación junto a tu nombre para que los usuarios sepan que eres
          real.
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="chatbubbles" slot="start" color="tertiary"></ion-icon>
      <ion-label
        ><p>
          <strong>SALAS DE CHAT.</strong> Accede a las salas de chat y canal de
          Discord exclusivos para patreons donde podrás consultar dudas o
          realizar sugerencias a los creadores. Además de ser de los primeros en
          enterarte de todas las novedades.
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="color-palette" slot="start" color="primary"></ion-icon>
      <ion-label
        ><p>
          <strong>TEMAS EXCLUSIVOS.</strong> Cambia el estilo de FrikiRadar con
          los temas exclusivos para miembros de Patreon.
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="flame" slot="start" color="danger"></ion-icon>
      <ion-label
        ><p>
          <strong>ACCESO BETA.</strong> Prueba las nuevas actualizaciones antes
          que nadie con las versiones beta exclusivas para miembros de Patreon.
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="document-text" slot="start" color="warning"></ion-icon>
      <ion-label
        ><p>
          <strong>APARECE EN LOS CRÉDITOS.</strong> Con tu apoyo formarás parte
          de la creación de FrikiRadar y tu nombre aparecerá en los créditos de
          la aplicación como colaborador.
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="gift" slot="start" color="secondary"></ion-icon>
      <ion-label
        ><p>
          <strong>SORTEOS Y EVENTOS EXCLUSIVAS.</strong> Al formar parte de
          Patreon podrás participar en exclusiva en sorteos y eventos que
          realizaremos tanto nacional como mundialmente (próximamente).
        </p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon name="heart" slot="start" color="primary"></ion-icon>
      <ion-label
        ><p>
          <strong>AMOR INCONDICIONAL.</strong> Los creadores de FrikiRadar te
          daremos amor ilimitado incondicional por ayudarnos a crecer y serás de
          las primeras personas en enterarte de todo lo que sucede.
        </p></ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>
