<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Historias frikis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <ion-list id="all-stories">
    <ion-item button detail="false" lines="none" (click)="newStory()" mode="md">
      <ion-avatar slot="start">
        <img
          [src]="auth.currentUserValue?.thumbnail"
          alt="auth.currentUserValue?.name"
        />
      </ion-avatar>
      <ion-badge slot="start" color="primary"
        ><ion-icon name="add"></ion-icon
      ></ion-badge>
      <ion-label>
        <h2>Añadir historia</h2>
      </ion-label>
    </ion-item>
    <ion-item
      button
      detail="false"
      *ngFor="let story of groupedStories"
      lines="none"
      (click)="showStories(story.user.id)"
    >
      <ion-avatar slot="start" [ngClass]="story?.viewed ? '' : 'not-view'">
        <img [src]="story.image" [alt]="story.text" />
      </ion-avatar>
      <ion-label>
        <h2>{{story.user.username}}</h2>
        <p>{{story.text}}</p>
      </ion-label>
      <ion-note slot="end"> {{ story.time_creation | niceDate }} </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
