ion-item {
  --background: #212121;
  --border-color: #e91e63;

  p {
    color: #dddddd;
  }
}

#all-stories {
  ion-avatar {
    width: 55px;
    height: 55px;

    &.not-view {
      border: 2px solid #e91e63;
    }
  }

  ion-badge {
    position: relative;
    left: 40px;
    border-radius: 15px;
    z-index: 1;
    width: 22px;
    height: 22px;
    bottom: 27px;
    border: 2px solid #212121;
    font-size: 14pt;
    line-height: 0.7;
  }
}
