ion-header ion-toolbar {
  position: absolute;
  --background: transparent !important;

  ion-icon {
    color: white;
  }

  h2,
  p {
    color: white !important;
  }
}

ion-content#stories {
  --background: black;
}

ion-footer {
  --background: transparent !important;
  position: absolute;
  bottom: 0;
}

ion-label {
  p,
  h2 {
    text-transform: none;
    letter-spacing: normal;
    margin: 0 0 0 10px;
    text-align: left;
  }

  p {
    font-size: 12px;
    color: white;

    ion-badge {
      margin-right: 5px;
      border-radius: 15px;
      z-index: 1;
      width: 10px;
      height: 10px;
      box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
    }
  }
}

swiper {
  height: 100%;
}

.background-image {
  height: 100% !important;
  width: 100% !important;
  opacity: 0.8;
  position: absolute;
  filter: blur(20px);
  object-fit: cover !important;
}

.background-color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.story-text {
  padding: 30px;
  text-align: center;
  font-size: 28px;
  z-index: 1;

  &.light {
    color: #ffffff !important;
  }

  &.dark {
    color: #000000 !important;
  }
}

ion-card {
  align-self: center;
  box-shadow: none;
  background: transparent;
  height: 80vh;
  display: flex;
  align-items: center;

  img {
    pointer-events: none; // for Android
    -webkit-touch-callout: none; // for iOS
  }
  ion-thumbnail {
    width: auto;
    height: auto;
    --border-radius: 15px;
  }
}

ion-card-content {
  width: 70%;
  text-align: left;
  text-shadow: 0px 0px 4px #000;
  position: absolute;
  bottom: 40px;
  background: rgb(87 87 87 / 54%);
  border-radius: 20px;
  margin: 10px;

  p {
    color: white;
  }
}

.story-actions {
  position: absolute;
  justify-self: flex-end;
  bottom: 150px;
  right: 20px;
  text-shadow: 0px 0px 4px #000; // sombra de texto
  opacity: 0.9; // transparencia ligera

  ion-buttons {
    margin-top: 10px;
  }

  ion-icon {
    font-size: 32px !important;
    color: white;
  }

  ion-label {
    color: white;
  }
}

#text-input,
#comment-input {
  margin-bottom: 5px;

  ion-buttons {
    margin: 0;
  }

  ion-item {
    background: white;
    border-radius: 30px;
    margin-left: 8px;
    width: 100%;
    border: 1px solid black;
  }

  ion-textarea {
    --placeholder-color: #e91e62aa !important;
    color: black !important;
    padding: 0px 0px 0px 15px;
    font-size: 12pt;
  }

  ion-label {
    position: absolute;
    z-index: 2;
    right: 20px;
    width: 30px !important;
    min-width: 0px !important;
    margin: 2px 0 !important;

    ion-icon {
      font-size: 30px;
    }
  }
}

ion-footer {
  ion-icon {
    margin-right: 5px;
  }
  ion-label {
    text-transform: none;
  }
}

ion-modal ion-avatar {
  margin-right: 10px;
}

.comments {
  ion-list {
    background: transparent !important;
  }

  .text {
    span {
      color: white;
      white-space: initial;
    }
  }

  .note-date {
    font-size: 10px;
    color: white;
    margin-left: 10px;
  }

  .show-more ion-label {
    color: white !important;
  }
}

.comments-modal {
  .text {
    span {
      color: var(--ion-color-light);
      white-space: initial;
    }
  }

  .note-date {
    font-size: 10px;
    color: var(--ion-color-light);
    margin-left: 10px;
  }
}

#usernames {
  position: absolute;
  bottom: 70px;
  right: 60px;
  left: 60px;
}

.story-slug {
  position: absolute;
  color: white;
  right: 22px;
  bottom: 70px;
}
