<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="showProfile(story?.user?.id)">
        <ion-avatar>
          <img [src]="story.user?.thumbnail" [alt]="story.user?.username" />
        </ion-avatar>
        <ion-label>
          <h2>
            {{ story.user.id !== auth.currentUserValue.id ? story.user?.username
            : 'Mi historia' }}
          </h2>
          <p>{{(story?.time_creation | niceDate)}}</p>
        </ion-label>
      </ion-button>
      <ion-icon
        *ngIf="userSvc.getRoleIcon(story.user)"
        [name]="userSvc.getRoleIcon(story.user)"
        [src]="userSvc.getRoleIcon(story.user)"
        slot="icon-only"
        size="small"
        [color]="userSvc.getRoleColor(story.user)"
        (click)="userSvc.showRole(story.user)"
      ></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="show-options">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
      <ion-button (click)="addStory()">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <swiper
    (swiper)="setSwiperInstance($event)"
    (click)="tap($event)"
    (touchStart)="touchStart($event)"
    (touchEnd)="touchEnd($event)"
    [config]="slideOpts"
  >
    <ng-template swiperSlide *ngFor="let story of stories" class="story-slide">
      <img
        class="background-image"
        [src]="story?.image"
        [alt]="story?.user.username"
      />
      <ion-card>
        <ion-thumbnail>
          <img [src]="story?.image" [alt]="story?.user.username" />
        </ion-thumbnail>
        <ion-card-content class="story-text">
          <p
            (click)="$event.stopImmediatePropagation(); openUrl($event);"
            [innerHTML]="story.text | linky:{className: 'linkified'} | mentions:{mentions: story.mentions} | hashtag"
          ></p>
        </ion-card-content>
        <div class="comments preview-comments">
          <ion-list *ngIf="story?.comments.length > 0">
            <ion-item
              *ngFor="let comment of story.comments.slice(-1)"
              button
              detail="false"
              lines="none"
            >
              <ion-avatar (click)="showProfile(comment.user.id)">
                <img [src]="comment.user.thumbnail" />
              </ion-avatar>
              <ion-label>
                <p class="text">
                  <a (click)="showProfile(comment.user.id)"
                    >{{comment.user.username}}</a
                  >
                  &nbsp;
                  <span
                    [innerHTML]="comment.text | linky:{className: 'linkified'} | mentions:{mentions: comment.mentions} | hashtag"
                    (click)="$event.stopImmediatePropagation(); openUrl($event);"
                  ></span>
                </p>

                <ion-note class="note-date">
                  <span>{{ comment.time_creation | date: "shortTime" }}</span>
                  &nbsp;&nbsp;&nbsp;
                  <span
                    *ngIf="comment?.likes.length"
                    button
                    (click)="viewCommentLikes(comment.likes)"
                    >{{ comment.likes.length }} kokoros</span
                  >
                </ion-note>
              </ion-label>
            </ion-item>
            <ion-item
              button
              lines="none"
              class="show-more"
              (click)="$event.stopImmediatePropagation(); showCommentsSheet($event)"
            >
              <ion-label
                >Ver los {{story?.comments.length}} comentarios</ion-label
              >
            </ion-item>
          </ion-list>
        </div>
      </ion-card>
      <div class="story-actions">
        <ion-buttons slot="start" ion-activatable>
          <ion-button
            color="primary"
            (click)="switchLikeStory($event)"
            shape="round"
          >
            <ion-icon
              [color]="story?.like ? 'primary' : 'light'"
              name="heart"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label>{{story?.likeStories.length}}</ion-label>
        <ion-buttons>
          <ion-button
            (click)="showViewsSheet($event)"
            id="view-views"
            shape="round"
          >
            <ion-icon name="eye"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label>{{story?.viewStories.length}}</ion-label>
        <ion-buttons slot="end">
          <ion-button
            (click)="showCommentsSheet($event)"
            id="view-comments"
            shape="round"
          >
            <ion-icon name="chatbubble-ellipses"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label>{{story.comments.length}}</ion-label>
      </div>
    </ng-template>
  </swiper>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-item lines="none" id="text-input">
    <form [formGroup]="commentForm" autocomplete="off">
      <ion-item lines="none">
        <ion-textarea
          id="trigger-comment"
          placeholder="Comenta la historia"
          autocapitalize="on"
          (ionFocus)="commentFocus($event);"
          rows="1"
        >
        </ion-textarea>
      </ion-item>
    </form>
    <ion-buttons ion-activatable>
      <ion-button [disabled]="!comment.value" (click)="sendComment()">
        <ion-icon slot="icon-only" color="primary" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-footer>

<!-- modals -->
<ion-modal
  [breakpoints]="[0, 1]"
  [initialBreakpoint]="1"
  cssClass="sheet-modal"
  (didPresent)="slides.autoplay.stop()"
  (didDismiss)="slides.autoplay.start()"
  [isOpen]="showViews"
  (ionModalDidDismiss)="closeCommentsSheet()"
>
  <ng-template>
    <ion-content class="ion-padding">
      <p>Visualizaciones y kokoros</p>
      <ion-list *ngIf="story?.viewStories?.length > 0">
        <ion-item
          *ngFor="let view of story?.viewStories"
          button
          detail="false"
          (click)="showProfile(view.user.id)"
          color="dark"
        >
          <ion-avatar>
            <img [src]="view?.user?.thumbnail" />
          </ion-avatar>
          <ion-label>{{view?.user?.username}}</ion-label>
          <ion-icon name="heart" color="primary" *ngIf="view?.user?.like"
            >{{view?.user?.like}}</ion-icon
          >
        </ion-item>
      </ion-list>
      <ion-item *ngIf="story?.viewStories?.length == 0" color="dark">
        <p>No hay visualizaciones</p>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal
  [breakpoints]="[0, 1]"
  [initialBreakpoint]="1"
  cssClass="sheet-modal"
  (didPresent)="slides.autoplay.stop()"
  (didDismiss)="slides.autoplay.start()"
  [isOpen]="showComments"
  (ionModalDidDismiss)="closeCommentsSheet()"
>
  <ng-template>
    <ion-content class="comments-modal">
      <p class="ion-padding">Comentarios</p>
      <ion-list
        id="usernames"
        *ngIf="usernames?.length && comment?.value?.length > 3"
      >
        <ion-item
          lines="none"
          button
          detail="false"
          *ngFor="let u of usernames"
          (click)="setMention(u.username)"
        >
          <ion-avatar>
            <img [src]="u.thumbnail" />
          </ion-avatar>
          <ion-label>{{ u.username }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="story?.comments.length > 0">
        <ion-item
          *ngFor="let comment of story.comments"
          button
          detail="false"
          lines="none"
          color="dark"
        >
          <ion-avatar (click)="showProfile(comment.user.id)">
            <img [src]="comment.user.thumbnail" />
          </ion-avatar>
          <ion-label>
            <p class="text">
              <a (click)="showProfile(comment.user.id)"
                >{{comment.user.username}}</a
              >
              &nbsp;
              <span
                [innerHTML]="comment.text | linky:{className: 'linkified'} | mentions:{mentions: comment.mentions} | hashtag"
                (click)="$event.stopImmediatePropagation(); openUrl($event);"
              ></span>
            </p>

            <ion-note class="note-date">
              <span>{{ comment.time_creation | date: "shortTime" }}</span>
              &nbsp;&nbsp;&nbsp;
              <span
                *ngIf="comment?.likes.length"
                button
                (click)="viewCommentLikes(comment.likes)"
                >{{ comment.likes.length }} kokoros</span
              >
              &nbsp;&nbsp;&nbsp;
              <span
                *ngIf="auth.currentUserValue.id !== comment.user.id"
                button
                (click)="reply(comment)"
                >Responder</span
              >
              &nbsp;&nbsp;&nbsp;
              <span
                *ngIf="auth.currentUserValue.id === comment.user.id || auth.isMaster()"
                button
                (click)="deleteComment(comment)"
                >Eliminar</span
              >
            </ion-note>
          </ion-label>

          <ion-note>
            <ion-buttons>
              <ion-button (click)="switchLikeComment(comment)">
                <ion-icon
                  slot="icon-only"
                  size="small"
                  [color]="comment.like ? 'primary' : 'medium'"
                  [name]="comment.like ? 'heart' : 'heart-outline'"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-note>
        </ion-item>
      </ion-list>
      <ion-item *ngIf="story?.comments.length == 0" color="dark">
        <p>No hay comentarios</p>
      </ion-item>
    </ion-content>
    <ion-footer>
      <ion-item id="comment-input" lines="none">
        <ion-avatar>
          <img
            [src]="auth.currentUserValue.thumbnail"
            [alt]="auth.currentUserValue.username"
          />
        </ion-avatar>
        <form [formGroup]="commentForm" autocomplete="off">
          <ion-item lines="none">
            <ion-textarea
              placeholder="Comenta la historia"
              autocapitalize="on"
              (keydown.enter)="sendComment($event)"
              (ionInput)="setWriting($event.detail.value)"
              formControlName="comment"
              #textarea
              rows="1"
            >
            </ion-textarea>
          </ion-item>
        </form>
        <ion-buttons ion-activatable>
          <ion-button [disabled]="!comment.value" (click)="sendComment()">
            <ion-icon slot="icon-only" name="send" color="primary"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-footer>
  </ng-template>
</ion-modal>

<ion-modal
  [initialBreakpoint]="0.3"
  [breakpoints]="[0, 0.3]"
  trigger="show-options"
  cssClass="sheet-modal"
  (didPresent)="slides.autoplay.stop()"
  (didDismiss)="slides.autoplay.start()"
>
  <ng-template>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item
          button
          detail="false"
          (click)="removeStory(notification)"
          lines="none"
          *ngIf="story.user.id === auth.currentUserValue.id || auth.isMaster()"
        >
          <ion-icon slot="start" name="trash-outline" color="light"></ion-icon>
          <ion-label>Eliminar la historia</ion-label>
        </ion-item>
        <ion-item
          lines="none"
          button
          detail="false"
          (click)="reportStory(notification)"
        >
          <ion-icon
            slot="start"
            name="warning-outline"
            color="light"
          ></ion-icon>
          <ion-label>Reportar la historia</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
