<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Usuarios baneados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="users?.length; else noUsers">
    <ion-list>
      <ion-item lines="full" *ngFor="let user of users">
        <ion-avatar slot="start">
          <img [src]="user.avatar" default="/assets/img/users/default.jpg" />
          <ion-badge color="primary" *ngIf="user?.count > 0"
            >{{ user?.count }}</ion-badge
          >
        </ion-avatar>
        <ion-label>
          <h2>{{ user.name }}</h2>
          <p>
            <ion-text color="light">{{user.ban_reason}} - </ion-text>
            <ion-text color="secondary">
              {{user?.ban_end ? user.ban_end : 'Indefinido'}}
            </ion-text>
          </p>
        </ion-label>
        <ion-buttons>
          <ion-button (click)="viewMessages(user?.id)">
            <ion-icon
              slot="icon-only"
              color="primary"
              name="chatbubbles"
            ></ion-icon>
          </ion-button>
          <ion-button (click)="unban(user)">
            <ion-icon slot="icon-only" color="primary" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #noUsers>
    <div class="full-center ion-padding">
      <ion-icon name="body"></ion-icon>
      <h2>Sin resultados</h2>
      <p>
        No hay ningún usuario baneado.
      </p>
    </div>
  </ng-template>
</ion-content>
