<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Comunidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <ion-item lines="none" (click)="showAllRooms()" button detail="false">
    <ion-label color="light">
      <h2 class="section">
        <ion-text color="ligth">Salas de chat</ion-text>
      </h2>
      <p class="subtitle">
        <ion-text color="ligth">
          ¡Entra y habla con la comunidad FrikiRadar!
        </ion-text>
      </p>
    </ion-label>
    <ion-icon
      md="arrow-forward"
      ios="chevron-forward"
      slot="end"
      color="light"
    ></ion-icon>
  </ion-item>
  <section id="rooms">
    <div *ngIf="!rooms">
      <ion-item *ngFor="let i of [].constructor(3)" lines="none">
        <ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h2 class="room-name">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <p class="room-description">
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>
    <div *ngIf="rooms">
      <ion-item
        button
        lines="none"
        (click)="showRoom(room.slug)"
        *ngFor="let room of rooms.slice(0,3)"
      >
        <ion-thumbnail>
          <ion-img
            [src]="room.image ? room.image : '/assets/img/pages/default-games-page.jpg'"
            [alt]="room.name"
          >
          </ion-img>
          <ion-badge color="primary" *ngIf="room?.unread">&nbsp;</ion-badge>
        </ion-thumbnail>
        <ion-label>
          <h2 class="room-name" [ngClass]="room?.unread ? 'unread' : ''">
            {{ room?.name }}
          </h2>
          <p class="room-description">{{room?.description}}</p>
        </ion-label>
      </ion-item>
    </div>
    <ion-item button lines="none" class="show-more" (click)="showAllRooms()">
      <ion-label>Ver las {{rooms?.length}} salas</ion-label>
    </ion-item>
  </section>

  <ion-item
    lines="none"
    (click)="showPages()"
    button
    detail="false"
    *ngIf="pages"
  >
    <ion-label color="light">
      <h2 class="section">
        <ion-text color="ligth"> Páginas </ion-text>
      </h2>
      <p class="subtitle" *ngIf="pages?.length">
        <ion-text color="ligth">
          Habla y comparte tus aficiones con todo el mundo
        </ion-text>
      </p>
    </ion-label>
    <ion-icon
      *ngIf="pages?.length"
      md="arrow-forward"
      ios="chevron-forward"
      slot="end"
      color="light"
    ></ion-icon>
  </ion-item>
  <section id="pages" *ngIf="pages?.length">
    <ion-slides [options]="pagesOpts" mode="md">
      <ion-slide *ngFor="let page of pages">
        <div>
          <ion-item button lines="none" (click)="showPage(page.slug)">
            <ion-thumbnail>
              <img [src]="page.cover" [alt]="page.name" />
            </ion-thumbnail>
          </ion-item>
          <ion-label>{{page.name}}</ion-label>
        </div>
      </ion-slide>
    </ion-slides>
  </section>
  <section *ngIf="!pages?.length" class="ion-padding">
    <div class="ion-text-center register">
      <p>Añade gustos a tu perfil para que aparezcan aquí tus páginas.</p>
      <ion-button
        color="primary"
        (click)="router.navigate(['/edit-profile'])"
        shape="round"
        >Editar perfil</ion-button
      >
    </div>
  </section>
</ion-content>
