<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="menu.open()">
        <ion-avatar>
          <img
            [src]="auth.currentUserValue?.avatar"
            [alt]="auth.currentUserValue?.username"
            default="/assets/img/users/default.jpg"
          />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
    <ion-title>Kokoros</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="changeOrder($event.detail.value)" value="received">
    <ion-segment-button layout="icon-start" value="received">
      <ion-label>Recibidos</ion-label>
      <ion-icon name="arrow-down"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="delivered">
      <ion-label>Entregados</ion-label>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div *ngIf="likes?.length || showSkeleton; else noNotifications">
    <ion-list *ngIf="showSkeleton; else notificationItems">
      <ion-item *ngFor="let i of [].constructor(8)" lines="full">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #notificationItems>
      <ion-list *ngIf="likes?.length; else noNotifications">
        <ion-item
          (click)="viewProfile(like.user.id)"
          *ngFor="let like of likes"
          button
          lines="full"
        >
          <ion-avatar slot="start">
            <img
              [src]="like.user.avatar"
              [alt]="like.user.username"
              default="/assets/img/users/default.jpg"
            />
            <ion-badge
              color="primary"
              *ngIf="!like?.time_read && param == 'received'"
              >&nbsp;</ion-badge
            >
          </ion-avatar>
          <ion-label>
            <h2>{{ like.user.name }}</h2>
            <p>{{ like.user.description }}</p>
          </ion-label>
          <ion-note slot="end">{{ like.date | niceDate }}</ion-note>
        </ion-item>
      </ion-list>
    </ng-template>
  </div>
  <ng-template #noNotifications>
    <div class="full-center ion-padding">
      <ion-icon name="heart-dislike"></ion-icon>
      <h2>Sin kokoros</h2>
      <p>
        Aún no has recibido ningún kokoro de otro usuario.
      </p>
    </div>
  </ng-template>
</ion-content>
