ion-toolbar {
  position: absolute;
  --background: transparent;

  ion-button {
    background: var(--ion-color-medium-dark);
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  ion-title {
    color: white;
    text-shadow: 1px 1px 1px black;
  }
}

#artwork {
  height: 230px;
  width: 100%;
  object-fit: cover;
}

.description ion-label {
  white-space: pre-wrap;
}

.cancelled {
  background: var(--ion-color-danger);
}

iframe {
  border-radius: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
}

ion-footer {
  background: var(--ion-color-dark);
  ion-col {
    text-align: center;

    ion-label {
      display: block;
      font-size: 12px;
    }
  }
}
