<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "cambiar-nombre-usuario" | i18n }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h4>{{ "quieres-cambiar-tu-correo-nombre" | i18n }}</h4>
  <p>{{ "indica-continuacin-nuevo-nombre-que" | i18n}}</p>

  <form (submit)="submitForm()" [formGroup]="usernameForm" autocomplete="off">
    <ion-item>
      <ion-input
        label="{{ 'username' | i18n}}"
        labelPlacement="floating"
        required
        type="text"
        autocapitalize="words"
        formControlName="username"
        debounce="500"
        [value]="user.username"
        name="username"
      >
      </ion-input>
    </ion-item>
    <div
      class="error-message"
      *ngIf="
        usernameForm.get('username').invalid &&
        usernameForm.get('username').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon>{{
      "mnimo-3-caracteres-mximo-15" | i18n }}
    </div>
    <div
      class="error-message"
      *ngIf="
        usernameForm.get('username').invalid &&
        usernameForm.get('username').value
      "
    >
      <ion-icon name="information-circle-outline"></ion-icon>{{
      "letras-nmeros-guiones-puntos" | i18n }}
    </div>
    <ion-button
      color="primary"
      expand="block"
      type="submit"
      [disabled]="usernameForm.invalid || usernameForm.pristine"
      shape="round"
      >{{ "confirmar-cambio" | i18n }}</ion-button
    >
  </form>
</ion-content>
