ion-toolbar {
  --background: #1a1a1a85;

  &.show-background {
    --background: #1a1a1a;
  }
}

ion-list {
  background: transparent;

  ion-icon {
    color: white;
    margin-right: 15px;
  }

  &.info ion-label {
    --color: white;
    white-space: normal;
  }
}

@media (max-width: 720px) {
  ion-content {
    position: absolute;
  }
}

ion-grid {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 0px;
}

.resume {
  padding-top: 0;
  padding-bottom: 0;

  ion-item {
    margin-left: -15px;

    ion-icon {
      margin-right: 5px;
    }
  }

  h1,
  h3 {
    margin: 0;
  }

  p {
    margin-bottom: 0;
    white-space: pre;
  }

  .location {
    font-size: 14px;
    color: #e91e63 !important;
  }
}

ion-chip {
  display: inline-grid;
}

ion-item {
  --border-color: #e91e63;
}

.swiper-slide img {
  width: 100%;
}
