@media (min-width: 768px) {
  ion-content {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    display: flex; /* Activa Flexbox */
  }

  .main-content {
    max-width: 768px; /* Limita el ancho del contenido */
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh; /* Asegura que el contenedor tenga al menos el alto de la pantalla */
    flex-direction: column; /* Organiza los elementos en columna */
  }
}

ion-header ion-toolbar {
  position: absolute;
  --background: transparent !important;

  .back,
  .options {
    background: #2f2f2f87;
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  ion-icon {
    color: white !important;
  }
}

.main-content {
  height: 100%;
}

ion-card {
  height: 600px;
  --background: transparent;
  overflow: auto;
  margin: 0;
  border-radius: 0 0 50px 50px;
}

ion-card-content {
  p,
  ion-label {
    color: white !important;
  }
  white-space: pre-wrap;

  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 20px;
  padding-top: 40px;

  z-index: 1;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.27) 27%,
    rgba(19, 19, 19, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(27%, rgba(0, 0, 0, 0.27)),
    color-stop(100%, rgba(19, 19, 19, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.27) 27%,
    rgba(19, 19, 19, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.27) 27%,
    rgba(19, 19, 19, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.27) 27%,
    rgba(19, 19, 19, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.27) 27%,
    rgba(19, 19, 19, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313', GradientType=0 );
}

.background-image {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  overflow-y: hidden;

  img {
    object-fit: cover !important;
    height: 100%;
    width: 100%;
  }
}

swiper-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.images-slide::part(scrollbar) {
  position: absolute;
  left: 25px;
  height: 5px;
  width: 85%;
  bottom: 110px;
}

swiper-slide img {
  text-align: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

ion-list {
  margin: 0;
  background: transparent;

  ion-icon {
    color: var(--ion-color-light);
    margin-right: 15px;
  }
}

.match {
  position: absolute;
  margin-top: -94px;
  color: white;
  font-size: 14px;
  border: 2px solid white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 10px;
  background-color: #e91e63;
  z-index: 1;
  right: 10px;
}

ion-grid {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 0px;
}

.resume {
  ion-badge {
    margin-left: 5px;
    border-radius: 15px;
    z-index: 1;
    width: 10px;
    height: 10px;
    padding: 0;
  }

  ion-chip {
    background: transparent;
    border: 1px solid var(--ion-color-light);
    ion-label {
      color: var(--ion-color-light) !important;
      min-height: 15px;
    }
  }

  ion-label {
    .name {
      font-size: 24px;
    }

    .age {
      font-size: 16px;
    }

    ion-icon {
      margin-left: 5px;
    }
  }

  h1,
  h3 {
    margin: 0;
  }

  .unread-likes {
    position: absolute;
    top: 12px;
    left: 84px;
  }
}

ion-chip {
  display: inline-grid;

  ion-label {
    min-height: 15px;
  }
}

ion-item {
  --border-color: #e91e63;
}

.likes {
  cursor: pointer;
}

#stories {
  position: absolute;
  z-index: 1;
  top: 420px;
  text-align: right;
  right: 8px;

  ion-avatar img {
    border: 2px solid white;
  }
}

#description {
  white-space: pre-wrap;
  margin: 10px 0;
  ion-icon {
    align-self: flex-start;
    margin-top: 10px;
  }
  ion-label {
    margin: 0;
  }
}

#edit-profile {
  background: #2f2f2fb8;
  border-radius: 50px;
  text-transform: none;
  height: 50px;

  ion-icon {
    color: white !important;
    margin-right: 5px;
  }

  ion-label {
    color: white !important;
  }
}
