<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/radar"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="user?.active">
      <ion-button (click)="showOptions($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user || loading; else noUser">
    <ion-list *ngIf="loading; else profile">
      <ion-item lines="none">
        <ion-label>
          <h1>
            <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
          </h1>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <span *ngFor="let i of [].constructor(20)">
            <p>
              <ion-skeleton-text
                animated
                style="width: 100%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                animated
                style="width: 95%"
              ></ion-skeleton-text>
            </p>
          </span>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #profile>
      <ion-slides [pager]="user?.images?.length">
        <ion-slide>
          <img
            [src]="user?.avatar"
            [alt]="user?.username"
            default="/assets/img/users/default.jpg"
          />
        </ion-slide>
        <ion-slide *ngFor="let image of user?.images">
          <img [src]="image" default="/assets/img/users/default.jpg" />
        </ion-slide>
      </ion-slides>

      <div class="match full-center">{{ user.match }}%</div>

      <div class="ion-padding">
        <ion-list class="resume ion-padding">
          <ion-item lines="none">
            <ion-badge
              color="secondary"
              *ngIf="(user?.last_login | niceDate) === 'Ahora mismo'"
              >&nbsp;</ion-badge
            >
            <ion-label>
              <span class="name">{{ user.name }}</span>
              <span class="age">, {{ user.age }}</span>
              <ion-icon
                name="checkmark-circle"
                slot="start"
                size="small"
                color="secondary"
                *ngIf="user.verified &&
                !user.roles.includes('ROLE_ADMIN') &&
                !user.roles.includes('ROLE_MASTER')
                "
              ></ion-icon>
              <ion-icon
                name="shield-checkmark"
                slot="start"
                size="small"
                color="tertiary"
                *ngIf="user.roles.includes('ROLE_MASTER') || user.roles.includes('ROLE_ADMIN')"
              ></ion-icon>
            </ion-label>
          </ion-item>
          <h3 class="location" *ngIf="user?.distance !== undefined">
            <ion-icon
              name="location-sharp"
              slot="start"
              size="xs"
              color="primary"
            ></ion-icon>
            <span>A {{ user?.distance }}km de distancia</span>
          </h3>
          <p>{{ user?.description }}</p>
        </ion-list>
        <ion-list class="info">
          <ion-item lines="none" *ngIf="user?.last_login">
            <ion-label
              >Última conexión: {{ (user?.last_login | niceDate) === 'Ahora
              mismo' ? 'En línea' : (user?.last_login | niceDate) }}</ion-label
            >
          </ion-item>
          <ion-item lines="none" *ngIf="user?.location">
            <ion-label>Vive en: {{ user.location }}</ion-label>
          </ion-item>
          <ion-item *ngIf="user?.gender" lines="none">
            <ion-label
              >Identidad de género: {{ user.gender }}
              <span *ngIf="user?.pronoun">({{ user.pronoun }})</span></ion-label
            >
          </ion-item>
          <ion-item *ngIf="user?.orientation" lines="none">
            <ion-label>Orientación sexual: {{ user.orientation }}</ion-label>
          </ion-item>
          <ion-item *ngIf="user?.status" lines="none">
            <ion-label>Estado: {{ user.status }}</ion-label>
          </ion-item>
          <ion-item *ngIf="user?.relationship" lines="none">
            <ion-label>Tipo de relación: {{ user.relationship }}</ion-label>
          </ion-item>
          <ion-item *ngIf="user?.connection?.length">
            <ion-label>Buscando: {{ user.connection.join(", ") }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="tags">
          <ion-item *ngIf="getTagsCategory('games')?.length">
            <ion-icon name="game-controller-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-chip
                *ngFor="let tag of getTagsCategory('games')"
                color="secondary"
              >
                <ion-label (click)="router.navigate(['/search', tag.name])"
                  >{{ tag.name }}</ion-label
                >
              </ion-chip>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="getTagsCategory('films')?.length">
            <ion-icon name="film-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-chip
                *ngFor="let tag of getTagsCategory('films')"
                color="secondary"
              >
                <ion-label (click)="router.navigate(['/search', tag.name])"
                  >{{ tag.name }}</ion-label
                >
              </ion-chip>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="getTagsCategory('books')?.length">
            <ion-icon name="book-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-chip
                *ngFor="let tag of getTagsCategory('books')"
                color="secondary"
              >
                <ion-label (click)="router.navigate(['/search', tag.name])"
                  >{{ tag.name }}</ion-label
                >
              </ion-chip>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="getTagsCategory('role')?.length">
            <ion-icon src="/assets/icons/outline-casino-24px.svg"></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-chip
                *ngFor="let tag of getTagsCategory('role')"
                color="secondary"
              >
                <ion-label (click)="router.navigate(['/search', tag.name])"
                  >{{ tag.name }}</ion-label
                >
              </ion-chip>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="getTagsCategory('music')?.length">
            <ion-icon name="headset-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-chip
                *ngFor="let tag of getTagsCategory('music')"
                color="secondary"
              >
                <ion-label (click)="router.navigate(['/search', tag.name])"
                  >{{ tag.name }}</ion-label
                >
              </ion-chip>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </div>
  <ng-template #noUser>
    <div class="full-center ion-padding">
      <ion-icon name="body"></ion-icon>
      <h2>No encontrado</h2>
      <p>
        El perfil de usuario que intentas ver no existe o se encuentra inactivo.
      </p>
    </div>
  </ng-template>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons *ngIf="user">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <ion-button (click)="hideProfile()">
              <ion-icon
                slot="icon-only"
                name="eye-off"
                color="danger"
              ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button
              *ngIf="!user?.block_messages || user.from_like"
              (click)="showChat()"
            >
              <ion-icon slot="icon-only" name="chatbubbles-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button (click)="switchLike()">
              <ion-icon
                [@pulse]="user.like"
                slot="icon-only"
                [color]="user?.like ? 'primary' : 'light'"
                [name]="user?.like ? 'heart' : 'heart-outline'"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
