ion-toolbar {
  --opacity: 0.4;

  &.show-background {
    --opacity: 1;
  }
}

ion-list {
  background: transparent;

  ion-icon {
    color: white;
    margin-right: 15px;
  }

  &.info ion-label {
    --color: white;
    white-space: normal;
  }
}

ion-content {
  position: absolute;
}

.resume {
  padding-top: 0;
  padding-bottom: 0;

  h1,
  h3 {
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }

  .location {
    font-size: 14px;
    color: #e91e63 !important;
  }
}

ion-chip {
  display: inline-grid;
}