<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Desactivar/eliminar cuenta</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="changeType($event.detail.value)" value="disable">
    <ion-segment-button layout="icon-start" value="disable">
      <ion-label>Desactivar cuenta</ion-label>
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="remove">
      <ion-label>Eliminar cuenta</ion-label>
      <ion-icon name="skull-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="type === 'disable'">
    <h4>¿Quieres desactivar tu cuenta?</h4>
    <p>Antes de desactivar la cuenta lee estos puntos:</p>
    <ul>
      <li>
        Recuerda que la aplicación está en desarrollo y aún no hemos llegado a
        todos los lugares. Gracias a tu ayuda podremos llegar a más personas.
        ¡Háblale a todo el mundo de FrikiRadar!
      </li>
      <li>
        Si un usuario es molesto puedes bloquearlo entrando en las opciones de
        su perfil.
      </li>
      <li>
        Puedes realizar ajustes en tu privacidad para evitar sentirte
        espiado/acosado.
      </li>
      <li>
        Si quieres cambiar tu nombre de usuario puedes hacerlo con la opción
        correspondiente.
      </li>
    </ul>
    <p>
      Si aún así sigues queriendo desactivar tu cuenta, introduce de nuevo tu
      contraseña como medida de seguridad adicional para desactivar la cuenta.
    </p>

    <form (submit)="submitForm()" [formGroup]="disableForm" autocomplete="off">
      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Contraseña"
          required
          autocomplete="off"
          [type]="clearPassword ? 'text' : 'password'"
          formControlName="password"
          debounce="500"
          name="password"
        ></ion-input>
        <ion-buttons slot="end" *ngIf="!disableForm.get('password').pristine">
          <ion-button (click)="clearPassword = !clearPassword">
            <ion-icon
              slot="icon-only"
              [name]="clearPassword ? 'eye' : 'eye-off'"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <div
        class="error-message"
        *ngIf="
        disableForm.get('password').invalid && disableForm.get('password').value
      "
      >
        <ion-icon name="information-circle-outline"></ion-icon>Introduce un
        mínimo de 8 caracteres.
      </div>
      <ion-item>
        <ion-label position="floating">Motivo de la desactivación</ion-label>
        <ion-textarea formControlName="note" autocapitalize="on"></ion-textarea>
      </ion-item>
      <ion-button
        color="primary"
        type="submit"
        expand="block"
        [disabled]="disableForm.invalid"
        shape="round"
      >
        Desactivar cuenta</ion-button
      >
    </form>
  </div>
  <div *ngIf="type === 'remove'">
    <h4>¿Quieres eliminar tu cuenta?</h4>
    <p>Antes de eliminar la cuenta lee estos puntos:</p>
    <ul>
      <li>
        Recuerda que la aplicación está en desarrollo y aún no hemos llegado a
        todos los lugares. Gracias a tu ayuda podremos llegar a más personas.
        ¡Háblale a todo el mundo de FrikiRadar!
      </li>
      <li>
        Si un usuario es molesto puedes bloquearlo entrando en las opciones de
        su perfil.
      </li>
      <li>
        Puedes realizar ajustes en tu privacidad para evitar sentirte
        espiado/acosado.
      </li>
      <li>
        Si quieres cambiar tu nombre de usuario puedes hacerlo con la opción
        correspondiente.
      </li>
      <li>
        También tienes la opción de desactivar la cuenta si es posible que
        vuelvas más adelante.
      </li>
      <li>
        Una vez eliminada tu cuenta todo registro en nuestra base de datos y tus
        archivos multimedia serán borrados completamente y no habrá opción de
        recuperarlos.
      </li>
    </ul>
    <p>
      Si aún así sigues queriendo eliminar tu cuenta, introduce de nuevo tu
      contraseña como medida de seguridad adicional para eliminar la cuenta.
    </p>

    <form (submit)="submitForm()" [formGroup]="disableForm" autocomplete="off">
      <ion-item>
        <ion-input
          labelPlacement="floating"
          label="Contraseña"
          required
          autocomplete="off"
          [type]="clearPassword ? 'text' : 'password'"
          formControlName="password"
          debounce="500"
          name="password"
        ></ion-input>
        <ion-buttons slot="end" *ngIf="!disableForm.get('password').pristine">
          <ion-button (click)="clearPassword = !clearPassword">
            <ion-icon
              slot="icon-only"
              [name]="clearPassword ? 'eye' : 'eye-off'"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <div
        class="error-message"
        *ngIf="
          disableForm.get('password').invalid && disableForm.get('password').value
        "
      >
        <ion-icon name="information-circle-outline"></ion-icon>Introduce un
        mínimo de 8 caracteres.
      </div>
      <ion-item>
        <ion-label position="floating">Motivo de la eliminación</ion-label>
        <ion-textarea formControlName="note" autocapitalize="on"></ion-textarea>
      </ion-item>
      <ion-button
        *ngIf="!auth.isAdmin()"
        color="primary"
        type="submit"
        expand="block"
        [disabled]="disableForm.invalid"
        shape="round"
      >
        Eliminar cuenta</ion-button
      >
    </form>
  </div>
</ion-content>
<ion-backdrop visible="true" *ngIf="showBackdrop"></ion-backdrop>
