<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "desactivareliminar-cuenta" | i18n }}</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="changeType($event.detail.value)" value="disable">
    <ion-segment-button layout="icon-start" value="disable">
      <ion-label>{{ "desactivar-cuenta" | i18n }}</ion-label>
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="remove">
      <ion-label>{{ "eliminar-cuenta" | i18n }}</ion-label>
      <ion-icon name="skull-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="type === 'disable' && !codeSent">
    <h4>{{ "quieres-desactivar-tu-cuenta" | i18n }}</h4>
    <p>{{ "antes-desactivar-cuenta-lee-estos" | i18n }}</p>
    <ul>
      <li>{{ "recuerda-que-aplicacin-sigue-desarrollndose" | i18n}}</li>
      <li>{{ "si-un-usuario-es-molesto" | i18n}}</li>
      <li>{{ "puedes-realizar-ajustes-tu-privacidad" | i18n}}</li>
      <li>{{ "si-quieres-cambiar-tu-nombre" | i18n}}</li>
    </ul>
    <p>{{ "sigues-queriendo-desactivar" | i18n}}</p>
  </div>
  <div *ngIf="type === 'remove' && !codeSent">
    <h4>{{ "quieres-eliminar-tu-cuenta" | i18n }}</h4>
    <p>{{ "antes-eliminar-cuenta-lee-estos" | i18n }}</p>
    <ul>
      <li>{{ "recuerda-que-aplicacin-sigue-desarrollndose" | i18n}}</li>
      <li>{{ "si-un-usuario-es-molesto" | i18n}}</li>
      <li>{{ "puedes-realizar-ajustes-tu-privacidad" | i18n}}</li>
      <li>{{ "si-quieres-cambiar-tu-nombre" | i18n}}</li>
      <li>{{ "tambin-tienes-opcin-desactivar-cuenta" | i18n}}</li>
      <li>{{ "una-vez-eliminada-tu-cuenta" | i18n}}</li>
    </ul>
    <p>{{ "sigues-queriendo-eliminar" | i18n}}</p>
  </div>

  <ion-button
    *ngIf="!codeSent"
    color="primary"
    expand="block"
    shape="round"
    (click)="sendCode()"
  >
    {{ "envar-cdigo-verificacin" | i18n }}
  </ion-button>

  <div *ngIf="type === 'disable' && codeSent">
    <p>{{ "te-hemos-enviado-email-code" | i18n: {email: user.email} }}</p>
    <p>{{ "introduce-cdigo-seguridad-para-desactivar" | i18n }}</p>
    <form (submit)="submitForm()" [formGroup]="disableForm" autocomplete="off">
      <ion-item class="code">
        <ion-input
          placeholder="{{ 'codigo-seguridad' | i18n }}"
          autocomplete="off"
          formControlName="code"
          maxlength="6"
          name="code"
          required
          type="text"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          label="{{ 'motivo-desactivacion' | i18n }}"
          labelPlacement="floating"
          formControlName="note"
          autocapitalize="on"
        ></ion-textarea>
      </ion-item>
      <ion-button
        color="primary"
        type="submit"
        expand="block"
        [disabled]="disableForm.invalid"
        shape="round"
      >
        {{ "desactivar-cuenta" | i18n }}</ion-button
      >
    </form>
  </div>
  <div *ngIf="type === 'remove' && codeSent">
    <p>{{ "te-hemos-enviado-email-code" | i18n: {email: user.email} }}</p>
    <p>{{ "introduce-cdigo-seguridad-para-eliminar" | i18n }}</p>
    <form (submit)="submitForm()" [formGroup]="disableForm" autocomplete="off">
      <ion-item class="code">
        <ion-input
          placeholder="{{ 'codigo-seguridad' | i18n }}"
          autocomplete="off"
          formControlName="code"
          maxlength="6"
          name="code"
          required
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="{{ 'motivo-eliminacion' | i18n }}"
          labelPlacement="floating"
          formControlName="note"
          autocapitalize="on"
        ></ion-textarea>
      </ion-item>
      <ion-button
        color="primary"
        type="submit"
        expand="block"
        [disabled]="disableForm.invalid"
        shape="round"
      >
        {{ "eliminar-cuenta" | i18n }}</ion-button
      >
    </form>
  </div>
  <p
    color="primary"
    *ngIf="codeSent"
    class="ion-text-center"
    (click)="sendCode()"
  >
    {{ "no-he-recibido-mi-cdigocdigo" | i18n }}
  </p>
</ion-content>
<ion-backdrop visible="true" *ngIf="showBackdrop"></ion-backdrop>
