<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Desactivar/eliminar cuenta</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="changeType($event.detail.value)" value="disable">
    <ion-segment-button layout="icon-start" value="disable">
      <ion-label>Desactivar cuenta</ion-label>
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="remove">
      <ion-label>Eliminar cuenta</ion-label>
      <ion-icon name="skull-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="type === 'disable' && !codeSent">
    <h4>¿Quieres desactivar tu cuenta?</h4>
    <p>Antes de desactivar la cuenta lee estos puntos:</p>
    <ul>
      <li>
        Recuerda que la aplicación sigue desarrollándose y aún no hemos llegado
        a todos los lugares. Gracias a tu ayuda podremos llegar a más personas.
        ¡Háblale a todo el mundo de frikiradar!
      </li>
      <li>
        Si un usuario es molesto puedes bloquearlo entrando en las opciones de
        su perfil.
      </li>
      <li>
        Puedes realizar ajustes en tu privacidad para evitar sentirte
        espiado/acosado.
      </li>
      <li>
        Si quieres cambiar tu nombre de usuario puedes hacerlo con la opción
        correspondiente.
      </li>
    </ul>
    <p>
      Si aún así sigues queriendo desactivar tu cuenta, solicita un código de
      verificación a tu email como medida de seguridad adicional para desactivar
      la cuenta.
    </p>
  </div>
  <div *ngIf="type === 'remove' && !codeSent">
    <h4>¿Quieres eliminar tu cuenta?</h4>
    <p>Antes de eliminar la cuenta lee estos puntos:</p>
    <ul>
      <li>
        Recuerda que la aplicación sigue desarrollándose y aún no hemos llegado
        a todos los lugares. Gracias a tu ayuda podremos llegar a más personas.
        ¡Háblale a todo el mundo de frikiradar!
      </li>
      <li>
        Si un usuario es molesto puedes bloquearlo entrando en las opciones de
        su perfil.
      </li>
      <li>
        Puedes realizar ajustes en tu privacidad para evitar sentirte
        espiado/acosado.
      </li>
      <li>
        Si quieres cambiar tu nombre de usuario puedes hacerlo con la opción
        correspondiente.
      </li>
      <li>
        También tienes la opción de desactivar la cuenta si es posible que
        vuelvas más adelante.
      </li>
      <li>
        Una vez eliminada tu cuenta todo registro en nuestra base de datos y tus
        archivos multimedia serán borrados completamente y no habrá opción de
        recuperarlos.
      </li>
    </ul>
    <p>
      Si aún así sigues queriendo eliminar tu cuenta, solicita un código de
      verificación a tu email como medida de seguridad adicional para eliminar
      la cuenta.
    </p>
  </div>

  <ion-button
    *ngIf="!codeSent"
    color="primary"
    expand="block"
    shape="round"
    (click)="sendCode()"
  >
    Envíar código de verificación
  </ion-button>

  <div *ngIf="type === 'disable' && codeSent">
    <p>
      Te hemos enviado un código de seguridad a {{ user.email }}. Revisa tu
      carpeta de spam/no deseado si no lo encuentras.
    </p>
    <p>Introduce el código de seguridad para desactivar tu cuenta.</p>
    <form (submit)="submitForm()" [formGroup]="disableForm" autocomplete="off">
      <ion-item class="code">
        <ion-input
          placeholder="Código de seguridad"
          autocomplete="off"
          formControlName="code"
          maxlength="6"
          name="code"
          required
          type="text"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          label="Motivo de la desactivación"
          labelPlacement="floating"
          formControlName="note"
          autocapitalize="on"
        ></ion-textarea>
      </ion-item>
      <ion-button
        color="primary"
        type="submit"
        expand="block"
        [disabled]="disableForm.invalid"
        shape="round"
      >
        Desactivar cuenta</ion-button
      >
    </form>
  </div>
  <div *ngIf="type === 'remove' && codeSent">
    <p>
      Te hemos enviado un código de seguridad a {{ user.email }}. Revisa tu
      carpeta de spam/no deseado si no lo encuentras.
    </p>
    <p>Introduce el código de seguridad para eliminar tu cuenta.</p>
    <form (submit)="submitForm()" [formGroup]="disableForm" autocomplete="off">
      <ion-item class="code">
        <ion-input
          placeholder="Código de seguridad"
          autocomplete="off"
          formControlName="code"
          maxlength="6"
          name="code"
          required
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Motivo de la eliminación"
          labelPlacement="floating"
          formControlName="note"
          autocapitalize="on"
        ></ion-textarea>
      </ion-item>
      <ion-button
        color="primary"
        type="submit"
        expand="block"
        [disabled]="disableForm.invalid"
        shape="round"
      >
        Eliminar cuenta</ion-button
      >
    </form>
  </div>
  <p
    color="primary"
    *ngIf="codeSent"
    class="ion-text-center"
    (click)="sendCode()"
  >
    No he recibido mi código/código no válido
  </p>
</ion-content>
<ion-backdrop visible="true" *ngIf="showBackdrop"></ion-backdrop>
