<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon src="/assets/icon/icon.svg"></ion-icon>
      <ion-label>frikiradar UNLIMITED</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h3 *ngIf="!auth.isPremium()" class="ion-padding">
    <span *ngIf="topic == 'ad'">¿No quieres publicidad?<br /></span>
    <span *ngIf="topic == 'location'"
      >¿Quieres cambiar tu ubicación?<br
    /></span>
    <span *ngIf="topic == 'radar'"
      >¿Quieres ver personas de todo el mundo?<br
    /></span>
    <span *ngIf="topic == 'filter'">¿Te gustaría usar este filtro?<br /></span>
    ¡Disfruta del poder ILIMITADO!
  </h3>
  <div *ngIf="auth.isPremium()">
    <p class="ion-text-center">
      ESTADO: Activo hasta el {{ user?.premium_expiration | date: "medium" }}
    </p>
    <p class="ion-text-center">
      Actualmente estás disfrutando de frikiradar UNLIMITED, pero puedes cambiar
      tu plan de suscripción por el tiempo que desees.
    </p>
  </div>
  <ion-grid *ngIf="products.length">
    <ion-row>
      <ion-col
        size="4"
        *ngFor="let product of products; let i = index"
        (click)="!product?.active ? selectedCardIndex = i : null"
      >
        <ion-card
          button
          [class.selected]="!product?.active && selectedCardIndex === i"
          (click)="selectProduct(product)"
          [disabled]="product?.active"
        >
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <ion-label class="ion-text-center">
                <h1>{{ product.period.quantity }}</h1>
                <p>{{ product.period.unit }}</p>
              </ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label class="ion-text-center">
                <h2>{{ product.price }}</h2>
              </ion-label>
            </ion-item>
            <ion-item
              *ngIf="product.period.quantity !== 1"
              lines="none"
              class="price_per_month"
            >
              <ion-label class="ion-text-center">
                {{ product.price_per_month }}/mes
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item color="dark">
      <ion-icon name="hand-left" color="danger" slot="start"></ion-icon>
      <ion-label
        ><p>
          <strong>CERO PUBLICIDAD.</strong> Utiliza la aplicación libremente. No
          te aparecerán anuncios publicitarios de ningún tipo.
        </p></ion-label
      >
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="location-sharp" slot="start" color="success"></ion-icon>
      <ion-label>
        <p>
          <strong>CAMBIA TU UBICACIÓN.</strong> Elige una ubicación distinta
          para encontrar personas cerca de ese lugar, ideal si planeas viajar.
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="earth" slot="start" color="warning"></ion-icon>
      <ion-label>
        <p>
          <strong>RADAR MUNDIAL.</strong> Expande tu radar, conecta con personas
          de todas partes. Descubre nuevas amistades sin fronteras.
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="heart" slot="start" color="primary"></ion-icon>
      <ion-label>
        <p>
          <strong>NOTIFICACIONES DE RADAR.</strong> Recibe una notificación
          "Doki doki" cuando el radar encuentre alguien cercano compatible
          contigo.
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="color-palette" slot="start" color="tertiary"></ion-icon>
      <ion-label
        ><p>
          <strong>TEMAS EXCLUSIVOS.</strong> Cambia el estilo de frikiradar con
          los temas exclusivos para miembros de frikiradar UNLIMITED.
        </p></ion-label
      >
    </ion-item>
    <ion-item color="dark">
      <ion-icon
        name="checkmark-circle"
        slot="start"
        color="secondary"
      ></ion-icon>
      <ion-label>
        <p>
          <strong>VERIFICA TU CUENTA.</strong> Un pago en frikiradar permite
          verificar tu cuenta, mostrando una marca de verificación junto a tu
          nombre.
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding" *ngIf="isPlatform('capacitor')">
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      Al pulsar "Continuar", se te cobrará automáticamente la suscripción que
      elijas. Este cargo se realizará de manera recurrente hasta que decidas
      cancelar la suscripción. Puedes cancelar tu suscripción en cualquier
      momento desde los ajustes de Play Store.
    </ion-label>
  </ion-item>
  <ion-button
    color="primary"
    expand="block"
    shape="round"
    (click)="purchaseProduct()"
    [disabled]="product?.active"
    >Continuar</ion-button
  >
</ion-footer>
<ion-footer class="ion-padding" *ngIf="!isPlatform('capacitor')">
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      Por el momento no está disponible la compra de suscripciones desde la
      versión web de frikiradar. Puedes descargar la aplicación para Android
      desde la Play Store y activarlo desde allí.
    </ion-label>
  </ion-item>
</ion-footer>
