ion-item {
  ion-label {
    --color: white !important;
  }

  ion-icon {
    color: white;
  }

  ion-label {
    p {
      white-space: normal;
      color: #bbb;
    }
  }
}

ion-col {
  ion-card {
    --background: none;
    background-color: white;
    border: 4px solid white;

    &.selected {
      border: 4px solid var(--ion-color-primary);
    }

    margin: 0;
    border-radius: 20px;

    ion-item {
      --min-height: 30px;
    }

    ion-card-header {
      padding-bottom: 0;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 18px;
    }

    h1,
    h2 {
      --color: #353535 !important;
      color: #353535 !important;
      font-weight: bold;
    }

    p {
      color: #353535 !important;
    }

    h1,
    h2,
    p,
    ion-label {
      margin: 0;
    }

    ion-card-content {
      padding: 0;
    }

    .price_per_month {
      background: #353535;

      ion-label {
        color: white !important;
        --color: white !important;
        font-size: 10px;
      }
    }
  }
}

ion-footer {
  ion-label {
    font-size: 14px;
  }
}

#paypal-purchase {
  --background: #ffc439;
  ion-icon {
    width: 60px;
  }
}
