<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon src="/assets/icon/icon.svg"></ion-icon>
      <ion-label>{{ "frikiradar-unlimited" | i18n }}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h3 *ngIf="!auth.isPremium()" class="ion-padding">
    <span *ngIf="topic == 'ad'"
      >{{ "no-quieres-publicidad" | i18n }}<br
    /></span>
    <span *ngIf="topic == 'location'"
      >{{ "quieres-cambiar-tu-ubicacin" | i18n }}<br
    /></span>
    <span *ngIf="topic == 'radar'"
      >{{ "quieres-ver-personas-todo-mundo" | i18n }}<br
    /></span>
    <span *ngIf="topic == 'filter'"
      >{{ "te-gustara-usar-este-filtro" | i18n }}<br
    /></span>
    <span *ngIf="topic == 'theme'"
      >{{ "quieres-usar-este-tema" | i18n }}<br
    /></span>
    {{ "disfruta-del-poder-ilimitado" | i18n }}
  </h3>
  <div *ngIf="auth.isPremium()">
    <p class="ion-text-center" *ngIf="user?.premium_expiration">
      {{ "estado-activo-hasta" | i18n }} {{ user?.premium_expiration | date:
      "medium" }}
    </p>
    <p class="ion-text-center" *ngIf="!user?.premium_expiration">
      {{ "estado-activo-indefinidamente" | i18n }}
    </p>
    <p *ngIf="isPlatform('capacitor') && lastMethod == 'PLAY_STORE'">
      {{ "puedes-modificar-tu-plan-suscripcin" | i18n }}
    </p>
  </div>
  <ion-grid *ngIf="products.length">
    <ion-row>
      <ion-col
        size="4"
        *ngFor="let product of products; let i = index"
        (click)="!product?.active ? selectedCardIndex = i : null"
      >
        <ion-card
          button
          [class.selected]="!product?.active && selectedCardIndex === i"
          (click)="selectProduct(product)"
          [disabled]="product?.active"
        >
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <ion-label class="ion-text-center">
                <h1>{{ product.period.quantity }}</h1>
                <p>{{ product.period.unit }}</p>
              </ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label class="ion-text-center">
                <h2>{{ product.price }}</h2>
              </ion-label>
            </ion-item>
            <ion-item
              *ngIf="product.period.quantity !== 1"
              lines="none"
              class="price_per_month"
            >
              <ion-label class="ion-text-center">
                {{ product.price_per_month }}/{{ "mes" | i18n }}
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="auth.isPremium() && lastMethod == 'PLAY_STORE'">
    <p>{{"tambin-puedes-gestionar-tu-suscripcin" | i18n}}</p>
    <ion-item button lines="full" (click)="cancelSubscription()">
      <ion-icon name="logo-google-playstore" slot="start"></ion-icon>
      <ion-label>{{ "ir-play-store" | i18n }}</ion-label>
    </ion-item>
  </div>

  <div *ngIf="auth.isPremium() && lastMethod == 'PAYPAL'">
    <p>{{ "puedes-gestionar-tu-suscripcin-desde" | i18n }}</p>
    <ion-item button lines="full" (click)="cancelSubscription()">
      <ion-icon name="logo-paypal" slot="start"></ion-icon>
      <ion-label>{{ "gestionar-suscripcin" | i18n }}</ion-label>
    </ion-item>
  </div>

  <ion-list>
    <ion-item color="dark">
      <ion-icon name="hand-left" color="danger" slot="start"></ion-icon>
      <ion-label
        ><p>
          <strong>{{ "cero-publicidad" | i18n }}</strong>
          {{"utiliza-aplicacin-libremente-no-te" | i18n}}
        </p></ion-label
      >
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="location-sharp" slot="start" color="success"></ion-icon>
      <ion-label>
        <p>
          <strong>{{ "cambia-tu-ubicacin" | i18n }}</strong>
          {{"elige-una-ubicacin-distinta-para" | i18n}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="earth" slot="start" color="tertiary"></ion-icon>
      <ion-label>
        <p>
          <strong>{{ "radar-mundial" | i18n }}</strong>
          {{"expande-tu-radar-conecta-con" | i18n}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="notifications" slot="start" color="warning"></ion-icon>
      <ion-label>
        <p>
          <strong>{{ "notificaciones-radar" | i18n }}</strong>
          {{"recibe-una-notificacin-doki-doki" | i18n}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="color-palette" slot="start" color="primary"></ion-icon>
      <ion-label
        ><p>
          <strong>{{ "temas-exclusivos" | i18n }}</strong>
          {{"cambia-estilo-frikiradar-con-temas" | i18n}}
        </p></ion-label
      >
    </ion-item>
    <ion-item color="dark">
      <ion-icon
        name="checkmark-circle"
        slot="start"
        color="secondary"
      ></ion-icon>
      <ion-label>
        <p>
          <strong>{{ "verifica-tu-cuenta" | i18n }}</strong>
          {{"un-pago-frikiradar-permite-verificar" | i18n}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding" *ngIf="isPlatform('capacitor')">
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      {{"al-pulsar-suscribirse-se-te" | i18n}}
    </ion-label>
  </ion-item>
  <ion-button
    color="primary"
    expand="block"
    shape="round"
    (click)="purchaseProduct()"
    [disabled]="product?.active"
    >{{ "suscribirse" | i18n }}</ion-button
  >
</ion-footer>
<ion-footer
  id="paypal"
  class="ion-padding"
  *ngIf="!isPlatform('capacitor') && !auth.isPremium()"
>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      {{"al-pulsar-suscribirse-se-te" | i18n}}
    </ion-label>
  </ion-item>
  <ion-button
    id="paypal-purchase"
    expand="block"
    shape="round"
    (click)="purchaseProduct()"
  >
    <ion-icon slot="start" src="/assets/icon/paypal.svg"></ion-icon>
    <ion-label>{{ "suscribirse" | i18n }}</ion-label>
  </ion-button>
  <ion-button
    id="card-purchase"
    expand="block"
    shape="round"
    (click)="purchaseProduct()"
  >
    <ion-icon slot="start" name="card-outline"></ion-icon>
    <ion-label>{{ "tarjeta-dbito-crdito" | i18n }}</ion-label>
  </ion-button>
</ion-footer>
