// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content,
ion-toolbar,
ion-tab-bar,
ion-list {
  --background: #1a1a1a;
  color: white;
  a {
    text-decoration: none;
  }
}

ion-footer,
ion-list {
  background: #1a1a1a !important;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: white;
  font-weight: normal;
}

ion-item {
  --background: transparent;
}

.button-native {
  text-transform: lowercase;
}

ion-header {
  ion-avatar {
    width: 32px;
    height: 32px;
  }
}

[padding] {
  --background: #1a1a1a;
  --padding-start: var(--ion-padding, 32px);
  --padding-end: var(--ion-padding, 32px);
  --padding-top: var(--ion-padding, 32px);
  --padding-bottom: var(--ion-padding, 32px);
}

ion-input,
ion-textarea,
ion-select,
ion-datetime {
  --placeholder-color: #9c2c51 !important;
  --color: #e91e63 !important;
  color: #e91e63 !important;
  --placeholder-opacity: 1 !important;
  --padding-start: 0;
}

form {
  ion-item {
    --padding-start: 0px !important;
    --highlight-color-invalid: #e91e63;
    --background-focused: transparent;
  }
  ion-label {
    --color: white !important;
  }
}

.full-center {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  p {
    margin: 0;
  }

  ion-icon {
    color: white;
    font-size: 48px;
  }
}

ion-segment-button {
  --background: #1a1a1a;
  background: #1a1a1a;
  --color: white;
  text-transform: none;
}
