// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@ctrl/ngx-emoji-mart/picker";

body {
  background-color: #212121;
}

ion-content,
ion-toolbar,
ion-tab-bar,
ion-list,
ion-header {
  --background: #212121;
  color: white;

  a {
    text-decoration: none;

    &.linkified,
    &.mention,
    &.hashtag {
      color: #c4d83b !important;
    }
  }
}

.no-scroll {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-footer,
ion-list {
  background: #212121 !important;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: white;
  font-weight: normal;
}

h2.section {
  font-size: 14pt;
}

.show-more {
  font-size: 12px;

  ion-label {
    color: white !important;
  }
}

ion-item {
  --background: transparent;
  --border-color: #171717;
}

.button-native {
  text-transform: lowercase;
}

@media (min-width: 992px) {
  ion-menu {
    max-width: 350px;
  }
}

ion-header {
  ion-avatar {
    width: 32px;
    height: 32px;
  }

  ion-menu-toggle {
    margin-left: 10px;
  }
}

[padding] {
  --background: #212121;
  --padding-start: var(--ion-padding, 32px);
  --padding-end: var(--ion-padding, 32px);
  --padding-top: var(--ion-padding, 32px);
  --padding-bottom: var(--ion-padding, 32px);
}

ion-input,
ion-textarea,
ion-select,
ion-datetime {
  --placeholder-color: #9c2c51 !important;
  --color: #e91e63 !important;
  color: #e91e63 !important;
  --placeholder-opacity: 1 !important;
  --padding-start: 0;
}

form {
  ion-item {
    --padding-start: 0px !important;
    --highlight-color-invalid: #e91e63;
    --background-focused: transparent;
  }

  ion-label {
    --color: white !important;
  }

  ion-button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .error-message {
    color: #e91e63;
    font-size: 12px;
    display: inline-flex;
  }
}

.full-center {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  p {
    margin: 0;
  }

  ion-icon {
    color: white;
    font-size: 48px;
  }
}

ion-segment-button {
  --background: #212121;
  --background-checked: #212121;
  --color: white;
  --indicator-color: #e91e63;
  text-transform: none;
}

.sc-ion-back-button-md {
  display: none;
}

ion-toast.md {
  --border-radius: 25px;
  --background: #ffffffee;
  --width: fit-content;
  --color: #353535;
}

.ion-page,
.modal-wrapper {
  background: #212121 !important;
}

.full-modal .modal-wrapper {
  @media (min-width: 668px) {
    --height: 100%;
    --width: 50%;
    --border-radius: 8px;
  }
}

.round-alert .alert-wrapper {
  border-radius: 25px;
}

.medium-modal .modal-wrapper {
  @media (max-width: 667px) {
    --height: 70%;
    --width: 70%;
    --border-radius: 8px;
    box-shadow: 1px 1px 100px 1px;
  }
}

ul {
  li {
    color: white;
  }
}

.alert-center {
  h2,
  .alert-message {
    text-align: center;
  }

  button {
    border: 2px solid #e91e63 !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
    padding: 10px 30px !important;
    border-radius: 50px !important;
  }
}

ion-slides {
  cursor: grab;
}

.ion-img-viewer {
  .swiper-slide img {
    z-index: 1;
  }
}

.pane {
  --cupertino-pane-background: #212121 !important;
  padding: 15px;

  ion-label {
    color: white !important;
  }
}

#stories {
  ion-avatar {
    width: 65px;
    height: 65px;

    img {
      width: 65px;
      height: 65px;
    }

    &.not-view {
      border: 2px solid #e91e63;
    }
  }

  ion-badge {
    position: absolute;
    left: 45px;
    border-radius: 15px;
    z-index: 1;
    width: 22px;
    height: 22px;
    bottom: 7px;
    border: 2px solid #212121;
    font-size: 14pt;
    line-height: 0.7;
  }

  ion-label {
    font-size: 12px;
    color: white;
    width: 90px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#usernames {
  box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 75%);

  ion-avatar {
    margin-right: 10px;
  }

  ion-label {
    color: white;
  }
}

ion-item {
  --detail-icon-color: white;
}

@media (min-width: 992px) {
  .hide-landscape {
    display: none;
  }
}

@media (max-width: 991px) {
  .hide-portrait {
    display: none;
  }
}

.patreon {
  h2 {
    color: #ff424d;
  }
  p {
    color: white !important;
  }
}

ion-button.patreon {
  --background: #ff424d;
}
