// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content, ion-toolbar, ion-tab-bar, ion-list {
    --background: #1a1a1a;
    color: white;
}

h1,h2,h3,h4,h5,p {
    color: white;
    font-weight: normal;
}

ion-item {
    --background: transparent;
}

.button-native {
    text-transform: lowercase;
}

ion-header {
    ion-avatar {
        width: 32px;
        height: 32px;
    }
}