<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-input
      aria-label
      type="search"
      debounce="500"
      placeholder="Busca por gustos/nombre de usuario..."
      (keyup.enter)="newSearch($event.target.value)"
      spellcheck="false"
      color="light"
      clearInput
      #searchBar
    ></ion-input>
  </ion-toolbar>
  <ion-segment (ionChange)="changeOrder($event.detail.value)" value="distance">
    <ion-segment-button layout="icon-start" value="distance">
      <ion-label>Distancia</ion-label>
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="match">
      <ion-label>Afinidad</ion-label>
      <ion-icon name="heart-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div *ngIf="users?.length || showSkeleton; else noUsers">
    <ion-list *ngIf="showSkeleton; else radarItems">
      <ion-item *ngFor="let i of [].constructor(8)" lines="full">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #radarItems>
      <ion-list>
        <ion-item-sliding
          *ngFor="let user of users; "
          (ionDrag)="dragItem($event, user.id)"
        >
          <ion-item-options side="start">
            <ion-item-option (click)="showProfile(user.id)">
              <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item button (click)="showProfile(user.id)" lines="full">
            <ion-avatar slot="start">
              <img
                [src]="user?.thumbnail"
                default="/assets/img/users/default.jpg"
              />
            </ion-avatar>
            <ion-label>
              <h2>
                <span class="name">{{ user.name }}</span>
                <span class="age">, {{ user.age }}</span>
              </h2>
              <h3>
                <span *ngIf="user.distance !== undefined"
                  >A {{ user.distance }}km de distancia</span
                >
              </h3>
              <p class="description">{{ user.description }}</p>
            </ion-label>
            <div class="match full-center" slot="end">{{ user.match }}%</div>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option
              color="danger"
              (click)="hideProfile(user.id)"
              expandable
            >
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-infinite-scroll
          threshold="50%"
          (ionInfinite)="search($event, true)"
          position="bottom"
        >
          <ion-infinite-scroll-content loadingSpinner="dots">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>
    </ng-template>
  </div>
  <ng-template #noUsers>
    <div class="full-center ion-padding">
      <ion-icon name="search-outline"></ion-icon>
      <h2>Sin resultados</h2>
      <p>Cambia las palabras de búsqueda para mejorar los resultados.</p>
    </div>
  </ng-template>
</ion-content>
