ion-header {
  background: var(--ion-color-dark);
}

ion-content {
  ion-list ion-item-sliding {
    background: var(--ion-color-primary);

    ion-item {
      --background: var(--ion-color-dark);
      --border-color: var(--ion-color-primary);

      ion-avatar {
        &.md {
          width: 64px;
          height: 64px;
        }

        &.ios {
          width: 48px;
          height: 48px;
        }

        ion-badge {
          position: absolute;
          left: 70px;
          border-radius: 15px;
          z-index: 1;
          width: 15px;
          height: 15px;
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
        }
      }

      ion-label {
        width: 150px;
        .name {
          font-size: 24px;
        }

        &.ios .description {
          max-height: 30px;
        }

        &.md .description {
          max-height: 36px;
        }

        .description {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          font-size: 13px;
          color: #bbbbbb;
          white-space: initial;
        }
      }

      .match {
        color: white;
        font-size: 12px;
        border: 2px solid white;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-weight: bold;
        margin-left: 10px;
        background-color: var(--ion-color-primary);
      }
    }

    &:first-child ion-item {
      --background: var(--ion-color-primary);
      h2,
      p {
        color: white !important;
      }

      .match {
        background-color: white;
        color: var(--ion-color-primary);
        border: 2px solid var(--ion-color-light);
        height: 60px;
        width: 60px;
        font-size: 13px;
      }
    }

    .item-options-end {
      background-color: #f04041;
    }
  }
}

#search-input {
  border: 1px solid var(--ion-color-light);
  border-radius: 50px;
  margin: 20px;

  ion-icon {
    margin-right: 15px;
  }
}

#my-interests {
  padding-top: 5px;
}

#my-interests,
#other-interests {
  ion-chip {
    background: transparent;
    border: 1px solid var(--ion-color-light);
    ion-label {
      color: var(--ion-color-light) !important;
      min-height: 15px;
    }

    ion-note {
      margin-left: 5px;
    }
  }
}
