<ion-header class="ion-no-border">
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <ion-progress-bar
    type="determinate"
    color="dark"
    *ngIf="!loading"
  ></ion-progress-bar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "search" | i18n }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="search-input" lines="none">
    <ion-icon slot="start" name="search-outline"></ion-icon>
    <ion-input
      aria-label
      type="search"
      debounce="500"
      placeholder="{{ 'busca-intereses' | i18n}}"
      (ionInput)="filterPages($event.target.value)"
      (keyup.enter)="newSearch($event.target.value)"
      spellcheck="false"
      color="light"
      clearInput
      #searchBar
    ></ion-input>
  </ion-item>
  <div *ngIf="users?.length || showSkeleton; else noUsers">
    <ion-list *ngIf="showSkeleton; else radarItems">
      <ion-item *ngFor="let i of [].constructor(8)" lines="full">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #radarItems>
      <ion-list>
        <ion-item-sliding
          *ngFor="let user of users; "
          (ionDrag)="dragItem($event, user.id)"
        >
          <ion-item-options side="start">
            <ion-item-option (click)="showProfile(user.id)">
              <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item button (click)="showProfile(user.id)" lines="full">
            <ion-avatar slot="start">
              <img
                [src]="user?.thumbnail"
                default="/assets/img/users/default.png"
              />
            </ion-avatar>
            <ion-label>
              <h2>
                <span class="name">{{ user.name }}</span>
                <span class="age">, {{ user.age }}</span>
              </h2>
              <h3>
                <span *ngIf="user.distance !== undefined"
                  >{{ "km-distancia" | i18n: {distance: user.distance} }}</span
                >
              </h3>
              <p class="description">{{ user.description }}</p>
            </ion-label>
            <div class="match full-center" slot="end">{{ user.match }}%</div>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option
              color="danger"
              (click)="hideProfile(user.id)"
              expandable
            >
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-infinite-scroll
          threshold="50%"
          (ionInfinite)="search($event, true)"
          position="bottom"
        >
          <ion-infinite-scroll-content loadingSpinner="dots">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>
    </ng-template>
  </div>
  <ng-template #noUsers>
    <div id="my-interests" class="ion-padding" *ngIf="pages?.length">
      <h2>{{ "my-interests" | i18n }}</h2>
      <ion-label class="ion-text-wrap">
        <ion-chip *ngFor="let page of pages" color="secondary">
          <ion-avatar>
            <img
              [src]="page.cover"
              [alt]="page.name"
              [default]="'/assets/img/pages/default-' + page.category + '-page.svg'"
            />
          </ion-avatar>
          <ion-label (click)="showPage(page.slug)">{{ page.name }}</ion-label>
          <ion-note>{{ page.likes }}</ion-note>
        </ion-chip>
      </ion-label>
    </div>

    <div id="other-interests" class="ion-padding" *ngIf="otherPages?.length">
      <h2>{{ "explore-interests" | i18n }}</h2>
      <ion-label class="ion-text-wrap">
        <ion-chip *ngFor="let page of otherPages" color="secondary">
          <ion-avatar>
            <img
              [src]="page.cover"
              [alt]="page.name"
              [default]="'/assets/img/pages/default-' + page.category + '-page.svg'"
            />
          </ion-avatar>
          <ion-label (click)="showPage(page.slug)">{{ page.name }}</ion-label>
          <ion-note>{{ page.likes }}</ion-note>
        </ion-chip>
        <ion-infinite-scroll
          threshold="50%"
          (ionInfinite)="addOtherPages($event)"
          position="bottom"
        >
          <ion-infinite-scroll-content loadingSpinner="dots">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-label>
    </div>
  </ng-template>
</ion-content>
