<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button>
              <ion-back-button defaultHref="/"></ion-back-button>
          </ion-button>
      </ion-buttons>
      <ion-title>Búsqueda</ion-title>
  </ion-toolbar>
  <ion-searchbar animated debounce="500" placeholder="Busco frikis a los que les guste..." [debounce]="500"
  (keyup.enter)="search($event.target.value)" spellcheck="false" #searchBar></ion-searchbar>
  <ion-segment (ionChange)="changeOrder($event.detail.value)">
    <ion-segment-button layout="icon-start" value="distance" checked>
      <ion-label>Distancia</ion-label>
      <ion-icon name="navigate"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="match">
      <ion-label>Afinidad</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div *ngIf="users?.length || showSkeleton; else noUsers">
    <p text-center>{{ users?.length }} usuarios encontrados</p>
    <ion-list *ngIf="showSkeleton; else radarItems">
      <ion-item *ngFor="let i of [].constructor(8)" lines="full">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #radarItems>
      <ion-list>
        <ion-item button *ngFor="let user of users" (click)="showProfile(user.id)" lines="full">
          <ion-avatar slot="start">
            <ion-skeleton-text animated *ngIf="!user.avatar"></ion-skeleton-text>
            <ion-img [src]="user.avatar" *ngIf="user.avatar"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ user.username }}, {{ user.age }}</h2>
            <h3>
              <span *ngIf="user.location">{{ user?.location
                }}<span *ngIf="user.location && user.distance !== undefined">, a
                </span></span><span *ngIf="user.distance !== undefined">{{ user.distance }}km</span>
            </h3>
            <p>{{ user.description }}</p>
          </ion-label>
          <ion-note slot="end">{{ user.match }}%</ion-note>
        </ion-item>
      </ion-list>
    </ng-template>
  </div>
  <ng-template #noUsers>
    <div class="full-center" padding>
      <ion-icon name="search"></ion-icon>
      <h2>Sin resultados</h2>
      <p>
        Cambia las palabras de búsqueda para mejorar los resultados.
      </p>
    </div>
  </ng-template>
</ion-content>