<ion-header no-border>
  <ion-toolbar>
    <ion-title>Avisos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="notifications?.length || showSkeleton; else noNotifications">
    <ion-list *ngIf="showSkeleton; else notificationItems">
      <ion-item *ngFor="let i of [].constructor(8)" lines="full">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #notificationItems>
      <ion-list *ngIf="notifications?.length; else noNotifications">
        <ion-item
          button
          (click)="goToUrl(notification.url)"
          *ngFor="let notification of notifications"
          lines="full"
        >
          <ion-avatar slot="start">
            <img [src]="notification.user.avatar" />
          </ion-avatar>
          <ion-label>
            <h2>{{ notification.user.username }}</h2>
            <p>{{ notification.text }}</p>
          </ion-label>
          <ion-note slot="end">{{
            notification.time_creation | date: "shortTime"
          }}</ion-note>
        </ion-item>
      </ion-list>
    </ng-template>
  </div>
  <ng-template #noNotifications>
    <div class="full-center" padding>
      <ion-icon name="notifications-off"></ion-icon>
      <h2>Sin notificaciones</h2>
      <p>
        No tienes notificaciones pendientes en este momento.
      </p>
    </div>
  </ng-template>
</ion-content>
