<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!pressOptions">
      <ion-button *ngIf="showBackButton" class="back" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="showProfile(userId)" shape="round">
        <ion-avatar>
          <ion-img
            *ngIf="user"
            [src]="user?.thumbnail"
            [alt]="user?.username"
          ></ion-img>
          <ion-skeleton-text animated *ngIf="!user"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>{{ user?.name }}</h2>
          <p>
            <ion-badge
              color="secondary"
              *ngIf="(user?.last_login | niceDate) === ('just-now' | i18n)"
              >&nbsp;</ion-badge
            >{{
              toUserWriting
                ? toUserWriting
                : (user?.last_login | niceDate) === ("just-now" | i18n)
                ? "Online"
                : (user?.last_login | niceDate)
            }}
          </p>
        </ion-label>
      </ion-button>
      <ion-icon
        *ngIf="user && userSvc.getRoleIcon(user)"
        [name]="userSvc.getRoleIcon(user)"
        [src]="userSvc.getRoleIcon(user)"
        slot="icon-only"
        size="small"
        [color]="userSvc.getRoleColor(user)"
        (click)="userSvc.showRole(user)"
      ></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="pressOptions">
      <ion-button (click)="pressOptions = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons
      slot="end"
      *ngIf="
        !pressOptions &&
        user?.active &&
        !user?.banned &&
        !user?.roles?.includes('ROLE_DEMO')
      "
    >
      <ion-button (click)="showOptions($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="pressOptions">
      <ion-button
        (click)="edit()"
        *ngIf="selectedMessage?.fromuser?.id == auth.currentUserValue.id"
      >
        <ion-icon slot="icon-only" name="pencil-sharp"></ion-icon>
      </ion-button>
      <ion-button (click)="copy()">
        <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="reply()">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
      <ion-button
        (click)="deleteMessage()"
        *ngIf="selectedMessage?.fromuser?.id == auth.currentUserValue.id"
      >
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (tap)="pressOptions = false">
  <ion-list>
    <span
      class="bubble"
      [ngClass]="
        message?.fromuser?.id !== messages[i - 1]?.fromuser?.id ||
        message?.reply_to ||
        (message?.time_creation | date : 'shortDate') !==
          (messages[i - 1]?.time_creation | date : 'shortDate')
          ? ''
          : 'same-user'
      "
      *ngFor="let message of messages; let i = index; trackBy: trackByFn"
    >
      <ion-chip
        color="primary"
        class="center"
        *ngIf="
          (message?.time_creation | date : 'shortDate') !==
          (messages[i - 1]?.time_creation | date : 'shortDate')
        "
      >
        <ion-label color="secondary">{{
          message.time_creation | date : "fullDate"
        }}</ion-label>
      </ion-chip>

      <ion-item
        *ngIf="message.reply_to"
        class="replyfrom"
        lines="none"
        button
        (click)="goToMessage(message)"
      >
        <ion-icon name="arrow-undo" color="light" slot="start"></ion-icon>
        <ion-thumbnail *ngIf="message?.reply_to?.image">
          <img [src]="message?.reply_to?.image" />
        </ion-thumbnail>
        <ion-label class="replyfrom-message">
          <p class="replyfrom-text">
            &#64;{{ message?.reply_to?.fromuser?.name }}
            {{ message?.reply_to?.text }}
          </p>
        </ion-label>
      </ion-item>

      <ion-item-sliding (ionDrag)="dragItem($event, message)">
        <ion-item-options side="start">
          <ion-item-option color="#1f1f1f">
            <ion-icon
              slot="icon-only"
              name="arrow-undo-outline"
              color="light"
            ></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item
          [id]="message.id"
          lines="none"
          button
          detail="false"
          (press)="selectMessage($event, message)"
          [ngClass]="
            selectedMessage?.id == message?.id && pressOptions ? 'pressed' : ''
          "
        >
          <ion-avatar slot="start">
            <img
              *ngIf="
                message?.fromuser?.id !== messages[i - 1]?.fromuser?.id ||
                message?.reply_to ||
                (message?.time_creation | date : 'ddhh') !==
                  (messages[i - 1]?.time_creation | date : 'ddhh') ||
                message?.event
              "
              (click)="showProfile(message.fromuser.id)"
              [src]="message.fromuser.thumbnail"
            />
          </ion-avatar>
          <ion-card
            (click)="showEvent(message.event)"
            *ngIf="message.event"
            class="message-event"
          >
            <ion-card-header>
              <ion-card-subtitle
                >{{ message.event?.date | date : "E d MMM y, HH:mm" }}
                {{
                  message.event?.date_end
                    ? " -
              " + (message.event?.date_end | date : "E d MMM y, HH:mm")
                    : ""
                }}</ion-card-subtitle
              >
              <ion-card-title>{{ message.event?.title }}</ion-card-title>
              <ion-text>
                {{
                  message.event?.type === "online"
                    ? "Online"
                    : message.event?.address + ", " + message.event?.country
                }}
              </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <!--Si cancelado o pasado-->
                  <ion-col
                    *ngIf="
                      message.event?.past || message.event.status == 'cancelled'
                    "
                  >
                    <ion-button
                      shape="round"
                      expand="full"
                      disabled
                      *ngIf="
                        !message.event?.past &&
                        message.event.status == 'cancelled'
                      "
                    >
                      <ion-icon
                        name="close-circle-outline"
                        slot="start"
                      ></ion-icon>
                      {{ "cita-canceladarechazada" | i18n }}
                    </ion-button>
                    <ion-button
                      shape="round"
                      expand="full"
                      *ngIf="
                        message.event?.past &&
                        message.event.status !== 'cancelled'
                      "
                      disabled
                    >
                      <ion-icon name="timer-outline" slot="start"></ion-icon>
                      {{ "cita-pasada" | i18n }}
                    </ion-button>
                  </ion-col>

                  <ion-col
                    *ngIf="
                      message.event?.participants?.length < 2 &&
                      !message.event?.past &&
                      message.event.status !== 'cancelled'
                    "
                  >
                    <ion-button
                      shape="round"
                      expand="full"
                      *ngIf="message?.fromuser?.id == auth.currentUserValue.id"
                      disabled
                    >
                      <ion-icon name="timer-outline" slot="start"></ion-icon>
                      {{ "espera-confirmacin" | i18n }}
                    </ion-button>
                    <ion-button
                      shape="round"
                      expand="full"
                      *ngIf="message?.fromuser?.id !== auth.currentUserValue.id"
                      (click)="$event.stopPropagation(); confirmDate(message)"
                    >
                      <ion-icon name="calendar-outline" slot="start"></ion-icon>
                      {{ "confirmar-cita" | i18n }}
                    </ion-button>
                  </ion-col>
                  <ion-col
                    *ngIf="
                      message.event?.participants?.length < 2 &&
                      !message.event?.past &&
                      message.event.status !== 'cancelled' &&
                      message?.fromuser?.id !== auth.currentUserValue.id
                    "
                  >
                    <ion-button
                      shape="round"
                      expand="full"
                      color="danger"
                      (click)="$event.stopPropagation(); declineDate(message)"
                    >
                      <ion-icon
                        name="close-circle-outline"
                        slot="start"
                      ></ion-icon>
                      {{ "rechazar-cita" | i18n }}
                    </ion-button>
                  </ion-col>
                  <ion-col
                    *ngIf="
                      message.event?.participants?.length >= 2 &&
                      !message.event?.past &&
                      message.event.status !== 'cancelled'
                    "
                  >
                    <ion-button shape="round" expand="full">
                      <ion-icon
                        name="checkmark-circle-outline"
                        slot="start"
                      ></ion-icon>
                      {{ "cita-confirmada" | i18n }}
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-button shape="round" expand="full" color="dark" disabled>
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-label>{{ "ver-detalles" | i18n }}</ion-label>
              </ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="!message?.event">
            <div *ngIf="message.image">
              <img (click)="openViewer(message)" [src]="message.image" />
              <ion-note class="note-image" *ngIf="!message?.text">
                <span *ngIf="message?.edited">{{ "editado" | i18n }}</span>
                {{ message.time_creation | chatDate }}
                <span *ngIf="message.fromuser?.id == auth.currentUserValue?.id">
                  <ion-icon *ngIf="message.sending" name="time"></ion-icon>
                  <ion-icon
                    *ngIf="!message.sending && !message.time_read"
                    name="checkmark"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="message.time_read"
                    color="secondary"
                    name="checkmark-done"
                  ></ion-icon>
                </span>
              </ion-note>
            </div>
            <ion-card-content *ngIf="message.text || message.audio">
              <p
                class="text-name"
                *ngIf="
                  message?.fromuser?.id !== messages[i - 1]?.fromuser?.id ||
                  message?.reply_to ||
                  (message?.time_creation | date : 'shortDate') !==
                    (messages[i - 1]?.time_creation | date : 'shortDate')
                "
              >
                <a (click)="showProfile(message.fromuser.id)">
                  <ion-text [color]="userSvc.getRoleColor(message.fromuser)">{{
                    message.fromuser.name
                  }}</ion-text>
                </a>
                <ion-icon
                  *ngIf="userSvc.getRoleIcon(message.fromuser)"
                  [name]="userSvc.getRoleIcon(message.fromuser)"
                  [src]="userSvc.getRoleIcon(message.fromuser)"
                  slot="icon-only"
                  [color]="userSvc.getRoleColor(message.fromuser)"
                  (click)="userSvc.showRole(message.fromuser)"
                >
                </ion-icon>
                <span class="note-time">
                  · {{ message.time_creation | chatDate }}
                </span>
              </p>
              <div class="text" *ngIf="!message?.event">
                <audio-player
                  *ngIf="message.audio"
                  [src]="message.audio"
                ></audio-player>
                <ion-text
                  *ngIf="message.text"
                  color="light"
                  class="message-text"
                  [innerHTML]="
                    message.text
                      | linky : { className: 'linkified' }
                      | hashtag
                      | mentions
                  "
                  (click)="$event.stopImmediatePropagation(); openUrl($event)"
                ></ion-text>
                <ion-text *ngIf="message.audio && !message.text">
                  🎤 {{ "audio-message-from" | i18n }}
                  {{ message.fromuser.name }}
                </ion-text>
                <span class="edited" *ngIf="message?.edited">
                  · {{ "editado" | i18n }}</span
                >
                <span *ngIf="message.fromuser?.id == auth.currentUserValue?.id">
                  <ion-icon *ngIf="message.sending" name="time"></ion-icon>
                  <ion-icon
                    *ngIf="!message.sending && !message.time_read"
                    name="checkmark"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="message.time_read"
                    color="secondary"
                    name="checkmark-done"
                  ></ion-icon>
                </span>
                <span class="text-note-time">
                  · {{ message.time_creation | date : "shortTime" }}
                </span>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-item-sliding>
    </span>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadChats($event)" position="top">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer
  *ngIf="
    (!user?.banned && user?.active && !user?.roles?.includes('ROLE_DEMO')) ||
    (auth.currentUserValue?.roles?.includes('ROLE_DEMO') &&
      user?.roles?.includes('ROLE_DEMO'))
  "
>
  <app-chat-input
    (onWriting)="setWriting()"
    (onSubmit)="sendMessage($event)"
    (onCreateEvent)="createEvent()"
    [(replying)]="replying"
    [(editing)]="editing"
    [selectedMessage]="selectedMessage"
    [events]="messages.length > 10"
    [microphone]="true"
  ></app-chat-input>
</ion-footer>
