::ng-deep {
    webcam video {
        width: 100%;
    }
}

.capture {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    ion-button {
        height: 100px;
        width: 100px;
    }

    ion-icon {
        font-size: 80px;
        color: white;
    }
}

img {
    padding-top: 98px;
    padding-bottom: 98px;
}