form {
  ion-slide {
    display: block;
    text-align: inherit;
    height: 85vh;
  }

  ion-item {
    --border-color: white;
  }

  ion-label {
    --color: #9c2c51 !important;
    white-space: inherit;

    p {
      color: white !important;
    }
  }
}
