<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "verificacin-dos-pasos" | i18n }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h4>{{ "te-hemos-enviado-un-cdigo" | i18n }}</h4>
  <p>{{ "introduce-cdigo-seguridad-para-verificar" | i18n }}</p>
  <form (submit)="submitCode()" [formGroup]="codeForm" autocomplete="off">
    <ion-item class="code">
      <ion-input
        aria-label
        autocomplete="off"
        formControlName="code"
        maxlength="6"
        name="code"
        placeholder="{{ 'codigo-seguridad' | i18n }}"
        required
        type="text"
      ></ion-input>
    </ion-item>
    <ion-button
      [disabled]="codeForm.invalid"
      color="primary"
      expand="block"
      type="submit"
      shape="round"
      >{{ "verificar" | i18n }}
    </ion-button>
  </form>
</ion-content>
