<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-title>Privacidad y seguridad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group>
            <ion-item-divider color="primary">
                <ion-icon name="lock" slot="start"></ion-icon>
                <ion-label>Seguridad</ion-label>
            </ion-item-divider>
            <!--<ion-item (click)="router.navigate(['settings/account'])" button lines="full">
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>Mi cuenta</ion-label>
            </ion-item>-->
            <ion-item (click)="passwordModal()" button lines="full">
                <ion-icon name="key" slot="start"></ion-icon>
                <ion-label>
                    <h2>Cambiar contraseña</h2>
                </ion-label>
            </ion-item>
            <!--<ion-item (click)="notificationsModal()" button lines="full">
                <ion-icon name="notifications" slot="start"></ion-icon>
                <ion-label>Notificaciones</ion-label>
            </ion-item>-->
            <ion-item (click)="DevicesSettingsModal()" button lines="full">
                <ion-icon name="notifications" slot="start"></ion-icon>
                <ion-label>
                    <h2>Dispositivos y notificaciones</h2>
                </ion-label>
            </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider color="primary">
                <ion-icon name="eye-off" slot="start"></ion-icon>
                <ion-label>Privacidad</ion-label>
            </ion-item-divider>
            <ion-item lines="full">
                <ion-icon name="pin" slot="start"></ion-icon>
                <ion-label>
                    <h2>Localización exacta</h2>
                    <p>Mostrar el nombre del lugar donde me encuentro.</p>
                </ion-label>
                <ion-checkbox slot="end" [(ngModel)]="!user.hide_location" (ngModelChange)="onChangeCheck('hide_location', $event)"></ion-checkbox>
            </ion-item>
            <ion-item lines="full">
                <ion-icon name="chatbubbles" slot="start"></ion-icon>
                <ion-label>
                  <h2>Mensajes directos</h2>
                  <p>Poder recibir mensajes de cualquier usuario, aunque no haya indicado que me gusta.</p>
                </ion-label>
                <ion-checkbox slot="end" [(ngModel)]="!user.block_messages" (ngModelChange)="onChangeCheck('block_messages', $event)"></ion-checkbox>
          </ion-item>
          <ion-item (click)="blockUsersModal()" button lines="full">
            <ion-icon name="hand" slot="start"></ion-icon>
            <ion-label>Usuarios bloqueados</ion-label>
        </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>