 ion-item {
    ion-label {
        --color: white !important;
    }

    ion-icon {
        color: white;
    }

    ion-label {
        p {
            white-space: normal;
            color: #bbb;
        }
    }
}