<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "configuracin" | i18n }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "seguridad" | i18n }}</h2>
        </ion-label>
      </ion-item-divider>
      <ion-item (click)="passwordModal()" button lines="full">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "cambiar-contrasea" | i18n }}</h2>
        </ion-label>
      </ion-item>
      <ion-item (click)="devicesSettingsModal()" button lines="full">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "dispositivos-notificaciones" | i18n }}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "autenticacin-dos-pasos" | i18n }}</h2>
          <p>{{"te-enviaremos-un-email-con" | i18n}}</p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Autenticación en dos pasos"
          [(ngModel)]="user.two_step"
          (ngModelChange)="onChangeCheck('two_step', !$event)"
        >
        </ion-checkbox>
      </ion-item>
      <ion-item button (click)="verificationModal()" lines="full">
        <ion-icon name="ribbon-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "verificacin-cuenta" | i18n }}</h2>
          <p *ngIf="user?.verified">
            {{ "comprueba-estado-verificacin-tu-cuenta" | i18n }}
          </p>
          <p *ngIf="!user?.verified">
            {{ "verifica-tu-cuenta-para-mejorar" | i18n }}
          </p>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="eye" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "privacidad" | i18n }}</h2>
        </ion-label>
      </ion-item-divider>
      <ion-item lines="full">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "localizacin-exacta" | i18n }}</h2>
          <p>{{ "mostrar-mi-distancia-kilmetros" | i18n }}</p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Localización exacta"
          [(ngModel)]="showLocation"
          (ngModelChange)="onChangeCheck('hide_location', $event)"
        ></ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "mensajes-directos" | i18n }}</h2>
          <p>{{"poder-recibir-mensajes-cualquier-usuario" | i18n}}</p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Mensajes directos"
          [(ngModel)]="allowMessages"
          (ngModelChange)="onChangeCheck('block_messages', $event)"
        ></ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "ltima-conexin" | i18n }}</h2>
          <p>{{"mostrar-momento-ltima-vez-que" | i18n}}</p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Última conexión"
          [(ngModel)]="showConnection"
          (ngModelChange)="onChangeCheck('hide_connection', $event)"
        ></ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="heart-dislike-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "ocultar-kokoros" | i18n }}</h2>
          <p>{{"no-quiero-que-puedan-ver" | i18n}}</p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Ocultar kokoros"
          [(ngModel)]="user.hide_likes"
          (ngModelChange)="onChangeCheck('hide_likes', !$event)"
        >
        </ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "perfil-pblico" | i18n }}</h2>
          <p>{{"mi-perfil-es-visible-pblicamente" | i18n}}</p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Perfil público"
          [(ngModel)]="user.public"
          (ngModelChange)="onChangeCheck('public', !$event)"
        >
        </ion-checkbox>
      </ion-item>
      <ion-item (click)="blockUsersModal()" button lines="full">
        <ion-icon name="hand-left-outline" slot="start"></ion-icon>
        <ion-label>{{ "usuarios-bloqueados" | i18n }}</ion-label>
      </ion-item>
      <ion-item (click)="hideUsersModal()" button lines="full">
        <ion-icon name="eye-off-outline" slot="start"></ion-icon>
        <ion-label>{{ "usuarios-ocultos" | i18n }}</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="apps" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "aplicacin" | i18n }}</h2>
        </ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-icon name="language-outline" slot="start"></ion-icon>
        <ion-select
          label="{{ 'seleccionar-idioma' | i18n }}"
          [(ngModel)]="language"
          (ionChange)="changeLanguage($event.detail.value)"
          aria-label
        >
          <ion-select-option value="es">Español</ion-select-option>
          <ion-select-option value="en">English</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="color-palette-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "seleccionar-tema" | i18n }}</h2>
        </ion-label>
      </ion-item>
      <ion-item button id="themes">
        <swiper [config]="themesOpts" mode="md">
          <ng-template swiperSlide>
            <div>
              <ion-item button lines="none" (click)="toggleTheme('dark')">
                <ion-thumbnail>
                  <img
                    src="/assets/img/layout/themes/theme-dark.png"
                    alt="dark"
                  />
                </ion-thumbnail>
              </ion-item>
              <ion-label>{{ "oscuro" | i18n }}</ion-label>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div>
              <ion-item button lines="none" (click)="toggleTheme('light')">
                <ion-thumbnail>
                  <img
                    src="/assets/img/layout/themes/theme-light.png"
                    alt="light"
                  />
                </ion-thumbnail>
              </ion-item>
              <ion-label>{{ "claro" | i18n }}</ion-label>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div>
              <ion-icon
                [name]="auth.isPremium() ? 'lock-open' : 'lock-closed'"
              ></ion-icon>
              <ion-item button lines="none" (click)="toggleTheme('cyberpunk')">
                <ion-thumbnail>
                  <img
                    src="/assets/img/layout/themes/theme-cyberpunk.png"
                    alt="cyberpunk"
                  />
                </ion-thumbnail>
              </ion-item>
              <ion-label>{{ "cyberpunk" | i18n }}</ion-label>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div>
              <ion-icon
                [name]="auth.isPremium() ? 'lock-open' : 'lock-closed'"
              ></ion-icon>
              <ion-item button lines="none" (click)="toggleTheme('fire')">
                <ion-thumbnail>
                  <img
                    src="/assets/img/layout/themes/theme-fire.png"
                    alt="fire"
                  />
                </ion-thumbnail>
              </ion-item>
              <ion-label>{{ "fuego" | i18n }}</ion-label>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div>
              <ion-icon
                [name]="auth.isPremium() ? 'lock-open' : 'lock-closed'"
              ></ion-icon>
              <ion-item button lines="none" (click)="toggleTheme('black')">
                <ion-thumbnail>
                  <img
                    src="/assets/img/layout/themes/theme-black.png"
                    alt="black"
                  />
                </ion-thumbnail>
              </ion-item>
              <ion-label>{{ "100-negro" | i18n }}</ion-label>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div>
              <ion-icon
                [name]="auth.isPremium() ? 'lock-open' : 'lock-closed'"
              ></ion-icon>
              <ion-item
                button
                lines="none"
                (click)="toggleTheme('strawberries-and-cream')"
              >
                <ion-thumbnail>
                  <img
                    src="/assets/img/layout/themes/theme-strawberries-and-cream.png"
                    alt="strawberries-and-cream"
                  />
                </ion-thumbnail>
              </ion-item>
              <ion-label>{{ "fresas-con-crema" | i18n }}</ion-label>
            </div>
          </ng-template>
        </swiper>
      </ion-item>
      <ion-item lines="full" (click)="clearLocalStorage()" button>
        <ion-icon name="refresh-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "restablecer-valores-predeterminados" | i18n }}</h2>
          <p>{{"esto-eliminar-datos-configuracin-almacenados" | i18n}}</p>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="person-circle" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "cuenta" | i18n }}</h2>
        </ion-label>
      </ion-item-divider>
      <ion-item lines="full" (click)="premiumModal()" button>
        <ion-icon name="infinite" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "frikiradar-unlimited" | i18n }}</h2>
          <p>{{ "configurar-mi-suscripcin" | i18n }}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="paymentsModal()" button>
        <ion-icon name="card-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "historial-pagos" | i18n }}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="usernameModal()" button>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "cambiar-nombre-usuario" | i18n }}</h2>
          <p>{{ user.username }}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="emailModal()" button>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "cambiar-correo-electrnico" | i18n }}</h2>
          <p>{{ user.email }}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="disableAccountModal()" button>
        <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ "desactivareliminar-cuenta" | i18n }}</h2>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
