<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-label>
          <h2>Seguridad</h2>
        </ion-label>
      </ion-item-divider>
      <!--<ion-item (click)="router.navigate(['settings/account'])" button lines="full">
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>Mi cuenta</ion-label>
            </ion-item>-->
      <ion-item (click)="passwordModal()" button lines="full">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Cambiar contraseña</h2>
        </ion-label>
      </ion-item>
      <ion-item (click)="devicesSettingsModal()" button lines="full">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Dispositivos y notificaciones</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Autenticación en dos pasos</h2>
          <p>
            Te enviaremos un email con un código de autenticación cada vez que
            inicies una nueva sesión.
          </p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Autenticación en dos pasos"
          [(ngModel)]="user.two_step"
          (ngModelChange)="onChangeCheck('two_step', !$event)"
        >
        </ion-checkbox>
      </ion-item>
      <ion-item
        button
        (click)="verificationModal()"
        lines="full"
        *ngIf="user.verified"
      >
        <ion-icon name="ribbon-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Verificación de la cuenta</h2>
          <p *ngIf="user?.verified">
            Comprueba el estado de verificación de tu cuenta.
          </p>
          <p *ngIf="!user?.verified">
            Verifica tu cuenta para mejorar la seguridad.
          </p>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="eye" slot="start"></ion-icon>
        <ion-label>
          <h2>Privacidad</h2>
        </ion-label>
      </ion-item-divider>
      <ion-item lines="full">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Localización exacta</h2>
          <p>Mostrar mi distancia en kilómetros.</p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Localización exacta"
          [(ngModel)]="!user.hide_location"
          (ngModelChange)="onChangeCheck('hide_location', $event)"
        ></ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Mensajes directos</h2>
          <p>
            Poder recibir mensajes de cualquier usuario, aunque no haya indicado
            que me gusta.
          </p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Mensajes directos"
          [(ngModel)]="!user.block_messages"
          (ngModelChange)="onChangeCheck('block_messages', $event)"
        ></ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Última conexión</h2>
          <p>
            Mostrar el momento de la última vez que entré a la aplicación o al
            chat.
          </p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Última conexión"
          [(ngModel)]="!user.hide_connection"
          (ngModelChange)="onChangeCheck('hide_connection', $event)"
        ></ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="heart-dislike-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Ocultar kokoros</h2>
          <p>
            No quiero que puedan ver quien me ha dado o a quien le he entregado
            kokoro.
          </p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Ocultar kokoros"
          [(ngModel)]="user.hide_likes"
          (ngModelChange)="onChangeCheck('hide_likes', !$event)"
        >
        </ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Perfil público</h2>
          <p>
            Mi perfil es visible públicamente desde internet compartiendo una
            URL (solamente nombre, avatar, descripción y gustos).
          </p>
        </ion-label>
        <ion-checkbox
          slot="end"
          aria-label="Perfil público"
          [(ngModel)]="user.public"
          (ngModelChange)="onChangeCheck('public', !$event)"
        >
        </ion-checkbox>
      </ion-item>
      <ion-item (click)="blockUsersModal()" button lines="full">
        <ion-icon name="hand-left-outline" slot="start"></ion-icon>
        <ion-label>Usuarios bloqueados</ion-label>
      </ion-item>
      <ion-item (click)="hideUsersModal()" button lines="full">
        <ion-icon name="eye-off-outline" slot="start"></ion-icon>
        <ion-label>Usuarios ocultos</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="apps" slot="start"></ion-icon>
        <ion-label>
          <h2>Aplicación</h2>
        </ion-label>
      </ion-item-divider>
      <!--<ion-item lines="full" (click)="patreon()" button>
        <ion-icon src="/assets/icon/patreon_coral.svg" slot="start"></ion-icon>
        <ion-label class="patreon">
          <h2>Vincular con Patreon</h2>
          <p>
            Vincula tu cuenta de FrikiRadar con Patreon para obtener acceso a
            todas las funciones exclusivas.
          </p>
        </ion-label>
      </ion-item>-->
      <ion-item lines="full" button id="themes">
        <ion-icon name="color-palette-outline" slot="start"></ion-icon>
        <ion-label class="patreon">
          <h2>Seleccionar tema</h2>
          <swiper [config]="themesOpts" mode="md">
            <ng-template swiperSlide>
              <div>
                <ion-item button lines="none" (click)="toggleTheme('dark')">
                  <ion-thumbnail>
                    <img src="/assets/img/layout/theme-dark.png" alt="dark" />
                  </ion-thumbnail>
                </ion-item>
                <ion-label>Oscuro</ion-label>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div>
                <ion-item button lines="none" (click)="toggleTheme('light')">
                  <ion-thumbnail>
                    <img src="/assets/img/layout/theme-light.png" alt="light" />
                  </ion-thumbnail>
                </ion-item>
                <ion-label>Claro</ion-label>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div>
                <ion-icon
                  [name]="auth.isPatreon() ? 'lock-open' : 'lock-closed'"
                ></ion-icon>
                <ion-item
                  button
                  lines="none"
                  (click)="toggleTheme('cyberpunk')"
                >
                  <ion-thumbnail>
                    <img
                      src="/assets/img/layout/theme-cyberpunk.png"
                      alt="cyberpunk"
                    />
                  </ion-thumbnail>
                </ion-item>
                <ion-label>Cyberpunk</ion-label>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div>
                <ion-icon
                  [name]="auth.isPatreon() ? 'lock-open' : 'lock-closed'"
                ></ion-icon>
                <ion-item button lines="none" (click)="toggleTheme('fire')">
                  <ion-thumbnail>
                    <img src="/assets/img/layout/theme-fire.png" alt="fire" />
                  </ion-thumbnail>
                </ion-item>
                <ion-label>Fuego</ion-label>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div>
                <ion-icon
                  [name]="auth.isPatreon() ? 'lock-open' : 'lock-closed'"
                ></ion-icon>
                <ion-item button lines="none" (click)="toggleTheme('black')">
                  <ion-thumbnail>
                    <img src="/assets/img/layout/theme-black.png" alt="black" />
                  </ion-thumbnail>
                </ion-item>
                <ion-label>100% Negro</ion-label>
              </div>
            </ng-template>
          </swiper>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="clearLocalStorage()" button>
        <ion-icon name="refresh-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Restablecer valores predeterminados</h2>
          <p>
            Esto eliminará los datos de configuración almacenados en tu
            dispositivo actual. Úsalo solamente si sabes lo que haces.
          </p>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-icon name="person-circle" slot="start"></ion-icon>
        <ion-label>
          <h2>Cuenta</h2>
        </ion-label>
      </ion-item-divider>
      <ion-item lines="full" (click)="usernameModal()" button>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Cambiar nombre de usuario</h2>
          <p>{{ user.username }}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="emailModal()" button>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Cambiar correo electrónico</h2>
          <p>{{ user.email }}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full" (click)="disableAccountModal()" button>
        <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Desactivar/eliminar la cuenta</h2>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
<ion-footer id="banner"></ion-footer>
